<div class="container">
  <div nz-row class="align-items-center"> 
  <!-- <header-i18n showLangText="false" class="langs"></header-i18n> -->
  <div class="wrap">
    <!-- <div class="top">
      <div class="head heading">
        <div class="center">
        <img class="logo" src="./assets/logo-color.png" />
        <span class="title">xManna Admin</span>
      </div>
      </div>

      <div class="head mt20">
        <span class="title subtitle">Welcome Back!</span>
      </div>
    </div> -->
    <router-outlet></router-outlet>
    <global-footer>
      xManna Technologies
      <i nz-icon nzType="copyright"></i> 2021
      <!-- <a href="//github.com/cipchk" target="_blank">卡色</a>出品 -->
    </global-footer>
  </div>
</div>
</div>
<!-- <theme-btn></theme-btn> -->
