<nz-page-header class="site-page-header user_rightbar">
    <!--avatar-->
    <nz-avatar nz-page-header-avatar [nzShape]="'square'"
      nzSrc="{{ record.logo ? record.logo : 'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'}}"
    ></nz-avatar>
  
    <!--title-->
    <nz-page-header-title>{{ record.name }}</nz-page-header-title>
  
    <nz-page-header-extra *ngIf="record.status !== 'cancelled'">
      <nz-tag *ngIf="record.status !== 'aborted' && record.status !== 'finished'"  nzcolor="error" class="ant-tag ant-tag-error ng-star-inserted mouse" 
      (click)="cancelMatch(record.status)" ng-reflect-nz-color="error">Cancel Match</nz-tag>
      <nz-tag *ngIf="record.status == 'aborted'"  nzcolor="error" class="ant-tag ant-tag-error ng-star-inserted mouse" 
      ng-reflect-nz-color="error" (click)="cancelMatch(record.status)">Refund Fees</nz-tag>
      <nz-tag *ngIf="record.status == 'finished'"  nzcolor="error" class="ant-tag ant-tag-error ng-star-inserted mouse" 
      ng-reflect-nz-color="error" (click)="cancelMatch(record.status)">Refund Fees</nz-tag>
        <nz-page-header-subtitle
          ><i nz-icon nzType="reload" nzTheme="outline"></i>
        </nz-page-header-subtitle>
    </nz-page-header-extra>
  
    <!--content-->
    <nz-page-header-content class="white_bg">
      <div nz-row>
        <div class="content w-100">
          <nz-tabset nzType="card">
            <nz-tab
              *ngFor="let tab of tabs; let i=index;"
              [nzTitle]="tab"
              (nzClick)="tabSelect(tab)"
            >
<nz-spin *ngIf="!this.transactionDetails.tab" nzSimple></nz-spin>

              <!-- Games Info Tab Open -->
              <div class="content" *ngIf="i == 0">
                <div
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="10" nzSm="20">
                    Status:
                    <nz-tag nzColor="success" *ngIf="record.status == 'open'">{{
                        record.status | titlecase
                      }}</nz-tag>
                      <nz-tag nzColor="error" *ngIf="record.status == 'cancelled' || record.status == 'aborted'  || record.status == 'decline'">{{
                        record.status | titlecase
                      }}</nz-tag>
                      <nz-tag nzColor="default" *ngIf="record.status == 'finished'">{{
                        record.status | titlecase
                      }}</nz-tag>
                      <nz-tag nzColor="warning" *ngIf="record.status == 'tie' || record.status == 'close' || record.status == 'rematch' || record.status == 'reported'">{{
                        record.status | titlecase
                      }}</nz-tag>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <!-- <h6 class="text-center">General</h6> -->
                <nz-table>
                  <tbody>
                    <tr>
                      <td class="text-right">Challenge ID :</td>
                      <td>{{ record._id }}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Challenge Started :</td>
                        <td>{{ record.createdAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                      </tr>
                      <tr *ngIf="record.status !== 'open'" >
                        <td class="text-right">Challenge Finished :</td>
                        <td>{{ record.updatedAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                      </tr>
                      <tr *ngIf="record.status === 'open'" >
                        <td class="text-right">Time Left :</td>
                        <td>{{ record.daysLeft}}</td>
                      </tr>
                    <tr>
                      <td class="text-right">Seed :</td>
                      <td>{{record.randomCount}}</td>
                    </tr>
                    <tr>
                      <td class="text-right">Game :</td>
                      <td>{{record.game.name}}</td>
                      <!-- <td>{{ record.structure | titlecase }}</td> -->
                    </tr>
                    <tr>
                      <td class="text-right">Players :</td>
                      <td>
                        2 of 2
                        <!-- <a>{{ record.primaryEmail }}</a> -->
                      </td>
                    </tr>
                    <tr>
                      <td class="text-right">Entry Fee :</td>
                      <!-- <td>6 USD</td> -->
                      <td *ngIf="record.playOption.playMode === 'm'">{{record.playOption.fee | number}} USD</td>
                      <td *ngIf="record.playOption.playMode === 'p'">{{record.playOption.fee | number}} xCoins</td>
                    </tr>
                    <tr>
                      <td class="text-right">Prize Pool :</td>
                      <td *ngIf="record.playOption.playMode === 'm'">{{ prizePool | number}} USD</td>
                      <td *ngIf="record.playOption.playMode === 'p'">{{ prizePool | number}} xCoins</td>
                    </tr>
                  </tbody>
                </nz-table>
                <h6 class="">Bouts</h6>
                <nz-table>
                    <tbody>
                        <thead>
                            <th class="thPadding">Pos.</th>
                            <th class="thPadding">Flag</th>
                            <th class="thPadding">Player</th>
                            <th class="thPadding">Score</th>
                            <th class="thPadding">Joined at</th>
                            <th class="thPadding">Played at</th>
                        </thead>
                        <tr *ngIf="record.bouts">
                            <td class="tdPadding">1</td>
                            <!-- <td class="tdPadding"> <img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg" alt="" /></td> -->
                            <td class="tdPadding"> <span class="flag-icon flag-icon-{{record.bouts.playerOne.flag}} flag-icon-squared"></span></td>
                            <td class="tdPadding"><span *ngIf="( record.bouts.playerOne.score > record.bouts.playerTwo.score ) || !record.bouts.playerTwo.score" nz-typography nzType="success">{{record.bouts.playerOne.playerId.username}}</span>
                              <span *ngIf="record.bouts.playerTwo.playerId && ( record.bouts.playerOne.score < record.bouts.playerTwo.score )" nz-typography nzType="danger">{{record.bouts.playerOne.playerId.username}}</span>
                              <span class="text-small" nz-typography nzType="secondary">{{record.bouts.playerOne.playerId._id}}</span> </td>
                            <td class="tdPadding">{{record.bouts.playerOne.score}}</td>
                            <td class="tdPadding">{{record.bouts.playerOne.startedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                            <td class="tdPadding">{{record.bouts.playerOne.playedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                        </tr>
                        <tr *ngIf="record.bouts">
                            <td class="tdPadding">2</td>
                            <td class="tdPadding"> <span class="flag-icon flag-icon-{{record.bouts.playerTwo.flag}} flag-icon-squared"></span></td>
                            <!-- <td class="tdPadding"> <img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg" alt="" /></td> -->
                            <td class="tdPadding">
                              <span *ngIf="record.bouts.playerTwo.playerId && ( record.bouts.playerOne.score < record.bouts.playerTwo.score )" nz-typography nzType="success">{{record.bouts.playerTwo.playerId.username}}</span>
                              <span *ngIf="(record.bouts.playerTwo.playerId && ( record.bouts.playerOne.score > record.bouts.playerTwo.score ) )" nz-typography nzType="danger">{{record.bouts.playerTwo.playerId.username}}</span>
                              <span class="text-small" nz-typography nzType="secondary">{{record.bouts.playerTwo.playerId ? record.bouts.playerTwo.playerId._id : 'Not Joined'}}</span></td>
                            <td class="tdPadding">{{record.bouts.playerTwo.score}}</td>
                            <td class="tdPadding">{{record.bouts.playerTwo.startedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                            <td class="tdPadding">{{record.bouts.playerTwo.playedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="border_top my-2"></div>
                <h6 class="">Prize Distribution</h6>
                <nz-table *ngIf="record.playOption.playMode ==='m'">
                    <tbody>
                        <thead>
                            <th class="thPadding">Position</th>
                            <th class="thPadding">Prize (USD)</th>
                            <th class="thPadding">Trophies</th>
                            <th class="thPadding">Experience</th>
                        </thead>
                        <tr *ngFor="let prize of record.playOption.rewardQuantity">
                            <td class="tdPadding">1</td>
                            <td class="tdPadding">{{prize.USD}}</td>
                            <td class="tdPadding">{{prize.trophies}} </td>
                            <td class="tdPadding">{{prize.experience}}</td>
                        </tr>
                    </tbody>
                </nz-table>

                <nz-table *ngIf="record.playOption.playMode ==='p'">
                  <tbody>
                      <thead>
                          <th class="thPadding">Position</th>
                          <th class="thPadding">Prize (xCoins)</th>
                          <th class="thPadding">Ribbons</th>
                          <th class="thPadding">Experience</th>
                      </thead>
                      <tr *ngFor="let prize of record.playOption.rewardQuantity">
                          <td class="tdPadding">1</td>
                          <td class="tdPadding">{{prize.xCoins}}</td>
                          <td class="tdPadding">{{prize.ribbons}} </td>
                          <td class="tdPadding">{{prize.experience}}</td>
                      </tr>
                  </tbody>
              </nz-table>
              </div>
              <!-- Challenge Info Tab Close -->
  
          <!-- Transactions tab open-->

          <div class="content" *ngIf="i ==1">
            <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="24" nzSm="48">

                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="this.transactionDetails.tab"  >
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box"><span nz-typography><strong><h5>Transaction</h5></strong></span></div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box"><span nz-typography><strong><h5>Player</h5></strong></span></div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box"><span nz-typography><strong><h5>Hash</h5></strong></span></div></div>
            
                  <div class="mt20" nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">Creator</div></div>
                  <div class="mt20" nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box d-flex flex-column">
                  <span>{{record.bouts ? record.bouts.playerOne.playerId.username: 'Not joined'}}</span><span class="text-small" nz-typography nzType="secondary">{{this.transactionDetails.data ? this.transactionDetails.data.create.player : ''}}</span>
                  </div></div>
                  <div class="mt20" nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">{{this.transactionDetails.data ? this.transactionDetails.data.create.hash: 'No hash'}}</div></div>

                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">Joiner</div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box d-flex flex-column">
                    <span>{{record.bouts ? (record.bouts.playerTwo.playerId ? record.bouts.playerTwo.playerId.username : 'N/A'): 'Not joined'}}</span><span class="text-small" nz-typography nzType="secondary"><span *ngIf="this.transactionDetails.data">{{this.transactionDetails.data && this.transactionDetails.data.join ? this.transactionDetails.data.join.player: ''}}</span></span>
                  </div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box"><span *ngIf="this.transactionDetails.data">{{this.transactionDetails.data && this.transactionDetails.data.join ? this.transactionDetails.data.join.hash: 'No hash'}}</span><span *ngIf="!this.transactionDetails.data">No hash</span></div></div>

                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">Winner</div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box d-flex flex-column">
                    <span>{{record.bouts ? (record.bouts.playerOne.score ? (record.bouts.playerOne.score > record.bouts.playerTwo.score ? record.bouts.playerOne.playerId.username : record.bouts.playerTwo.playerId.username) : ''): 'Not joined'}}</span><span class="text-small" nz-typography nzType="secondary"><span *ngIf="this.transactionDetails.data">{{this.transactionDetails.data && this.transactionDetails.data.finished ? this.transactionDetails.data.finished.player : ''}}</span></span>
                  </div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box"><span *ngIf="this.transactionDetails.data">{{this.transactionDetails.data && this.transactionDetails.data.finished ? this.transactionDetails.data.finished.hash : 'No hash'}}</span><span *ngIf="!this.transactionDetails.data">No hash</span></div></div>

                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box">Decline</div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box d-flex flex-column">
                    <span></span><span class="text-small" nz-typography nzType="secondary"><span *ngIf="this.transactionDetails.data">{{this.transactionDetails.data && this.transactionDetails.data.decline ? this.transactionDetails.data.decline.player : ''}}</span></span>
                  </div></div>
                  <div nz-col class="gutter-row" [nzSpan]="8"><div class="inner-box"><span *ngIf="this.transactionDetails.data">{{this.transactionDetails.data && this.transactionDetails.data.decline ? this.transactionDetails.data.decline.hash : 'No hash'}}</span></div></div>
                </div>
                </div>
            </div>
         </div>


          <!-- Transactions tab close-->
  
              <!-- Tab Open -->
              <div class="content" *ngIf="tab == 'Financial Stats'">
                <div
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="12" nzSm="24">
                    <h6>Practice</h6>
                    <h2 class="text_blue mb-0">155 xCoins</h2>
                    <p class="bold text_gray">
                      1,620 <span class="font14 semibold">All-time</span>
                    </p>
                  </div>
                  <div nz-col nzMd="12" nzSm="24">
                    <h6>Tickets</h6>
                    <h2 class="text_pink mb-0">2 tickets</h2>
                    <p class="bold text_gray">
                      31 <span class="font14 semibold">All-time</span>
                    </p>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <div
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="24" nzSm="24">
                    <h6>Fiat</h6>
                    <h2 class="text_green mb-0">106.56 USD</h2>
                    <p class="bold text_gray">
                      1,010.20 <span class="font14 semibold">All-time</span>
                    </p>
                  </div>
                </div>
  
                <div
                  nz-row
                  [nzGutter]="{ xs: 12, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="24" nzSm="24">
                    <g2-mini-progress
                      height="20px"
                      percent="86.20"
                      strokeWidth="24"
                      target="90"
                      color="#95DE64"
                    ></g2-mini-progress>
                  </div>
                </div>
                <div
                  nz-row
                  [nzGutter]="{ xs: 12, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="24" nzSm="24">
                    <nz-table>
                      <tbody>
                        <tr>
                          <td class="bg_gray border_right_white">
                            <h2 class="text_green mb-0">90.76 USD</h2>
                            <p class="bold mb-0">86.20% Real Funds</p>
                          </td>
                          <td class="bg_gray">
                            <h2 class="text_green mb-0">15.80 USD</h2>
                            <p class="bold mb-0">14.80% Bonus Cash</p>
                          </td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
  
                <div class="border_top my-2"></div>
                <div
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="24" nzSm="24">
                    <h6>Crypto</h6>
                    <p class="bold text_gray">Total</p>
                    <h2 class="text_purple mb-0">≈ 417.92 USD</h2>
                  </div>
                </div>
  
                <!-- Accordine Open -->
                <div nz-col nzMd="24">
                  <nz-collapse [nzBordered]="false">
                    <nz-collapse-panel
                      *ngFor="let panel of panels"
                      [nzHeader]="panel.name"
                      [nzActive]="panel.active"
                      [nzExtra]="extraTpl"
                    >
                      <div
                        nz-row
                        [nzGutter]="{
                          xs: 8,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div nz-col nzMd="24" nzSm="24">
                          <h2 class="text_purple mb-0">51.20 USDT</h2>
                          <p class="bold text_gray">
                            112.30 <span class="font14 semibold">All-time</span>
                          </p>
                        </div>
                      </div>
  
                      <div
                        nz-row
                        [nzGutter]="{
                          xs: 12,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }"
                      >
                        <div nz-col nzMd="24" nzSm="24">
                          <g2-mini-progress
                            height="20px"
                            percent="86.20"
                            strokeWidth="24"
                            target="90"
                            color="#B37FEB"
                          ></g2-mini-progress>
                        </div>
                        <div nz-col nzMd="24" nzSm="24">
                          <nz-table>
                            <tbody>
                              <tr>
                                <td class="bg_gray border_right_white">
                                  <h2 class="text_purple mb-0">46.08 USDT</h2>
                                  <p class="bold mb-0">
                                    <span nz-typography nzType="secondary"
                                      >90.00% Real Funds</span
                                    >
                                  </p>
                                </td>
                                <td class="bg_gray">
                                  <h2 class="text_gray mb-0">5.12 USDT</h2>
                                  <p class="bold mb-0">
                                    <span nz-typography nzType="secondary"
                                      >10.00% Bonus Cash</span
                                    >
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </nz-table>
                        </div>
                      </div>
                    </nz-collapse-panel>
                  </nz-collapse>
                  <ng-template #extraTpl
                    ><span class="balance_value">1.30</span> ≈ 360.77 USD
                  </ng-template>
                </div>
                <!-- Accordine End -->
              </div>
              <!-- Balance Tab Close -->
  
  
              <!-- Admin Actions Tab Open -->
              <div class="content" *ngIf="i == 2">
                <nz-result *ngIf="record.status == 'open'" 
                nzStatus="success"
                nzTitle="All good. No reports here."
              >
              </nz-result>
                <div
                  class="mt20" *ngIf="record.status !== 'open' && record.status !== 'aborted'" 
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >


                  <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                  <div nz-col nzMd="18" nzXs="20" class="right">
                    <nz-timeline nzMode="left">
                      <!--Time line 1-->
                      <nz-timeline-item>
                        <div class="date_time">
                          30.11.2021<br />
                          15:10:22
                        </div>
                        <!-- <div class="name_title">RM</div> -->
                        <span nz-typography nzType="secondary"
                          >Player <a>bigbear444</a></span
                        >
                        <p class="d-flex flex-column text-small">
                            Reported a game crash in challenge 608712b2785f205e5625d561.
                          <a>Show game log</a>
                          
                        </p>
                        <div nz-typography nzType="secondary" class="bg_gray p10">
                            I was playing xSolitaire and then the game just crashed. 
                            Screenshot attached.
                        </div>
                        <div class="pl-2">
                          <img
                            src="./assets/report.jpeg"
                            style="width: 100px; height:100px;"
                          />
                      </div>
                      <div class="mt20 d-flex flex-grow-1">
                        <button nz-button nzType="danger" nzGhost *ngIf="record.status !== 'aborted' && record.status !== 'finished'" 
                        (click)="cancelMatch(record.status)">Cancel Match</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a>
                        Ignore Report
                      </a>
                    </div>
                      </nz-timeline-item>
                      <!-- /Time line 1-->
  
                    </nz-timeline>
                  </div>
                </div>

                <div
                class="mt20" *ngIf="record.status === 'aborted'"
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                <div nz-col nzMd="18" nzXs="20" class="right">
                  <nz-timeline nzMode="left">
                    <!--Time line 1-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <nz-avatar
                      nz-page-header-avatar
                      nzSize="small"
                      [nzSrc]="
                        './assets/admin.svg'
                      "
                    >
                    </nz-avatar>
                    &nbsp;
                      <!-- <div class="name_title">RM</div> -->
                      <span nz-typography nzType="secondary"
                        >Roma Gordon</span
                      >
                      <p>
                        <span nz-typography>Cancelled challenge without refunds.</span>.
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 1-->

                    <!--Time line 2-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <!-- <div class="name_title">RM</div> -->
                      <span nz-typography nzType="danger"
                        >Cheating Activity</span
                      >
                      <!-- <p> -->
                      <div nz-typography>
                        Our system has spotted a cheating mechanism in challenge {{record._id}} used by <a (click)="cheaterDetails(record.challengers[1].playerId)">ImNotCheater.</a><br />
                      </div>
                      <!-- </p> -->
                    </nz-timeline-item>
                    <!-- /Time line 2-->
                  </nz-timeline>
                </div>
              </div>
              </div>
              <!-- Admin Actions Tab Close -->
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
  