@import '~@delon/theme/index';
:host {
  display: block;
  width: 36%;
  margin: 0 auto;
  ::ng-deep {
    .ant-tabs .ant-tabs-bar {
      margin-bottom: 24px;
      text-align: center;
      border-bottom: 0;
    }
    .ant-tabs-tab {
      font-size: 16px;
      line-height: 24px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 4px;
    }
    .icon {
      margin-left: 16px;
      color: rgba(0, 0, 0, 0.2);
      font-size: 24px;
      vertical-align: middle;
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: @primary-color;
      }
    }
    .other {
      margin-top: 24px;
      line-height: 22px;
      text-align: left;
      nz-tooltip {
        vertical-align: middle;
      }
      .register {
        float: right;
      }
    }
  }
}
.subtitle{
  color:black;
  font-weight: 500;
}

.heading{
  background: black;
  height:64px;
  line-height: 4.2rem;
  text-align: center;
  justify-content: center;
  display:flex;
}

@media screen and (max-width: 540px) {
  :host {
    width:100%;
  }
}

nz-steps {
  display: block;
  margin-bottom: 60px;
  box-shadow: rgb(232, 232, 232) 0px -1px 0px 0 inset;
}

[data-theme='dark'] {
  :host ::ng-deep {
    .icon {
      color: rgba(255, 255, 255, 0.2);
      &:hover {
        color: #fff;
      }
    }
  }
}
