<div class="top" *ngIf="loginTab">
  <div class="head heading">
    <div class="center">
    <img class="logo" src="./assets/logo-color.png" />
    <span class="title">xManna Admin</span>
  </div>
  </div>

  <div class="head mt20">
    <span class="title subtitle">Welcome Back!</span>
  </div>
</div>

<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form" class="mt20" *ngIf="loginTab"  >
  <!-- <nz-tabset [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)" [(nzSelectedIndex)]="selectedIndex">
    <nz-tab [nzTitle]="'app.login.tab-login-credentials' | translate"> -->
      <!-- <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter username">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="userName" placeholder="username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item> -->
        <nz-form-item>
          <nz-form-control   nzValidatingTip="Validating...">
              <nz-input-group nzSize="large" nzPrefixIcon="mail">
            <input nz-input formControlName="userName" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control   nzValidatingTip="Validating..." [nzErrorTip]="passwordErrorTpl">
              <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type= 'password' formControlName="password" placeholder="Password" />
            </nz-input-group>
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Password is required.
              </ng-container>
              <ng-container *ngIf="control.hasError('password')">
                Username or password is not correct.
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
        <nz-form-control nzErrorTip="Please enter password">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input  nz-input type="password" formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item> -->
    <!-- </nz-tab> -->
    <!-- <nz-tab [nzTitle]="'app.login.tab-login-mobile' | translate">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="mobileErrorTip">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="mobile" placeholder="mobile number" />
          </nz-input-group>
          <ng-template #mobileErrorTip let-i>
            <ng-container *ngIf="i.errors.required">
              {{ 'validation.phone-number.required' | translate }}
            </ng-container>
            <ng-container *ngIf="i.errors.pattern">
              {{ 'validation.phone-number.wrong-format' | translate }}
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'validation.verification-code.required' | translate">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-group nzSize="large" nzPrefixIcon="mail">
                <input nz-input formControlName="captcha" placeholder="captcha" />
              </nz-input-group>
            </nz-col>
            <nz-col [nzSpan]="8">
              <button
                type="button"
                nz-button
                nzSize="large"
                (click)="getCaptcha()"
                [disabled]="count >= 0"
                nzBlock
                [nzLoading]="http.loading"
              >
                {{ count ? count + 's' : ('app.register.get-verification-code' | translate) }}
              </button>
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </nz-tab> -->
  <!-- </nz-tabset> -->
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">{{ 'app.login.remember-me' | translate }}</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a (click)="forgotPassword()" class="forgot">{{ 'app.login.forgot-password' | translate }}</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="loading" nzBlock>
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
</form>
<!--  reset password section (open)  --> 
<div class="reset-password" *ngIf="!loginTab"  >
  <div class="text-center"><h2 class="head">Reset Password</h2></div>
  <nz-steps nzType="navigation" [nzCurrent]="current" [nzStartIndex]="0">
    <nz-step nzTitle="Security Key" [nzStatus]="secretKeyTabStatus"></nz-step>
    <nz-step nzTitle="New Password" [nzStatus]="resetPassTabStatus"></nz-step>
  </nz-steps>
  <form nz-form [formGroup]="resetForm" (ngSubmit)="save(resetForm.valid, resetForm.value)" *ngIf="index == 0">
  <h3>Enter the secret key we have sent to your email.</h3>
      <!-- <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter valid secret key">
                    <nz-input-group nzSize="large" nzPrefixIcon="key">
            <input nz-input type="text" formControlName="secretKey" placeholder="Enter secret-key" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item> -->
      <nz-form-item>
        <nz-form-control   nzValidatingTip="Validating..." [nzErrorTip]="secretKeyErrorTpl">
            <nz-input-group nzSize="large" nzPrefixIcon="key">
          <input nz-input  formControlName="secretKey" placeholder="Enter scret-key" />
          </nz-input-group>
          <ng-template #secretKeyErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please enter valid secret key
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicate')">
              Please enter valid secret key
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    
      <div class="modal_footer text-right mt20">
        <button  nz-button nzType="primary" nzBlock nzSize="large"
        type="submit" [disabled]="!resetForm.valid">Continue</button>
      </div>
  </form>

  <form nz-form [formGroup]="confirmForm" (ngSubmit)="saveConfirm(confirmForm.valid, confirmForm.value)" *ngIf="index == 1">
    <!-- <nz-form-item>
      <nz-form-control nzErrorTip="Please enter password">
        <nz-input-group nzSize="large" nzPrefixIcon="lock" >
          <input  nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" placeholder="New Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
      <nz-form-control   nzValidatingTip="Validating..." [nzErrorTip]="passwordsErrorTpl">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
        <input nz-input  formControlName="password" placeholder="New Password" (ngModelChange)="validateConfirmPassword()" />
        </nz-input-group>
        <ng-template #passwordsErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter password
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicate')">
            Please enter valid secret key
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control   nzValidatingTip="Validating..." [nzErrorTip]="cpasswordErrorTpl">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
        <input nz-input  formControlName="confirmPassword" placeholder="Reset New Password" />
        </nz-input-group>
        <ng-template #cpasswordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please enter password
          </ng-container>
          <ng-container *ngIf="control.hasError('error')">
            Passwords don’t match.
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
      <nz-form-control nzErrorTip="Please enter same password as above">
        <nz-input-group nzSize="large" nzPrefixIcon="lock">
          <input  nz-input type="password" formControlName="confirmPassword" placeholder="Reset New Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item> -->

  <div class="modal_footer text-right mt20">
    <button  nz-button nzType="primary" nzBlock nzSize="large"
    type="submit" [disabled]="!confirmForm.valid">Reset Password</button>
  </div>
</form>
<div class="text-center mt20"><a (click)="backToLogin()">Back to login</a></div>
</div>
<!--  reset password section (close)  --> 

<!-- <div class="other">
  {{ 'app.login.sign-in-with' | translate }}
  <i nz-tooltip nzTooltipTitle="in fact Auth0 via window" (click)="open('auth0', 'window')" nz-icon nzType="alipay-circle" class="icon"></i>
  <i nz-tooltip nzTooltipTitle="in fact Github via redirect" (click)="open('github')" nz-icon nzType="taobao-circle" class="icon"></i>
  <i (click)="open('weibo', 'window')" nz-icon nzType="weibo-circle" class="icon"></i>
  <a class="register" routerLink="/passport/register">{{ 'app.login.signup' | translate }}</a>
</div> -->
