
<div class="modal-container">
    <div class="modal_header">
    <h3>{{ data.title }}</h3>
    </div>
      <form
        nz-form
        [formGroup]="gamesForm"
        (ngSubmit)="save(gamesForm.valid, gamesForm.value)"
      >
    <div class="modal-body pt-4">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Country Name</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="nameErrorTpl">
              <input nz-input formControlName="name" placeholder="" />
              <ng-template #nameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input country name!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>ISO2</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25" nzValidatingTip="Validating..." [nzErrorTip]="iso2ErrorTpl">
              <input nz-input (input)="onInput($event)" formControlName="iso2" placeholder="" maxlength="2" />
              <ng-template #iso2ErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input iso2!
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                  Please input iso2 only 2 characters long!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>ISO3</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="iso3ErrorTpl">
              <input nz-input  (input)="onInput($event)" formControlName="iso3" placeholder=""  maxlength="3"/>
              <ng-template #iso3ErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input iso3!
                </ng-container>
                <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                  Please input iso3 only 3 characters long!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Phone Code</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="phoneCodeErrorTpl">
              <input nz-input formControlName="phoneCode" placeholder="" />
              <ng-template #phoneCodeErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input phone code!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Invalid phone code format!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

    </div>
        <div class="modal_footer text-right">
          <button nz-button type="reset" class="ml-sm" (click)="closeModal()" >Cancel</button>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="!gamesForm.valid"
            [nzLoading]="submitting"
          >
            <span *ngIf='!this.data.record'>Save Country</span>
            <span *ngIf='this.data.record'>Save Updates</span>
          </button>
        </div>
      </form>

  
  <!-- </nz-card> -->
  </div>
  