<div class="alain-default__content-title">
  <div nz-col nzMd="4" nzSm="8">
    <h4 nz-typography>Settings</h4>
  </div>
  <div nz-col nzMd="15" nzSm="30">
    <nz-tabset [(nzSelectedIndex)]="selectedIndex">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="selectTab(tab)">
      </nz-tab>
    </nz-tabset>
  </div>
  <div nz-col nzMd="5" nzSm="10" class="text-right">
    <button nz-button *ngIf="selectedTab === 'Countries'" nzType="primary" nzGhost (click)="addCountry()">
      <i nz-icon nzType="plus"></i>Add Country
    </button>
    <button nz-button *ngIf="selectedTab === 'Deposit Options'" nzType="primary" nzGhost (click)="addDepositOption()">
      <i nz-icon nzType="plus"></i>Add Deposit Option
    </button>
    <button nz-button *ngIf="selectedTab === 'Prohibition'" nzType="primary" nzGhost (click)="addLocationProhibition()">
      <i nz-icon nzType="plus"></i>Add Prohibition
    </button>
  </div>
</div>

<!-- <div class="alain-default__content-title">
  <div nz-col nzMd="4" nzSm="8">
    <h4 nz-typography>Multiplayer</h4>
  </div>
  <div nz-col nzMd="20" nzSm="40">
    <nz-tabset [(nzSelectedIndex)]="selectedIndex">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="selectTab(tab)">
      </nz-tab>
    </nz-tabset>
  </div>
</div> -->
<!-- tab works for To Review (Open) -->
<div *ngIf="selectedTab === 'Countries'">
  <div class="white_box">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="submitFilterForm()" class="search__form d-block">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Country</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <input nz-input [(ngModel)]="q.name" name="name" placeholder="" id="name" />
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">State</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <input nz-input [(ngModel)]="q.state" name="state" placeholder="" id="state" />
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">Country ID</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <input nz-input [(ngModel)]="q._id" name="_id" placeholder="" id="_id" />
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">State ID</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <input nz-input [(ngModel)]="q.stateId" name="stateId" placeholder="" id="stateId" />
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">

          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
              <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
                Apply
              </button>
              <button nz-button type="reset" (click)="reset()" class="mx-sm">
                Reset
              </button>
              <a (click)="expandForm = !expandForm">
                {{ expandForm ? "Collapse" : "Expand" }}
                <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
              </a>
            </div>
          </div>

        </div>
        <div nz-col *ngIf="expandForm" [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
          <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
            Apply
          </button>
          <button nz-button type="reset" (click)="reset()" class="mx-sm">
            Reset
          </button>
          <a (click)="expandForm = !expandForm">
            {{ expandForm ? "Collapse" : "Expand" }}
            <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <nz-page-header class="site-page-header white_box mt10">
    <!--title-->
    <nz-page-header-title>Countries List</nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

    <!--extra-->
    <nz-page-header-extra>
      <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
      <nz-select [nzPlaceHolder]="'Country: A to Z'" [(ngModel)]="selectedSortBy" (ngModelChange)="sortBy($event)">
        <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
      <nz-page-header-subtitle><i nz-icon nzType="reload" (click)="reload()"></i></nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <span nz-dropdown [nzDropdownMenu]="menu1">
          <i nz-icon nzType="column-height"></i>
        </span>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="tableSize('default')"><span *ngIf="size === 'default'" nz-typography><a>Big
                  <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
            <li nz-menu-item (click)="tableSize('middle')">Medium</li>
            <li nz-menu-item (click)="tableSize('small')">Compact</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <!-- <i nz-icon nzType="setting"></i > -->
      </nz-page-header-subtitle>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="table_scroll white_box">
    <nz-table [(nzSize)]="size" nzShowSizeChanger [nzData]="listOfCountries" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzFrontPagination]="false"  [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzColumnKey="countries">Countries</th>
          <th nzColumnKey="ISO2">ISO2</th>
          <th nzColumnKey="ISO3">ISO3</th>
          <th nzColumnKey="states">States</th>
          <th nzColumnKey="last_updated">Last Updated</th>
          <th nzColumnKey="_id">ID</th>

          <!-- <th nzColumnKey="playerType" [nzSortFn]="true">24h Players</th> -->
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{ 'data-selected': selectedRow === data._id }"
          *ngFor="let data of listOfCountries; let i = index" (click)="rowClick(data)">
          <td>
            <a>{{ data.name }}</a>
          </td>
          <td>{{data.iso2}}</td>
          <td>{{data.iso3}}</td>
          <td>28</td>
          <td>{{ data.updatedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
          <td>{{data._id}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>





<div class="" *ngIf="selectedTab === 'Prohibition'">
  <app-location-prohibition></app-location-prohibition>
</div>


<div class="" *ngIf="selectedTab === 'Deposit Options'">
  <app-deposit-options></app-deposit-options>
</div>

<!-- tab works for To Review (Close) -->