.content {
  flex: 1;
}
.ant-page-header-heading-title {
  font-size: 17px;
}
.ant-page-header-content {
  padding-top: 0px;
}
.content p {
  margin-bottom: 1em;
}

.content-link a {
  margin-right: 16px;
}

.content-link a img {
  margin-right: 8px;
}

.content-image {
  margin: 0 0 0 60px;
  display: flex;
  align-items: center;
}

.content-image img {
  width: 100%;
}
.ant-card-bordered {
  border: 1px solid #d9d9d9;
}
.action_cart_title {
  position: absolute;
  left: 8px;
  top: 8px;
}

@media (max-width: 768px) {
  .content-image {
    flex: 100%;
    margin: 24px 0 0;
  }
}

:host {
  background: #f5f5f5;
  overflow: hidden;
  padding: 0px;
  display: block;
}

.card-container ::ng-deep p {
  margin: 0;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.card-container
  ::ng-deep
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}
.card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}
.card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.ant-drawer-body {
  padding: 0px !important;
}
.balance_value {
  position: absolute;
  left: 90px;
  font-size: 14px;
  color: #8c8c8c;
}
.ant-collapse-header .ant-collapse-extra {
  font-size: 14px;
  color: #8c8c8c;
}
.nz-timeline-item {
  position: relative;
}
.date_time {
  position: absolute;
  left: -40%;
  width: 25%;
  color: #262626;
  line-height: 24px;
}
.name_title {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 11px;
  display: inline-block;
  background: #f1312d;
  color: #fff;
  margin-right: 10px;
}
.name_title_warn {
  background: #e7bf0d;
}
.ant-row {
  padding-top: 7px;
}
span.ant-page-header-heading-title.ng-star-inserted{
  font-size: 15px;
 }
.cursor{
  cursor: pointer;
}
.example::-webkit-scrollbar {
  display: none;
}

i.anticon.font-weight-bolder.anticon-more{
  font-size: medium!important;
}