<nz-page-header class="site-page-header user_rightbar">
  <!--avatar-->
  <nz-avatar nz-page-header-avatar [nzShape]="'square'" nzSrc="{{ record.playOptions.logo 
    ? record.playOptions.logo : 'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4' }}"></nz-avatar>

  <!--title-->
  <nz-page-header-title>{{ record.playOptions.name }}</nz-page-header-title>

  <!--content-->
  <nz-page-header-content class="white_bg">
    <div nz-row>
      <div class="content w-100">
        <nz-tabset nzType="card">
          <nz-tab *ngFor="let tab of tabs; let i=index;" [nzTitle]="tab">

            <!-- Bets Info Tab Open -->
            <div class="content" *ngIf="i == 0">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzSpan="12" nzOffset="1">
                  Status:
                  <nz-tag nzColor="success" *ngIf="record.status == 'used'">{{record.status | titlecase}}</nz-tag>
                  <nz-tag nzColor="error" *ngIf="record.status == 'cancelled'">{{
                        record.status | titlecase
                    }}</nz-tag>
                  <nz-tag nzColor="default" *ngIf="record.status == 'finished' || record.status == 'created'">{{
                        record.status | titlecase
                    }}</nz-tag>
                  <nz-tag nzColor="warning" *ngIf="record.status == 'reported'">{{
                        record.status | titlecase
                    }}</nz-tag>
                </div>

              </div>
              <div class="border_top my-2"></div>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Bet ID :</td>
                    <td>{{ record._id }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Room ID :</td>
                    <td>{{ record._id }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Bet Created :</td>
                    <td>{{ record.createdAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Bet Used :</td>
                    <td>{{ record.usedAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                  </tr>
                  <tr>
                  <tr>
                    <td class="text-right">User :</td>
                    <td>{{record.user.username}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Game :</td>
                    <td>{{record.gameId}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Entry Fee :</td>
                    <td>5 USD</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <!-- Bets Info Tab Close -->

          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>