<nz-page-header class="site-page-header user_rightbar">
  <!--title-->
  <nz-page-header-title> {{record.state ? record.state : 'Default Deposit Options'}} </nz-page-header-title>

  <nz-page-header-extra>
    <nz-tag nzcolor="processing" class="ant-tag ant-tag-processing ng-star-inserted mouse" ng-reflect-nz-color="processing"
      (click)="editOptions(record)">Edit Options</nz-tag>
    <nz-page-header-subtitle>

    </nz-page-header-subtitle>
  </nz-page-header-extra>
  <!--content-->
  <nz-page-header-content class="white_bg">
    <div nz-row>
      <div class="content w-100">
        <nz-tabset nzType="card">
          <nz-tab *ngFor="let tab of tabs; let i=index;" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">

            <!-- Transaction Info Tab Open -->
            <div class="content" *ngIf="i == 0">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzSpan="12" nzOffset="1">
                </div>

              </div>
              <div class="border_top my-2"></div>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">State :</td>
                    <td>{{ record.state ? record.state: 'All States' }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Country :</td>
                    <td>{{ record.country ? record.country : 'All Country'}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Creation Date :</td>
                    <td>{{ record.createdAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Last Updated :</td>
                    <td>{{ record.updatedAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Updated By:</td>
                    <td>
                      <div class="name_title">RM</div>
                      <span nz-typography nzType="secondary">Randy Middleton</span>
                    </td>
                  </tr>

                </tbody>
              </nz-table>
              <div class="border_top my-2"></div>
              <div class="border_top my-2 py-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                  <div class="inner-box th">#</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Deposit</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Bonus</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box th"><strong>Start Date</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Days</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Action</strong></div>
                </div>
              </div>
              <div class="border_top my-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                *ngFor="let depositOption of depositOptionsArray; let index = index;">
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                  <div class="inner-box">{{index+1}}</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"><span nz-typography nzType="success">{{depositOption.amount | number}}
                      USD</span></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box">{{depositOption.bonus | number}}</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box">Default</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"></div>
                </div>
              </div>
            </div>
            <!-- Transaction Info Tab Close -->

            <!-- Transaction Info Tab Open -->
            <div class="content" *ngIf="i == 1">
              <div class="border_top my-2"></div>
              <div class="border_top my-2 py-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                  <div class="inner-box th">#</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Deposit</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Bonus</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Used</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box th"><strong>Start Date</strong></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box th"><strong>Days</strong></div>
                </div>
              </div>
              <div class="border_top my-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                *ngFor="let depositOption of depositOptionsArray; let index = index;">
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                  <div class="inner-box">{{index+1}}</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"><span nz-typography nzType="success">{{depositOption.amount | number}}
                      USD</span></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box">{{depositOption.bonus | number}}</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box">4,219</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box">21.11.2021</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"></div>
                </div>
              </div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                *ngFor="let depositOption of depositOptionsArray; let index = index;">
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                  <div class="inner-box">{{index+1+5}}</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"><span nz-typography nzType="success">{{depositOption.amount | number}}
                      USD</span></div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box">{{depositOption.bonus | number}}</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box">4,219</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box">21.11.2021</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box"></div>
                </div>
              </div>
            </div>
            <!-- Transaction Info Tab Close -->

          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>