.name_title {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 11px;
    display: inline-block;
    background: #f1312d;
    color: #fff;
    margin-right: 10px;
  }
  .ant-row.ng-star-inserted{
    padding-bottom:16px!important;
  }
  .py-2{
    padding-top:16px!important;
  }
  .mouse{
    cursor: pointer;
  }