[nz-form] {
  max-width: 590px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
:host ::ng-deep .avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.ant-upload-picture-card-wrapper {
  width: auto;
  float: left;
}
.info {
  color: #8c8c8c !important;
  font-size: 12px !important;
  line-height: 20px;
}
.modal_header {
  border-bottom: solid 1px #f0f0f0;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 15px;
  padding: 5px 10px;
}

.modal_footer {
  border-top: solid 1px #f0f0f0;
  margin-left: 3px;
  margin-right: 7px;
  margin-top: 15px;
  padding: 10px 10px 0;
  text-align: right;
}
.ant-upload.ant-upload-select-picture-card > .ant-upload {
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.upload_text {
  display: block;
  width: 100%;
  color: #595959;
  margin-top: 24px;
}
.upload_text i {
  font-size: 24px;
  color: #000;
}
.ant-form-item {
  margin-bottom: 9px;
}
.modal_footer{
  width:590px;
  padding:0px;
}