<div class="alain-default__content-title">
  <h1>User Management</h1>
</div>

<div class="white_box">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData(pageIndex, pageSize)" class="search__form d-block">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Username</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input nz-input [(ngModel)]="q.username" name="username" placeholder="" id="username" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27" class="padding-0">
            <nz-form-label class="label_text_right">Email</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
              <input nz-input type="email" [(ngModel)]="q.primaryEmail" name="primaryEmail" placeholder="" id="primaryEmail" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27" class="padding-0">
            <nz-form-label class="label_text_right">Phone Number</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
                <!-- <nz-input-number [(ngModel)]="q.phoneNumber" name="phoneNumber" id="phoneNumber"></nz-input-number> -->
              <input nz-input id="phoneNumber" [(ngModel)]="q.phoneNumber" name="phoneNumber" placeholder="" id="phoneNumber" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Last Name</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input nz-input id="lName" [(ngModel)]="q.lName" name="lName" placeholder="" id="lName" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27" class="padding-0">
            <nz-form-label class="label_text_right">Security Status</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
              <nz-select [nzPlaceHolder]="'Status'" nzId="status3" [(ngModel)]="q.securityStatus" name="securityStatus"
                [nzShowSearch]="true" class="w-100">
                <nz-option *ngFor="let i of securityStatus; let idx = index" [nzLabel]="i.text" [nzValue]="i.value">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27" class="padding-0">
            <nz-form-label class="label_text_right">KYC Completed?</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
              <nz-radio-group [(ngModel)]="q.kycVerified" name="kycVerified" nzId="kycVerified">
                <label nz-radio [nzValue]="o.value" *ngFor="let o of kycValue">{{ o.label }}</label>
              </nz-radio-group>
              <!-- <label nz-checkbox id="kycVerified" name="kycVerified" nzValue=true [(ngModel)]="q.kycVerified">Yes</label>
              <label nz-checkbox  id="kycVerified1" name="kycVerified1" nzValue=false [(ngModel)]="q.kycVerified1">No</label> -->
              <!-- <nz-checkbox-group name="checkOptionsOne" id="checkOptionsOne" [(ngModel)]="q.checkOptionsOne"></nz-checkbox-group> -->
              <!-- <nz-checkbox-wrapper class="pl-2" style="width: 100%;"   (nzOnChange)="log($event)"
                nz-input id="kyc" name="kyc" placeholder="">
                <div nz-row>
                  <div nz-col nzSpan="10">
                    <label nz-checkbox  nzValue="yes">Yes</label></div>
                  <div nz-col nzSpan="10" class="pl-2">
                    <label nz-checkbox nzValue="no">No</label></div>
                </div>
              </nz-checkbox-wrapper> -->
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">

        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
              Apply
            </button>
            <button nz-button type="reset" (click)="filterFormReset()" class="mx-sm">
              Reset
            </button>
            <a (click)="expandForm = !expandForm">
              {{ expandForm ? "Collapse" : "Expand" }}
              <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
            </a>
          </div>
        </div>

      </div>
      <div class="pr-5" nz-col *ngIf="expandForm" [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
          Apply
        </button>
        <button nz-button type="reset" (click)="filterFormReset()" class="mx-sm">
          Reset
        </button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? "Collapse" : "Expand" }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
</div>
<!-- <nz-page-header class="site-page-header white_box_table mt10">

  <nz-page-header-title>User List</nz-page-header-title>


  <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>


  <nz-page-header-extra>
    <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
    <nz-select [nzPlaceHolder]="'Most Recent'" [(ngModel)]="selectedUser" (ngModelChange)="sortBy($event)">
      <nz-option *ngFor="let i of sortByFilters" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
    </nz-select>
    <nz-page-header-subtitle>
      <i nz-icon nzType="reload" (click)="reload()"></i>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <span nz-dropdown [nzDropdownMenu]="menu1">
        <i nz-icon nzType="column-height"></i>
      </span>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu >
          <li nz-menu-item  (click)="changeTableSize('default')"><span *ngIf="size === 'default'" nz-typography><a>Big
                <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
          <li nz-menu-item  (click)="changeTableSize('middle')">Medium</li>
          <li nz-menu-item (click)="changeTableSize('small')">Compact</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle>
    </nz-page-header-subtitle>
  </nz-page-header-extra>
</nz-page-header> -->

<div class="white_box mt10">
  <nz-page-header>
    <!--title-->
    <nz-page-header-title>User List</nz-page-header-title>
  
    <!--subtitle-->
    <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>
  
    <!--extra-->
    <nz-page-header-extra>
      <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
      <nz-select [nzPlaceHolder]="'Most Recent'" [(ngModel)]="selectedUser" (ngModelChange)="sortBy($event)">
        <nz-option *ngFor="let i of sortByFilters" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
      <nz-page-header-subtitle>
        <i nz-icon nzType="reload" (click)="reload()"></i>
      </nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <span nz-dropdown [nzDropdownMenu]="menu1">
          <i nz-icon nzType="column-height"></i>
        </span>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu >
            <li nz-menu-item  (click)="changeTableSize('default')"><span *ngIf="size === 'default'" nz-typography><a>Big
                  <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
            <li nz-menu-item  (click)="changeTableSize('middle')">Medium</li>
            <li nz-menu-item (click)="changeTableSize('small')">Compact</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-subtitle>
      <nz-page-header-subtitle>
      </nz-page-header-subtitle>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-table class="table_scroll mt10"  [(nzSize)]="size" nzShowSizeChanger [nzOuterBordered]="true" [nzData]="listOfUser" [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzColumnKey="username" [nzSortFn]="true">Username</th>
        <th nzColumnKey="loginType">Registration</th>
        <th nzColumnKey="lastActive" [nzSortFn]="true">Last Active</th>
        <th nzColumnKey="lName fName" [nzSortFn]="true">Full Name</th>
        <th nzColumnKey="securityStatus">Security Status</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{ 'data-selected': selectedRow === data._id }" *ngFor="let data of listOfUser; let i = index"
        (click)="rowClick(data)">
        <td>
          <a>{{ data.username }}</a>
        </td>
        <td>
          <nz-tag nzColor="default" *ngIf="data.loginType === 'guest'">{{
            data.loginType | titlecase
          }}</nz-tag>
          <nz-tag nzColor="processing" *ngIf="data.loginType !== 'guest'">
            Registered
          </nz-tag>
        </td>
        <td>{{ data.lastActive | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        <td>{{ data.fName | titlecase }} {{ data.lName | titlecase }}</td>

        <td>
          <nz-tag nzColor="success" *ngIf="data.securityStatus == 'fair'">{{
            data.securityStatus ? "Normal" : ("none" | titlecase)
          }}</nz-tag>
          <nz-tag nzcolor="warning" class="ant-tag ant-tag-warning ng-star-inserted" ng-reflect-nz-color="warning"
            *ngIf="data.securityStatus == 'warning'">{{
              data.securityStatus ? data.securityStatus : ("none" | titlecase)
            }}</nz-tag>
          <nz-tag nzColor="error" *ngIf="data.securityStatus == 'locked'">{{
              data.securityStatus ? data.securityStatus : ("none" | titlecase)
            }}</nz-tag>
          <nz-tag nzColor="error" *ngIf="data.securityStatus == 'blacklisted'">{{
              data.securityStatus ? data.securityStatus : ("none" | titlecase)
            }}</nz-tag>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>