
<div class="modal-container">
    <div class="modal_header">
    <h3>{{ data.title }}</h3>
    </div>
      <form
        nz-form
        [formGroup]="prohibitionForm"
        (ngSubmit)="save(prohibitionForm.valid, prohibitionForm.value)"
      >
    <div class="modal-body pt-4">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Country</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="countryErrorTpl">
              <nz-select nzAllowClear nzPlaceHolder="Select country" formControlName="country" (ngModelChange)="selectedCountry($event)">
                  <nz-option *ngFor="let country of data.listOfCountries" [nzLabel]="country.name" [nzValue]="country"></nz-option>
                </nz-select>
              <ng-template #countryErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please select country name!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
      
          <nz-form-item>
              <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>State</nz-form-label>
              <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="stateErrorTpl">
                <nz-select nzAllowClear nzPlaceHolder="Select State" formControlName="state">
                  <nz-option *ngFor="let state of states" [nzLabel]="state.name" [nzValue]="state.name"></nz-option>
                </nz-select>
                <ng-template #stateErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please select state name!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The  name is redundant!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Restriction</nz-form-label>
                <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="stateErrorTpl">
                  <nz-select nzAllowClear nzPlaceHolder="Select" formControlName="gameRestriction">
                    <nz-option *ngFor="let prohibitionType of restrictionGameType" [nzLabel]="prohibitionType.label" [nzValue]="prohibitionType.value"></nz-option>
                  </nz-select>
                  <ng-template #stateErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Please select state name!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('duplicated')">
                      The  name is redundant!
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

    </div>
        <div class="modal_footer text-right">
          <button nz-button type="reset" class="ml-sm" (click)="closeModal()" >Cancel</button>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="!prohibitionForm.valid"
            [nzLoading]="submitting"
          >
            <span *ngIf='!this.data.record'>Save Exclusion</span>
            <span *ngIf='this.data.record'>Save Updates</span>
          </button>
        </div>
      </form>

  
  <!-- </nz-card> -->
  </div>
  