<nz-page-header class="site-page-header user_rightbar">
  <!--avatar-->
  <nz-avatar nz-page-header-avatar [nzShape]="'square'" nzSrc="{{
        record.playOptions.logo
          ? record.playOptions.logo
          : 'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
      }}"></nz-avatar>

  <!--title-->
  <nz-page-header-title>{{ record.playOptions.name }}</nz-page-header-title>

  <nz-page-header-extra>
    <nz-tag *ngIf="record.status !== 'reported' && record.status !== 'finished'" nzcolor="error"
      class="ant-tag ant-tag-error ng-star-inserted mouse" (click)="cancelMatch(record.status)" ng-reflect-nz-color="error">
      Cancel Match</nz-tag>

    <nz-tag *ngIf="record.status == 'reported' || record.status == 'finished'" nzcolor="error"
      class="ant-tag ant-tag-error ng-star-inserted mouse" ng-reflect-nz-color="error" (click)="cancelMatch(record.status)">
      Refund Fees</nz-tag>
    <nz-page-header-subtitle><i nz-icon nzType="reload" nzTheme="outline"></i>
    </nz-page-header-subtitle>
  </nz-page-header-extra>
  <!--content-->
  <nz-page-header-content class="white_bg">
    <div nz-row>
      <div class="content w-100">
        <nz-tabset nzType="card">
          <nz-tab *ngFor="let tab of tabs; let i=index;" [nzTitle]="tab">
            <!-- <nz-spin *ngIf="!this.transactionDetails.tab" nzSimple></nz-spin> -->

            <!-- Games Info Tab Open -->
            <div class="content" *ngIf="i == 0">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="14" nzSm="28">
                  Status:
                  <nz-tag nzColor="success" *ngIf="record.status == 'created'">Active</nz-tag>
                  <nz-tag nzColor="error" *ngIf="record.status == 'cancelled' || record.status == 'aborted'">{{
                        record.status | titlecase
                      }}</nz-tag>
                  <nz-tag nzColor="default" *ngIf="record.status == 'finished' || record.status == 'none'">{{
                        record.status | titlecase
                      }}</nz-tag>
                  <nz-tag nzColor="warning" *ngIf="record.status == 'reported' || record.status == 'closed'">{{
                        record.status | titlecase
                      }}</nz-tag>
                </div>
                <div nz-col nzMd="10" nzSm="20">
                  Warning:
                  <nz-tag nzColor="success" *ngIf="record.status == 'created'">Active</nz-tag>
                  <nz-tag nzColor="error" *ngIf="record.status == 'cancelled' || record.status == 'aborted'">{{
                      record.status | titlecase
                    }}</nz-tag>
                  <nz-tag nzColor="default" *ngIf="record.status == 'finished' || record.status == 'none'">{{
                      record.status | titlecase
                    }}</nz-tag>
                  <nz-tag nzColor="warning" *ngIf="record.status == 'reported'">{{
                      record.status | titlecase
                    }}</nz-tag>
                </div>
              </div>
              <div class="border_top my-2"></div>
              <!-- <h6 class="text-center">General</h6> -->
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Room ID :</td>
                    <td>{{ record._id }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Room Started :</td>
                    <td>{{ record.createdAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                  </tr>
                  <tr *ngIf="record.status === 'created'">
                    <td class="text-right">Last Updated :</td>
                    <td>{{ record.createdAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                  </tr>
                  <tr *ngIf="record.status !== 'created'">
                    <td class="text-right">Time Left :</td>
                    <td>{{ record.updatedAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Room Type :</td>
                    <td>Deathmatch</td>
                  </tr>
                  <tr>
                    <td class="text-right">Game :</td>
                    <td>Manna Wars</td>
                    <!-- <td>{{ record.structure | titlecase }}</td> -->
                  </tr>
                  <tr>
                    <td class="text-right">Players :</td>
                    <td>
                      4 of 4
                      <!-- <a>{{ record.primaryEmail }}</a> -->
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Entry Fee :</td>
                    <td>5 USD</td>
                  </tr>
                  <tr>
                    <td class="text-right">Prize Pool :</td>
                    <td>18 USD </td>
                  </tr>
                </tbody>
              </nz-table>
              <div class="border_top my-2"></div>
              <h6 class="">Prize Distribution</h6>
              <nz-table>
                <tbody>
                  <thead>
                    <th class="thPadding">Position</th>
                    <th class="thPadding">Prize (USD)</th>
                    <th class="thPadding">Trophies</th>
                    <th class="thPadding">Experience</th>
                  </thead>
                  <tr>
                    <td class="tdPadding">1</td>
                    <td class="tdPadding">10</td>
                    <td class="tdPadding">100 </td>
                    <td class="tdPadding">100</td>
                  </tr>
                  <tr>
                    <td class="tdPadding">2</td>
                    <td class="tdPadding">10</td>
                    <td class="tdPadding">100</td>
                    <td class="tdPadding">100</td>
                  </tr>
                  <tr>
                    <td class="tdPadding">3</td>
                    <td class="tdPadding">10</td>
                    <td class="tdPadding">100</td>
                    <td class="tdPadding">100</td>
                  </tr>
                  <tr>
                    <td class="tdPadding">4</td>
                    <td class="tdPadding">10</td>
                    <td class="tdPadding">100</td>
                    <td class="tdPadding">100</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <!-- Challenge Info Tab Close -->

            <!-- Bouts Tab Open-->
            <div class="content" *ngIf="i ==1">
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">#</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">Flag</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="9">
                  <div class="inner-box theading">Player</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box theading">Score</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box theading">Submitted</div>
                </div>

                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">1</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">
                    <img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg" alt="" />
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="9">
                  <div class="inner-box d-flex flex-column">
                    <span nz-typography>ticklishkoala607</span><span class="text-small" nz-typography
                      nzType="secondary">60c854012c897b0b87adaf2a</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typograph nzType="secondary">Playing</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typography nzType="secondary">Didn't submit</span>
                  </div>
                </div>

                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">2</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">
                    <img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg" alt="" />
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="9">
                  <div class="inner-box d-flex flex-column">
                    <span nz-typography>greenkoala518</span><span class="text-small" nz-typography
                      nzType="secondary">606c06daf4e79876febffe90</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typograph nzType="secondary">Playing</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typography nzType="secondary">Didn't submit</span>
                  </div>
                </div>

                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">3</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">
                    <img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg" alt="" />
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="9">
                  <div class="inner-box d-flex flex-column">
                    <span nz-typography>greenkoala518</span><span class="text-small" nz-typography
                      nzType="secondary">606c06daf4e79876febffe90</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typograph nzType="secondary">Playing</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typography nzType="secondary">Didn't submit</span>
                  </div>
                </div>

                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">4</div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="3">
                  <div class="inner-box theading">
                    <img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg" alt="" />
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="9">
                  <div class="inner-box d-flex flex-column">
                    <span nz-typography>greenkoala518</span><span class="text-small" nz-typography
                      nzType="secondary">606c06daf4e79876febffe90</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="4">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typograph nzType="secondary">Playing</span>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="5">
                  <div class="inner-box d-flex flex-column">
                    <span class="text-small" nz-typography nzType="secondary">Didn't submit</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Bouts Tab close-->

            <!-- Transactions tab open-->
            <div class="content" *ngIf="i ==2">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="24" nzSm="48">
                  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngIf="this.transactionDetails.tab">
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box"><span nz-typography><strong>
                            <h5>Transaction</h5>
                          </strong></span></div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box"><span nz-typography><strong>
                            <h5>Player</h5>
                          </strong></span></div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box"><span nz-typography><strong>
                            <h5>Hash</h5>
                          </strong></span></div>
                    </div>

                    <div class="mt20" nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">Creator</div>
                    </div>
                    <div class="mt20" nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box d-flex flex-column">
                        <span>ticklishkoala607</span><span class="text-small" nz-typography
                          nzDisabled>{{this.transactionDetails.data.create.player}}</span>
                      </div>
                    </div>
                    <div class="mt20" nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">{{this.transactionDetails.data.create.hash}}</div>
                    </div>

                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">Joiner</div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box d-flex flex-column">
                        <span>ticklishkoala607</span><span class="text-small" nz-typography
                          nzDisabled>{{this.transactionDetails.data.join ? this.transactionDetails.data.join.player: ''}}</span>
                      </div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">
                        {{this.transactionDetails.data.join ? this.transactionDetails.data.join.hash: 'No hash'}}</div>
                    </div>

                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">Winner</div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box d-flex flex-column">
                        <span>ticklishkoala607</span><span class="text-small" nz-typography
                          nzDisabled>{{this.transactionDetails.data.finished ? this.transactionDetails.data.finished.player : ''}}</span>
                      </div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">
                        {{this.transactionDetails.data.finished ? this.transactionDetails.data.finished.hash : 'No hash'}}
                      </div>
                    </div>

                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">Decline</div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box d-flex flex-column">
                        <span></span><span class="text-small" nz-typography
                          nzDisabled>{{this.transactionDetails.data.decline ? this.transactionDetails.data.decline.player : ''}}</span>
                      </div>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="8">
                      <div class="inner-box">
                        {{this.transactionDetails.data.decline ? this.transactionDetails.data.decline.hash : 'No hash'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Transactions tab close-->

            <!-- Admin Actions Tab Open -->
            <div class="content" *ngIf="i == 3">
              <nz-result *ngIf="record.status == 'created'" nzStatus="success" nzTitle="All good. No reports here.">
              </nz-result>
              <div class="mt20" *ngIf="record.status == 'suspicious' || record.status == 'reported'" nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">


                <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                <div nz-col nzMd="18" nzXs="20" class="right">
                  <nz-timeline nzMode="left">
                    <!--Time line 1-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <!-- <div class="name_title">RM</div> -->
                      <span nz-typography nzType="secondary">Player <a>silverduck204</a></span>
                      <p class="d-flex flex-column">
                        <span nz-typography>Reported cheating activity in room 608712b2785f205e5625d561.</span>
                        <a>Show game log</a>

                      </p>
                      <div nz-typography nzType="secondary">
                        Seems like greenkoala was cheating with wall hack.
                      </div>
                      <div class="mt20 d-flex flex-grow-1">
                        <button nz-button nzType="danger" nzGhost
                          *ngIf="record.status !== 'aborted' && record.status !== 'finished'"
                          (click)="cancelMatch(record.status)">Refund Fees</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;<a>
                          Ignore Report
                        </a>
                      </div>
                    </nz-timeline-item>
                    <!-- /Time line 1-->

                  </nz-timeline>
                </div>
              </div>

              <div class="mt20" *ngIf="record.status === 'aborted'" nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                <div nz-col nzMd="18" nzXs="20" class="right">
                  <nz-timeline nzMode="left">
                    <!--Time line 1-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <nz-avatar nz-page-header-avatar nzSize="small" [nzSrc]="
                        './assets/admin.svg'
                      ">
                      </nz-avatar>
                      &nbsp;
                      <!-- <div class="name_title">RM</div> -->
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                      <p>
                        <span nz-typography>Cancelled challenge without refunds.</span>.
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 1-->

                    <!--Time line 2-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <!-- <div class="name_title">RM</div> -->
                      <span nz-typography nzType="danger">Cheating Activity</span>
                      <!-- <p> -->
                      <div nz-typography>
                        Our system has spotted a cheating mechanism in challenge {{record._id}} used by <a
                          (click)="cheaterDetails(record.challengers[1].playerId)">ImNotCheater.</a><br />
                      </div>
                      <!-- </p> -->
                    </nz-timeline-item>
                    <!-- /Time line 2-->
                  </nz-timeline>
                </div>
              </div>
            </div>
            <!-- Admin Actions Tab Close -->
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>