
<div class="modal-container">
    <div class="modal_header">
    <h3>{{ data.title }}</h3>
    </div>
      <form
        nz-form
        [formGroup]="gamesForm"
        (ngSubmit)="save(gamesForm.valid, gamesForm.value)"
      >
      <div formArrayName="states">
    <div class="modal-body pt-4" [formGroupName]="index" *ngFor="let item of states.controls; let index=index">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>State Name</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="name" placeholder="" />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input state name!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Short</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="short" placeholder="" />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input short!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

    </div>
        <div class="modal_footer text-right">
          <button nz-button type="reset" class="ml-sm" (click)="closeModal()" >Cancel</button>
          <button
            nz-button
            nzType="primary"
            type="submit"
            [disabled]="!gamesForm.valid"
            [nzLoading]="submitting"
          >
            <span *ngIf='!this.data.preStateData'>Save State</span>
            <span *ngIf='this.data.preStateData'>Save Updates</span>
          </button>
        </div>
    </div>
      </form>

  
  <!-- </nz-card> -->
  </div>
  