<div>
    <h4>{{ subtitle }}</h4>
      <div class="modal_footer text-right mt20">
        <button nz-button class="ml-sm" (click)="closeModal()">Cancel</button>
        <!-- lock button open-->
        <button  nz-button nzDanger nzType="primary" (click)="delete()"
        type="submit">Delete</button>
  </div>