<h4>{{subtitle}}</h4>
<form [formGroup]="balanceForm" (ngSubmit)="save(balanceForm.valid, balanceForm.value)">
<div *ngIf="!refund">
  <nz-radio-group *ngIf="data.status !== 'finished'"  formControlName="player"  (ngModelChange)="bothPlayerSelected($event)">
    <label nz-radio [nzValue]="data.challengers" *ngIf="data.challengers.length == 2">Both Players</label>
    <label nz-radio [nzValue]="o.playerId" *ngFor="let o of data.challengers">{{ o.playerId }}</label>
    <label nz-radio nzValue="">No One</label>
  </nz-radio-group>
</div>
<div class="modal_footer text-right mt20">
    <button nz-button class="ml-sm" type="reset" (click)="closeModal()">Close</button>
    <button  nz-button nzType="primary" *ngIf="!refund" 
    type="submit" [disabled]="!balanceForm.valid">Confirm cancellation</button>
    <button  nz-button nzType="primary" *ngIf="refund" 
    type="submit">Confirm cancellation</button>
  </div>
</form>