<nz-page-header class="site-page-header user_rightbar">  
    <!--title-->
    <nz-page-header-title>Withdraw Transation</nz-page-header-title>

    <nz-page-header-extra>
      <nz-page-header-subtitle
        >
        
      </nz-page-header-subtitle>
    </nz-page-header-extra>
    <!--content-->
    <nz-page-header-content class="white_bg">
      <div nz-row>
        <div class="content w-100">
          <nz-tabset nzType="card">
            <nz-tab
              *ngFor="let tab of tabs; let i=index;"
              [nzTitle]="tab.name"
              [nzDisabled]="tab.disabled"
            >

              <!-- Transaction Info Tab Open -->
              <div class="content" *ngIf="i == 0">
                <div
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzSpan="12" nzOffset="1">
                    Status:
                    <nz-tag nzColor="success" *ngIf="record.status == 'new' || record.status == 'complete'">{{record.status | titlecase}}</nz-tag>
                    <nz-tag nzColor="error" *ngIf="record.status == 'cancelled' || record.status == 'failed'">{{
                      record.status | titlecase
                    }}</nz-tag>
                    <nz-tag nzColor="primary" *ngIf="record.status == 'in_progress'">{{
                      record.status | titlecase
                    }}</nz-tag>
                    <nz-tag nzColor="success" *ngIf="record.status == 'success'">{{
                      record.status | titlecase
                    }}</nz-tag>
                    <nz-tag nzColor="warning" *ngIf="record.status == 'pending'">{{
                        record.status | titlecase
                    }}</nz-tag>
                  </div>

                </div>
                <div class="border_top my-2"></div>
                <nz-table>
                  <tbody>
                    <tr>
                        <td class="text-right">Transaction ID :</td>
                        <td>{{ record._id }}</td>
                      </tr>
                    <tr>
                      <td class="text-right">Request Hash :</td>
                      <td style="display:block;
                      width:17rem;
                      word-wrap:break-word;">0x13a3a6b190baaa8f9c6dcca6614e53cf71045df78940bf510dcfc826492bb4ff</td>
                    </tr>
                    <tr>
                        <td class="text-right">Withdraw Amount :</td>
                        <td><span nz-typography><strong>{{ record.amount |number}} {{record.currency | uppercase}}</strong></span></td>
                      </tr>
                      <tr>
                        <td class="text-right">Processing Fee :</td>
                        <td>{{record.balanceBefore - record.balanceAfter - record.amount | number}} {{record.currency | uppercase}} <span nz-typography nzType="secondary">({{record.balanceAfter/record.balanceBefore*100 | number}}%)</span></td>
                      </tr>
                      <tr>
                    <tr>
                      <td class="text-right">User gets :</td>
                      <td>5USD</td>
                    </tr>
                    <tr>
                      <td class="text-right">Bonus Cash to forfeit :</td>
                      <td><span nz-typography nzType="danger">{{record.bonusForfeit | number}} {{record.currency | uppercase}}</span></td>
                    </tr>
                    <tr>
                        <td class="text-right">Balance before withdrawal :</td>
                        <td>{{record.balanceBefore | number}} {{record.currency | uppercase}}</td>
                      </tr>
                      <tr>
                        <td class="text-right">Balance after withdrawal :</td>
                        <td>{{record.balanceAfter | number}} {{record.currency | uppercase}}</td>
                        <!-- <td>{{record.balanceBefore - record.balanceAfter | number}} {{record.currency | uppercase}}</td> -->
                      </tr>
                  </tbody>
                </nz-table>
              <div class="border_top my-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="6"><div class="inner-box th">Payment Type</div></div>
                <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box th">Amount</div></div>
                <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box th">Status</div></div>
                <div nz-col class="gutter-row" [nzSpan]="7"><div class="inner-box th">When</div></div>
              </div>
              <div class="border_top my-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" *ngFor="let payment of record.payments" >
                <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="6"><div class="inner-box">{{payment.type | titlecase}}</div></div>
                <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box">{{payment.amount | number}}</div></div>
                <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box">
                  <nz-tag nzColor="success" *ngIf="payment.status == 'new' || payment.status == 'complete'">{{payment.status | titlecase}}</nz-tag>
                  <nz-tag nzColor="error" *ngIf="payment.status == 'cancelled' || payment.status == 'failed'">{{
                    payment.status | titlecase }}</nz-tag>
                  <nz-tag nzColor="primary" *ngIf="payment.status == 'in_progress'">{{
                    payment.status | titlecase }}</nz-tag>
                  <nz-tag nzColor="warning" *ngIf="payment.status == 'pending'">{{
                    payment.status | titlecase }}</nz-tag>
                </div></div>
                <div nz-col class="gutter-row" [nzSpan]="7"><div class="inner-box">{{payment.when | _date :'dd.MM.yyyy  h:mm:ss' }}</div></div>
              </div>
              <div class="border_top my-2"></div>
              <div class="border_top my-2"></div>
              <!-- <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Request Hash :</td>
                    <td style="display:block;
                    width:17rem;
                    word-wrap:break-word;">0x13a3a6b190baaa8f9c6dcca6614e53cf71045df78940bf510dcfc826492bb4ff</td>
                  </tr>
                </tbody>
              </nz-table> -->
              <div class="border_top my-2"></div>
              <h6 class="text-center">Recipient</h6>
              <nz-table>
                <tbody>
                  <tr>
                      <td class="text-right">Method :</td>
                      <td>{{ record.method | titlecase }}</td>
                    </tr>
                  <tr>
                      <td class="text-right">User Name :</td>
                      <td>{{record.userId}}</td>
                    </tr>
                    <tr>
                      <td class="text-right">Country:</td>
                      <td>{{record.country| titlecase}} </td>
                    </tr>
                    <tr>
                  <tr>
                    <td class="text-right">Address :</td>
                    <td>Sam Smith Sunset st. 1023, 12 Oakland, CA California 129301</td>
                  </tr>
                </tbody>
              </nz-table>

              <div class="border_top my-2"></div>
              <div class="border_top my-2"></div>
              <h6 class="text-center">Transaction Timinings</h6>
              <nz-table>
                <tbody>
                  <tr>
                      <td class="text-right">Created :</td>
                      <td>{{ record.createdAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                    </tr>
                  <tr>
                      <td class="text-right">Approved :</td>
                      <td>{{ record.createdAt  | _date :'dd.MM.yyyy  h:mm:ss'}} </td>
                    </tr>
                    <tr>
                      <td class="text-right">Completed:</td>
                      <td>{{ record.createdAt  | _date :'dd.MM.yyyy  h:mm:ss'}} </td>
                    </tr>
                    <tr>
                </tbody>
              </nz-table>
            </div>
              <!-- Transaction Info Tab Close -->

              <!-- Transaction Info Tab Open -->
              <div class="content" *ngIf="i == 2">
                <div
                class="mt20"
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                <div nz-col nzMd="18" nzXs="20" class="right">
                  <nz-timeline nzMode="left">

                    <!--Time line 2-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <p>
                        Withdraw was completed successfully;<br />
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 2-->

                    <!--Time line 3-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <nz-avatar
                        nz-page-header-avatar
                        nzSize="small"
                        nzSrc="{{
                          'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
                        }}"
                      >
                      </nz-avatar>
                      &nbsp;
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                      <p>
                        Approved transaction. Chargebacks were paid out if available
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 3-->

                                        <!--Time line 2-->
                                        <nz-timeline-item>
                                          <div class="date_time">
                                            30.11.2021<br />
                                            15:10:22
                                          </div>
                                          <p>
                                            Withdraw request created by Heisenberg666.<br />
                                          </p>
                                        </nz-timeline-item>
                                        <!-- /Time line 2-->

                  </nz-timeline>
                </div>
              </div>
              </div>
              <!-- Transaction Info Tab Close -->

            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
  