.th{
font-weight: 800;
font-size: 15px;
line-height: 22px;
}
.nz-timeline-item {
    position: relative;
  }
  .date_time {
    position: absolute;
    left: -40%;
    width: 25%;
    color: #262626;
    line-height: 24px;
  }
  .name_title {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 11px;
    display: inline-block;
    background: #f1312d;
    color: #fff;
    margin-right: 10px;
  }
  .ant-row.ng-star-inserted{
    padding-bottom:16px!important;
  }