/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.eot");
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"),
    url("../fonts/SFProDisplay-Regular.ttf") format("truetype"),
    url("../fonts/SFProDisplay-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background: #e5e5e5;
  color: #262626;
  font-weight: 400;
}
.alain-default__aside {
  width: 212px;
  top: -16px;
}
.alain-default__aside {
  background-color: #001529;
}
.alain-default__header {
  height: 48px;
  background-color: #fff;
}
.alain-default__nav-item,
.alain-default__nav nz-badge {
  color: #626262;
}
.alain-default__fixed .alain-default__header {
  position: fixed;
}
.alain-default__fixed .alain-default__header:before {
  position: fixed;
  background-color: #001529;
  content: "";
  min-width: 63px;
  min-width: 211px;
  height: 48px;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0;
  z-index: -1;
}
.sidebar-nav__group-title {
  color: #a6adb4;
}
.sidebar-nav__item-link {
  color: #a6adb4;
}
.alain-default__aside-user-info {
  color: #a6adb4;
}
.sidebar-nav__selected {
  color: #fff;
  background: #1890ff;
  border-left: none !important;
}
.sidebar-nav__open > .sidebar-nav__sub {
  background: #0c3862;
}
.sidebar-nav__selected > .sidebar-nav__item-link {
  color: #fff;
}
.sidebar-nav__sub-arrow::before,
.sidebar-nav__sub-arrow::after {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.85)
  );
  transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.alain-default__fixed .alain-default__content {
  margin-top: 49px;
}
.alain-default__nav {
  margin: 0 0 0 15px;
}
.alain-default__search .ant-input-affix-wrapper .ant-input {
  background-color: #fff;
  border: solid 1px #d9d9d9;
  min-height: 32px;
  border-radius: 2px;
}
.alain-default__search .ant-input-group-addon i,
.alain-default__search .ant-input-affix-wrapper i {
  color: #262626;
  transition: color 300ms, transform 400ms;
  right: -15px;
  position: absolute;
  border: solid 1px #ccc;
  height: 32px;
  width: 32px;
  line-height: 34px;
  border-radius: 0 2px 2px 0;
}
.anticon:hover{
  cursor:pointer;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  background: transparent;
}
.alain-default__search {
  max-width: 350px;
  background: transparent;
}
.alain-default__search-focus {
  background: transparent;
}
.alain-default__search .ant-input,
.alain-default__search .ant-input-group-addon,
.alain-default__search .ant-input-affix-wrapper {
  color: #333;
  padding: 2px 8px;
  background-color: transparent;
  border: none;
}
.alain-default__nav-item:hover {
  color: #000;
  background-color: transparent;
}
.ant-table-thead > tr > th {
  background: #fafafa;
}
.mt20 {
  margin-top: 20px;
}
.my-2 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.my-1 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.select_border {
  border: solid 1px #ccc;
  padding: 8px 10px;
  color: #666;
}
.white_bg {
  background: #fff;
}
.white_box {
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 4px 4px #dfdfdf;
  border-radius: 2px;
  padding-bottom: 0.5%;
  // padding-bottom: 1.3%;
}
.white_box_table {
  background: #fff;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 4px 4px #dfdfdf;
  border-radius: 2px;
}
.white_box .search__form .ant-form-item {
  margin-bottom: 15px;
}
.d-block {
  display: block;
}
.text-right {
  text-align: right;
}
.text-small{
  font-size:0.8rem;
}
.pl-2{
  padding-left: 20px;
}
/*User Rightbar*/
.ant-drawer-header-no-title .ant-drawer-close {
  display: none !important;
}
.user_rightbar .ant-page-header-heading {
  background: #fff !important;
  padding-bottom: 10px;
}
.ant-page-header-heading-extra{
  margin: 4px 30px;
}
.user_rightbar .ant-col {
  color: #595959;
  font-size: 14px;
}
.user_rightbar .ant-table-tbody > tr > td {
  border-bottom: none;
  padding: 6px 5px;
  width: 50%;
}
.user_rightbar .ant-table-tbody > tr > td:first-child {
  color: #595959;
}
.user_rightbar .ant-table-tbody > tr > td:last-child {
  color: #262626;
}
.user_rightbar h6 {
  font-size: 16px;
  font-weight: 600;
}
.user_rightbar .ant-table-tbody > tr.ant-table-placeholder {
  display: none;
}
.border_top {
  border-top: 1px solid #f0f0f0;
}
.border_right {
  border-right: 1px solid #d9d9d9;
}
.font20 {
  font-size: 20px !important;
}
.font16 {
  font-size: 16px !important;
}
.font14 {
  font-size: 14px !important;
}
.wd50 {
  width: 50px;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.text_green {
  color: #73d13d;
}
.text_blue {
  color: #1890ff;
}
.text_pink {
  color: #eb2f96;
}
.text_gray {
  color: #8c8c8c;
}
.text_purple {
  color: #9254de;
}
.bg_gray {
  background: #f0f0f0;
}

.border_right_white {
  border-right: solid 2px #fff;
}
.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.p10 {
  padding: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt10{
  margin-top:10px;
}
.ant-modal-body {
  padding: 14px;
}
.ant-modal,
.modal-md {
  top: 20px;
  // max-width:400px;
  // left: 34.2%;
}
.ant-drawer-body {
  padding: 10px;
}
.expandForm{
  padding-left:81px!important;
  padding-right:0px!important;
}

// .ant-tabs-top > .ant-tabs-nav,
// .ant-tabs-bottom > .ant-tabs-nav,
// .ant-tabs-top > div > .ant-tabs-nav,
// .ant-tabs-bottom > div > .ant-tabs-nav {
//   margin: 0 0 5px 0 !important;
//   border: 1px solid rgb(241, 235, 235);
//   border-bottom-color: #e4e1e1;
// }
// .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active,
// .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
//   border: 1px solid rgb(228, 225, 225);
//   border-bottom-color: white;
// }


.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  margin: 0;
  padding: 8px 16px;
  background: #fafafa;
  border: 1px solid #e4dfdff0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.g2-mini-progress__wrap {
  position: relative;
  background-color: #cfc2c2;
}

.mb-0 {
  margin-bottom: 0px;
}
.table_scroll {
  max-width: 100%;
  overflow-x: auto;
}
.alain-default__content {
  margin: 10px;
}
.ant-drawer .ant-drawer-content {
  float: right;
}
.ant-drawer-left .drawer-md,
.ant-drawer-right .drawer-md {
  width: 100% !important;
  // min-width: 592px;
  // max-width: 592px; 
  //  min-width: 48%;
  // max-width: 48%;
}
.ant-drawer-body {
  background: #fff !important;
}
.ant-timeline {
  color: rgba(0, 0, 0, 0.6);
}
.pr-5{
  padding-right:4%!important;
  }
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  padding: 6px 10px;
}
.w-100 {
  width: 100% !important;
}
.label_text_right, .padding-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: right !important;
  display: block;
}
.ant-upload {
  display: block !important;
  max-width: 104px;
  height: 104px;
  max-height: 104px;
}
.ant-form-item-label > label {
  color: #262626;
}
.ant-collapse-content-box {
  background: #fff;
  border-top: solid 1px #d9d9d9;
}
.ant-collapse-borderless > .ant-collapse-item {
  background: #f5f5f5;
}
.ant-card-type-inner .ant-card-head {
  background: #f5f5f5 !important;
  border-bottom: 1px solid #d9d9d9;
  min-height: 38px !important;
  padding: 0 12px;
  height: 38px;
  line-height: 7px;
}
.text_light_gray {
  color: #bfbfbf;
}
.price_box_green {
  width:50%;
  background: #b7eb8f;
  padding: 4px 8px;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.price_box_green .doller_sign {
  background: linear-gradient(180deg, #049f26 0%, #43c860 100%);
  width:50%;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  color: #fff;
  top: 2px;
  position: relative;
}

.price_box_simple{
  background: white;
  padding: 31px 8px;
  text-align: center;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.price_box_simple .simple_doller {
  background: linear-gradient(180deg, #049f26 0%, #43c860 100%);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  display: inline-block;
  color: #fff;
  top: 2px;
  position: relative;
}

.price_box_blue {
  width:50%;
  background: #bae7ff;
  padding: 4px 8px;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.price_box_blue .doller_sign {
  width:50%;
  background: linear-gradient(180deg, #61afff 0%, #8cc5ff 100%);
  box-shadow: 0px -2px 1px 0px #c9e4ff66 inset;
  box-shadow: 0px 2px 1px 0px #58abff80 inset;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  display: inline-block;
  color: #fff;
  top: 2px;
  position: relative;
}

.price_box_simple .xCoin_sign{
  width:50%;
  background: linear-gradient(180deg, #61afff 0%, #8cc5ff 100%);
  box-shadow: 0px -2px 1px 0px #c9e4ff66 inset;
  box-shadow: 0px 2px 1px 0px #58abff80 inset;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  text-align: center;
  display: inline-block;
  color: #fff;
  top: 2px;
  position: relative;
} 

.ant-card-body {
  padding: 0 20px !important;
}
.relative {
  position: relative;
}
.pl-50 {
  padding-left: 50px;
}
.play_option_card .ant-card-type-inner .ant-card-head-title {
  padding: 12px 0 12px 50px;
  color: darkgrey;
  font-size: 0.8rem;
}

.ant-card-type-inner .ant-card-extra{
  font-size: 0.8rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  .alain-default__content {
    margin-left: 236px;
  }
}
@media (max-width: 767px) {
  .ant-drawer .ant-drawer-content {
    display:block;
    width: 90% !important; 
    float: right;
  }
}
@media (max-width: 575px) {
  .label_text_right {
    text-align: left !important;
  }
}

.ant-modal-confirm-btns{
  display:none!important;
}

.padding-right-0{
  padding-right:0px!important;
  padding-left:34px!important;
}
.padding-left-0{
  padding-left:0px!important;
}
/** for header search bar suffix dropdown icon css fix */
.ant-select-arrow .anticon:not(.ant-select-suffix) { border: none!important; }

/** modal-sm center */
.modal-sm .ant-modal {
  top: 30%;
}
.modal-sm .ant-modal-content {
  // width:400px!important;
  width:458px!important;
}

.ant-radio-inner{
  border-radius:10%!important;
}

tr.ant-table-row{
  cursor:pointer;
}

.alain-default__search {
  max-width: 425px!important;
}
nz-input-group.ant-input-group-compact.ant-input-affix-wrapper{
  padding-left:0px!important;
}
.ant-input-prefix{
  margin-right:0px;
}

.alain-default__content-title{
  margin-bottom: 16px;
}
i.anticon.anticon-more{
  font-size: medium!important;
}