<div>
    <h3>{{ data.title }}</h3>
    <!-- <h4>{{ subtitle }}</h4> -->
    <form [formGroup]="confirmForm" (ngSubmit)="save(confirmForm.valid, confirmForm.value)">
        <!-- <p>
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Password" formControlName="password" />
        </p>
        <p>
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Confirm Password" formControlName="confirmPassword" />
        </p> -->
        <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter password">
            <nz-input-group nzSize="default" nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" placeholder="Password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter same password as above">
            <nz-input-group nzSize="default" nzPrefixIcon="lock" [nzSuffix]="suffixTemplate1">
              <input [type]="passwordVisible1 ? 'text' : 'password'" nz-input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
            </nz-input-group>
            <ng-template #suffixTemplate1>
              <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'" (click)="passwordVisible1 = !passwordVisible1"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>


      <div class="modal_footer text-right mt20">
        <button nz-button class="ml-sm" (click)="closeModal()">Cancel</button>
        <button  nz-button nzType="primary" 
        type="submit" [disabled]="!confirmForm.valid">Reset</button>
      </div>
  </form>
  </div>