<nz-page-header class="site-page-header user_rightbar">
  <!--avatar-->
  <nz-avatar nz-page-header-avatar [nzShape]="'square'" nzSrc="{{
      record.imageUrl
        ? record.imageUrl
        : 'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
    }}">
  </nz-avatar>

  <!--title-->
  <nz-page-header-title>{{ record.username }}</nz-page-header-title>

  <nz-page-header-extra>
    <a nz-dropdown [nzDropdownMenu]="menu">
      Security Status
      <i nz-icon nzType="down"></i>
    </a>
    <!-- <i nz-icon nzType="setting" nzTheme="outline"></i> -->
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li *ngIf="record.securityStatus === 'warning'" nz-menu-item (click)="statusChange('remove warning')">Remove
          Warning</li>
        <li *ngIf="record.securityStatus !== 'warning'" nz-menu-item (click)="statusChange('warning')">Warning</li>
        <li *ngIf="record.securityStatus === 'locked'" nz-menu-item (click)="statusChange('remove locked')">Remove
          Locked</li>
        <li *ngIf="record.securityStatus !== 'locked'" nz-menu-item (click)="statusChange('locked')">Locked</li>
        <li *ngIf="record.securityStatus === 'blacklisted'" nz-menu-item (click)="statusChange('remove blacklisted')">
          Remove Blacklisted</li>
        <li *ngIf="record.securityStatus !== 'blacklisted'" nz-menu-item (click)="statusChange('blacklisted')" nzDanger>
          Blacklisted</li>
      </ul>
    </nz-dropdown-menu>
    <nz-page-header-subtitle><i nz-icon nzType="reload" nzTheme="outline" (click)="reload()"></i>
    </nz-page-header-subtitle>
  </nz-page-header-extra>

  <!--content-->
  <nz-page-header-content class="white_bg">
    <div nz-row>
      <div class="content">
        <nz-tabset nzType="card">
          <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name" (nzClick)="tabSelect(tab)" [nzDisabled]="tab.disabled">
            <!-- User Info Tab Open -->
            <div class="content" *ngIf="tab.name == 'User Info'">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="12" nzSm="24">
                  Registration:
                  <nz-tag nzcolor="processing" class="ant-tag ant-tag-processing ng-star-inserted"
                    ng-reflect-nz-color="processing">
                    {{ record.loginType !=='guest'? 'Registered': 'Guest' | titlecase }}</nz-tag>
                </div>
                <div nz-col nzMd="12" nzSm="24">
                  Security Status:
                  <nz-tag *ngIf="record.securityStatus === 'fair'" nzcolor="success"
                    class="ant-tag ant-tag-success ng-star-inserted" ng-reflect-nz-color="success">
                    {{  record.securityStatus ? "Normal" : ("none" | titlecase)}}</nz-tag>

                  <nz-tag *ngIf="record.securityStatus === 'warning'" nzcolor="warning"
                    class="ant-tag ant-tag-warning ng-star-inserted" ng-reflect-nz-color="warning">
                    {{ record.securityStatus | titlecase }}</nz-tag>

                  <nz-tag *ngIf="record.securityStatus === 'blacklisted' || record.securityStatus === 'locked'"
                    nzcolor="error" class="ant-tag ant-tag-error ng-star-inserted" ng-reflect-nz-color="error">
                    {{ record.securityStatus | titlecase }}</nz-tag>
                </div>
              </div>
              <div class="border_top my-2"></div>
              <h6 class="text-center">General</h6>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Username :</td>
                    <td>{{ record.username }} &nbsp;<i class="text-grey" (click)="copyMessage(this.record._id)" nz-icon nzType="copy"  nzTooltipTitle="Id copied!" nzTooltipTrigger='click' nzTooltipPlacement="topLeft" nz-tooltip nzTheme="outline"></i>&nbsp;
                      <i class="text-grey" *ngIf="this.userToken" (click)="copyMessage(this.userToken)" nz-icon nzType="copy"  nzTooltipTitle="Token copied!" nzTooltipTrigger='click' nzTooltipPlacement="topLeft" nz-tooltip nzTheme="fill"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">First Name :</td>
                    <td>{{ record.fName | titlecase }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Last Name :</td>
                    <td>{{ record.lName | titlecase }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Email :</td>
                    <td>
                      <a>{{ record.primaryEmail }}</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Phone Number :</td>
                    <td *ngIf="record.phoneNumber">+ {{record.phoneCode}}&nbsp;{{record.phoneNumber}}</td>
                    <td *ngIf="!record.phoneNumber">N/A</td>
                  </tr>
                  <tr>
                    <td class="text-right">Channel Operator Source :</td>
                    <td>{{ (record.channelOperatorId ? record.channelOperatorId : 'N/A' )}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">KYC Completed :</td>
                    <td *ngIf="record.kycVerified">  Yes </td>
                    <td *ngIf="!record.kycVerified">  No </td>
                  </tr>
                  <tr>
                    <td class="text-right">KYC Completion Date :</td>
                    <td>{{ record.kycDate ? (record.kycDate| _date :'dd.MM.yyyy  h:mm:ss') : 'N/A' }}</td>
                  </tr>
                </tbody>
              </nz-table>

              <div class="border_top my-2"></div>
              <h6 class="text-center">Recent Activity</h6>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Last Active :</td>
                    <!-- <td>11.12.2021 12:51:40</td> -->
                    <td>{{ record.lastActive | _date :'dd.MM.yyyy  h:mm:ss' }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Last Location :</td>
                    <td>{{ record.lastLocation ? (record.lastLocation.country | titlecase): 'N/A' }}</td>
                    <!-- <td>Oakland, CA</td> -->
                  </tr>
                  <tr>
                    <td class="text-right">Device Information :</td>
                    <td>{{record.userAgent ? (record.userAgent.osName ? record.userAgent.osName  : 'N/A'): 'N/A'}} &nbsp;{{record.userAgent ? (record.userAgent.osName ? record.userAgent.osVersion  : ''): ''}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Log-in Type :</td>
                    <td>
                      <span>{{ record.loginType | titlecase }} <span *ngIf="record.loginType !== 'guest'">SSO</span></span>
                    </td>
                  </tr>
                </tbody>
              </nz-table>



              <!-- <div class="border_top my-2"></div>
              <h6 class="text-center">Address</h6>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Country Of Residence :</td>
                    <td>
                      <span>United States</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Address :</td>
                    <td>Sunset St. 1023, 12</td>
                  </tr>
                  <tr>
                    <td class="text-right">City :</td>
                    <td>Oakland, CA</td>
                  </tr>
                  <tr>
                    <td class="text-right">Zip / Postal :</td>
                    <td>129301</td>
                  </tr>
                </tbody>
              </nz-table> -->
            </div>
            <!-- User Info Tab Close -->

            <!-- Challenges Tab Open -->
            <div class="content" *ngIf="tab.name == 'Challenges'">{{ tab.name }}</div>
            <!-- Challenges Tab Close -->

            <!-- Tournaments Tab Open -->
            <div class="content" *ngIf="tab.name == 'Tournaments'">{{ tab.name }}</div>
            <!-- Tournaments Tab Close -->

            <!-- Balance Tab Open -->
            <div class="content" *ngIf="tab.name == 'Balance'">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="12" nzSm="24">
                  <div nz-row>
                    <div nz-col nzSpan="6">
                      <h6>Practice</h6>
                    </div>
                    <div nz-col nzSpan="3">
                      <i nz-icon nzType="plus" nzTheme="outline" class="outlined"
                        (click)="balanceModal('depositPractice')"></i>
                    </div>
                    <div nz-col nzSpan="3">
                      <i nz-icon nzType="minus" nzTheme="outline" class="outlined"
                        (click)="balanceModal('removePractice')"></i>
                    </div>
                  </div>
                  <!-- <div class="d-flex flex-grow-1"><h6>Practice</h6>
                  <i nz-icon nzType="reload" nzTheme="outline" (click)="reload()" ></i>
                </div> -->
                  <h2 class="text_blue mb-0">155 xCoins</h2>
                  <p class="bold text_gray">
                    1,620 <span class="font14 semibold">All-time</span>
                  </p>
                </div>
                <div nz-col nzMd="12" nzSm="24">
                  <h6>Tickets</h6>
                  <h2 class="text_pink mb-0">2 tickets</h2>
                  <p class="bold text_gray">
                    31 <span class="font14 semibold">All-time</span>
                  </p>
                </div>
              </div>
              <div class="border_top my-2"></div>
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="12" nzSm="24">
                  <div nz-row>
                    <div nz-col nzSpan="3">
                      <h6>Fiat</h6>
                    </div>
                    <div nz-col nzSpan="3">
                      <i nz-icon nzType="plus" nzTheme="outline" class="outlined"
                        (click)="balanceModal('depositFiat')"></i>
                    </div>
                    <div nz-col nzSpan="3">
                      <i nz-icon nzType="minus" nzTheme="outline" class="outlined"
                        (click)="balanceModal('removeFiat')"></i>
                    </div>
                  </div>
                  <!-- <h6>Fiat</h6> -->
                  <h2 class="text_green mb-0">106.56 USD</h2>
                  <p class="bold text_gray">
                    1,010.20 <span class="font14 semibold">All-time</span>
                  </p>
                </div>
              </div>

              <div nz-row [nzGutter]="{ xs: 12, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="24" nzSm="24">
                  <g2-mini-progress height="20px" percent="86.20" strokeWidth="24" target="86.20" color="#95DE64">
                  </g2-mini-progress>
                </div>
              </div>
              <div nz-row [nzGutter]="{ xs: 12, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="24" nzSm="24">
                  <nz-table>
                    <tbody>
                      <tr>
                        <td class="bg_gray border_right_white">
                          <h2 class="text_green mb-0">90.76 USD</h2>
                          <p class="bold mb-0"><span nz-typography nzType="secondary">86.20% Real Funds</span></p>
                        </td>
                        <td class="bg_gray">
                          <h2 class="mb-0"><span nz-typography nzType="secondary">15.80 USD</span></h2>
                          <p class="bold mb-0"><span nz-typography nzType="secondary">14.80% Bonus Cash</span></p>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>

              <div class="border_top my-2"></div>
              <!-- <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="24" nzSm="24">
                  <h6>Crypto</h6>
                  <p class="bold text_gray">Total</p>
                  <h2 class="text_purple mb-0">≈ 417.92 USD</h2>
                </div>
              </div> -->

              <!-- Accordine Open -->
              <div nz-col nzMd="24" *ngIf='toggle'>
                <nz-collapse [nzBordered]="false">
                  <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active"
                    [nzExtra]="extraTpl">
                    <div nz-row [nzGutter]="{
                        xs: 8,
                        sm: 8,
                        md: 8,
                        lg: 24,
                        xl: 48,
                        xxl: 48
                      }">
                      <div nz-col nzMd="24" nzSm="24">
                        <h2 class="text_purple mb-0">51.20 USDT</h2>
                        <p class="bold text_gray">
                          112.30 <span class="font14 semibold">All-time</span>
                        </p>
                      </div>
                    </div>

                    <div nz-row [nzGutter]="{
                        xs: 12,
                        sm: 8,
                        md: 8,
                        lg: 24,
                        xl: 48,
                        xxl: 48
                      }">
                      <div nz-col nzMd="24" nzSm="24">
                        <g2-mini-progress height="20px" percent="86.20" strokeWidth="24" target="90" color="#B37FEB">
                        </g2-mini-progress>
                      </div>
                      <div nz-col nzMd="24" nzSm="24">
                        <nz-table>
                          <tbody>
                            <tr>
                              <td class="bg_gray border_right_white">
                                <h2 class="text_purple mb-0">46.08 USDT</h2>
                                <p class="bold mb-0">
                                  <span nz-typography nzType="secondary">90.00% Real Funds</span>
                                </p>
                              </td>
                              <td class="bg_gray">
                                <h2 class="text_gray mb-0">5.12 USDT</h2>
                                <p class="bold mb-0">
                                  <span nz-typography nzType="secondary">10.00% Bonus Cash</span>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                  </nz-collapse-panel>
                </nz-collapse>
                <ng-template #extraTpl><span class="balance_value">1.30</span> ≈ 360.77 USD
                </ng-template>
              </div>
              <!-- Accordine End -->
            </div>
            <!-- Balance Tab Close -->

            <!-- Game Profile Tab Open -->
            <div class="content w-100" *ngIf="tab.name == 'Game Profile'">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzSm="24" nzMd="24">
                  <nz-card [nzLoading]="loading" [nzBordered]="false" [nzTitle]="
                      'app.analysis.the-proportion-of-sales1' | translate
                    " [nzBodyStyle]="{ 'padding.px': 24 }" [nzExtra]="extra" class="sales-card mb-0"
                    style="min-height: 502.5px">
                    <ng-template #extra>
                      <nz-radio-group [(ngModel)]="salesType" (ngModelChange)="changeSaleType()">
                        <label nz-radio-button [nzValue]="'all'">
                          {{ "app.analysis.channel.allTime" | translate }}
                        </label>
                        <label nz-radio-button [nzValue]="'online'">
                          {{ "app.analysis.channel.currentWeek" | translate }}
                        </label>
                        <label nz-radio-button [nzValue]="'offline'">
                          {{ "app.analysis.channel.lastWeek" | translate }}
                        </label>
                      </nz-radio-group>
                      <!-- <i
                        nz-dropdown
                        [nzDropdownMenu]="salesExtraMenu"
                        nzPlacement="bottomLeft"
                        nz-icon
                        nzType="ellipsis"
                        class="icon-group"
                      ></i> -->
                      <!-- <nz-dropdown-menu #salesExtraMenu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item>操作一</li>
                          <li nz-menu-item>操作二</li>
                        </ul>
                      </nz-dropdown-menu> -->
                    </ng-template>
                    <!-- <h4 class="margin:8px 0 32px 0;">
                      {{ "app.analysis.matches" | translate }}
                    </h4> -->
                    <g2-pie *ngIf="salesPieData" [data]="salesPieData" [hasLegend]="true"
                      [subTitle]="'app.analysis.matches' | translate" [height]="180" [inner]="0.68" [lineWidth]="1"
                      color="rgba(24, 144, 255, 0.85)" [total]="salesTotal">
                    </g2-pie>
                    <div nz-row>
                      <div nz-col nzSm="16" nzMd="16">
                        <nz-table>
                          <tbody>
                            <tr class="mb-0">
                              <td>
                                <h3>Practice Winnings</h3>
                              </td>
                            </tr>
                            <tr>
                              <td class="bg_gray border_right_white">
                                <h2 class="text_green mb-0">1,245 xCoins</h2>
                                <!-- <p class="bold mb-0">86.20% Real Funds</p> -->
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                      <div nz-col nzSm="8" nzMd="8" class="text-right">
                        <nz-table>
                          <tbody>
                            <tr class="mb-0">
                              <td>
                                <h3>Cash Winnings</h3>
                              </td>
                            </tr>
                            <tr>
                              <td class="bg_gray border_right_white">
                                <h2 class="text_green mb-0">≈ 890.40 USD</h2>
                                <!-- <p class="bold mb-0">86.20% Real Funds</p> -->
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                    <h3>Game Stats</h3>
                    <nz-collapse [nzBordered]="false">
                      <nz-collapse-panel *ngFor="let panel of gameProfilePanel" [nzHeader]="panel.name"
                        [nzActive]="panel.active" [nzExtra]="extraTpl">

                        <div nz-row [nzGutter]="{
                          xs: 12,
                          sm: 8,
                          md: 8,
                          lg: 24,
                          xl: 48,
                          xxl: 48
                        }">
                          <div nz-col nzMd="24" nzSm="24">
                            <g2-pie *ngIf="salesPieData" [data]="salesPieData" [hasLegend]="true"
                              [subTitle]="'app.analysis.center' | translate" [height]="180" [inner]="0.58"
                              [lineWidth]="1" color="rgba(24, 144, 255, 0.85)" [total]="salesTotal">
                            </g2-pie>
                            <div nz-row>
                              <div nz-col nzSm="16" nzMd="16">
                                <nz-table>
                                  <tbody>
                                    <tr class="mb-0">
                                      <td>
                                        <h3>Practice Winnings</h3>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="bg_gray border_right_white">
                                        <h2 class="text_green mb-0">1,245 xCoins</h2>
                                        <!-- <p class="bold mb-0">86.20% Real Funds</p> -->
                                      </td>
                                    </tr>
                                  </tbody>
                                </nz-table>
                              </div>
                              <div nz-col nzSm="8" nzMd="8" class="text-right">
                                <nz-table>
                                  <tbody>
                                    <tr class="mb-0">
                                      <td>
                                        <h3>Cash Winnings</h3>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td class="bg_gray border_right_white">
                                        <h2 class="text_green mb-0">≈ 890.40 USD</h2>
                                        <!-- <p class="bold mb-0">86.20% Real Funds</p> -->
                                      </td>
                                    </tr>
                                  </tbody>
                                </nz-table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </nz-collapse-panel>
                    </nz-collapse>
                    <ng-template #extraTpl> Level 10
                    </ng-template>
                  </nz-card>
                </div>
              </div>
            </div>
            <!-- Game Profile Tab Close -->

            <!-- Admin Actions Tab Open -->
            <div class="content" *ngIf="tab.name == 'Admin Actions'">
              <div class="mt20" nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                <div nz-col nzMd="18" nzXs="20" class="right">
                  <nz-timeline nzMode="left">
                    <!--Time line 1-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <div class="name_title">RM</div>
                      <span nz-typography nzType="secondary">Randy Middleton</span>
                      <p>
                        Changed status to
                        <span nz-typography nzType="warning">Warned</span>.
                        Warning message:
                      </p>
                      <div nz-typography nzType="secondary" class="bg_gray p10">
                        Cheating software was detected in your recent match. If
                        the same software will be used after this warning we
                        will ban you permanently.
                      </div>
                    </nz-timeline-item>
                    <!-- /Time line 1-->

                    <!--Time line 2-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <div class="name_title">RM</div>
                      <span nz-typography nzType="secondary">Randy Middleton</span>
                      <p>
                        Removed user from Solitaire match<br />
                        <span class="text_blue">ID 0003213991.</span>
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 2-->

                    <!--Time line 3-->
                    <nz-timeline-item>
                      <div class="date_time">
                        30.11.2021<br />
                        15:10:22
                      </div>
                      <nz-avatar nz-page-header-avatar nzSize="small" nzSrc="{{
                          'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
                        }}">
                      </nz-avatar>
                      &nbsp;
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                      <p>
                        50.00 USD
                        <span class="text_blue">withdrawal request #3288 cancelled. Reason:</span>
                      </p>
                      <div nz-typography nzType="secondary" class="bg_gray p10">
                        You don’t deserve this money. We’ll give it to charity
                        anyway.
                      </div>
                    </nz-timeline-item>
                    <!-- /Time line 3-->

                    <!--Time line 4-->
                    <nz-timeline-item>
                      <div class="date_time">
                        19.11.2021<br />
                        22:11:33
                      </div>
                      <nz-avatar nz-page-header-avatar nzSize="small" nzSrc="{{
                          'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
                        }}">
                      </nz-avatar>
                      &nbsp;
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                      <p>
                        Removed user from Manna Wars match<br />
                        <span class="text_blue">ID 0002913919.</span>
                      </p>
                    </nz-timeline-item>
                    <!-- /Time line 4-->
                  </nz-timeline>
                </div>
              </div>
            </div>
            <!-- Admin Actions Tab Close -->

          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>