.content {
    flex: 1;
  }
  .ant-page-header-heading-title{
    font-size: 17px;
   }
  .content p {
    margin-bottom: 1em;
  }

  .content-link a {
    margin-right: 16px;
  }

  @media (max-width: 768px) {
    .content-image {
      flex: 100%;
      margin: 24px 0 0;
    }
  }
  
  .data-selected{
    background-color: #d9e8f7;
  }
  .padding{
    margin-bottom:10px;
    padding:12px;
    min-width: 1200px;
  }
  nz-select{
    width:26%;
  }
  th{
    font-size: 0.9rem;
  }
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  nz-button-group [nz-button] {
    margin-right: 0;
  }
  .alain-default__content-title{
    padding-bottom:0px;
    border-bottom:none!important;
  }

  .default_width.ant-col.ant-col-sm-40.ant-col-md-20{
    margin-left:30px;
    position: static;
  }