<nz-page-header class="site-page-header user_rightbar">
  <!--title-->
  <nz-page-header-title> {{record.state ? record.state : 'All States'}} </nz-page-header-title>

  <nz-page-header-extra>
    <nz-tag nzcolor="processing" class="ant-tag ant-tag-processing ng-star-inserted mouse" ng-reflect-nz-color="processing"
      (click)="editProhibitionLocation(record)">Edit Exclusion</nz-tag>
    <nz-tag nzcolor="error" class="ant-tag ant-tag-error ng-star-inserted mouse" ng-reflect-nz-color="error"
      (click)="deleteProhibitionLocation(record)">Delete</nz-tag>
    <nz-page-header-subtitle>

    </nz-page-header-subtitle>
  </nz-page-header-extra>
  <!--content-->
  <nz-page-header-content class="white_bg">
    <!-- Transaction Info Tab Open -->

    <div class="border_top my-2"></div>
    <nz-table>
      <tbody>
        <tr>
          <td class="text-right">State :</td>
          <td>{{ record.state ? record.state: 'All States' }}</td>
        </tr>
        <tr>
          <td class="text-right">State Restriction:</td>
          <td>
            <span nz-typography *ngIf="record.gameRestriction === 'cashGames'" nzType="warning">Cash Games</span>
            <span nz-typography *ngIf="record.gameRestriction === 'cardGames'" nzType="danger">Card Games</span>
          </td>
        </tr>
        <tr>
          <td class="text-right">Country :</td>
          <td>{{ record.country ? record.country : 'All Country'}}</td>
        </tr>
        <tr>
          <td class="text-right">Creation Date :</td>
          <td>{{ record.createdAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        </tr>
        <tr>
          <td class="text-right">Last Updated :</td>
          <td>{{ record.updatedAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        </tr>
        <tr>
          <td class="text-right">Updated By:</td>
          <td>
            <div class="name_title">RM</div>
            <span nz-typography nzType="secondary">Randy Middleton</span>
          </td>
        </tr>

      </tbody>
    </nz-table>

    <!-- Transaction Info Tab Close -->

  </nz-page-header-content>
</nz-page-header>