<div class="white_box">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="submitFilterForm()" class="search__form d-block">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Country</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input nz-input [(ngModel)]="q.country" name="country" placeholder="" id="country" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27">
            <nz-form-label class="label_text_right">State</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
              <input nz-input [(ngModel)]="q.state" name="state" placeholder="" id="state" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">

        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
              Apply
            </button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">
              Reset
            </button>
          </div>
        </div>

      </div>
      <div nz-col *ngIf="expandForm" [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
          Apply
        </button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>

<div class="white_box">
  <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
    <div nz-col nzLg="10" nzMd="14" nzXs="30" class="mb10">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="14" nzSm="14" nzXs="42">
          <span><a>Default Deposit Options</a></span>
        </div>
        <div nz-col nzMd="10" nzSm="10" nzXs="30">
          <span class="label_text_right">All Countries</span>
        </div>
      </div>
    </div>

    <div nz-col nzLg="6" nzMd="10" nzXs="18" class="mb10">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="10" nzSm="10" nzXs="30">
          <div class="example-input">
            <!-- <input nz-input placeholder="small size" nzSize="small" /> -->
          </div>
        </div>
        <div nz-col nzMd="14" nzSm="14" nzXs="42">
          <input nz-input placeholder="2,5,10,20,50" [(ngModel)]="countriesDefaultValue" nzSize="small" />

        </div>
      </div>
    </div>

    <div nz-col nzLg="8" nzMd="10" nzXs="18" class="mb10">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="8" nzSm="8" nzXs="24">
          <div class="example-input">
          </div>
        </div>
        <div nz-col nzMd="16" nzSm="16" nzXs="48">
          11.12.2021 16.12.11
        </div>
      </div>
    </div>

  </div>
</div>

<nz-page-header class="site-page-header white_box mt10">
  <!--title-->
  <nz-page-header-title>Deposit Options List</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

  <!--extra-->
  <nz-page-header-extra>
    <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
    <nz-select [nzPlaceHolder]="'Country: A to Z'" [(ngModel)]="selectedSortBy" (ngModelChange)="sortBy($event)">
      <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
    </nz-select>
    <nz-page-header-subtitle><i nz-icon nzType="reload" (click)="reload()"></i></nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <span nz-dropdown [nzDropdownMenu]="menu1">
        <i nz-icon nzType="column-height"></i>
      </span>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="tableSize('default')"><span *ngIf="size === 'default'" nz-typography><a>Big
                <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
          <li nz-menu-item (click)="tableSize('middle')">Medium</li>
          <li nz-menu-item (click)="tableSize('small')">Compact</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <!-- <i nz-icon nzType="setting"></i > -->
    </nz-page-header-subtitle>
  </nz-page-header-extra>
</nz-page-header>
<div class="table_scroll white_box">
  <nz-table [(nzSize)]="size" nzShowSizeChanger [nzData]="listOfDepositOption" [nzFrontPagination]="false"
    [nzShowPagination]="paginationToggle" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzColumnKey="State">State</th>
        <th nzColumnKey="Country">Country</th>
        <th nzColumnKey="Deposits">Deposits</th>
        <th nzColumnKey="last_updated">Last Updated</th>

        <!-- <th nzColumnKey="playerType" [nzSortFn]="true">24h Players</th> -->
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{ 'data-selected': selectedRow === data._id }"
        *ngFor="let data of listOfDepositOption; let i = index" (click)="rowClick(data)">
        <td>
          <a>{{ data.state ? data.state : '----' }}</a>
        </td>
        <td>{{data.country ? data.country : '----'}}</td>
        <!-- <td>{{data.iso3}}</td> -->
        <td>1,2,5,10,25</td>
        <td>{{ data.updatedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>