<div class="alain-default__content-title">
  <h1>Leaderboards</h1>
  <div class="col-md-8 align-items-center">
    <button nz-button nzType="primary" nzGhost (click)="addGame()">
      <i nz-icon nzType="plus"></i>Add Leaderboard
    </button>
  </div>
</div>

<div class="white_box">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="submitFilter()" class="search__form d-block">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="12" nzSm="12" nzXs="20">
            <nz-form-label class="label_text_right">Start Date</nz-form-label>
          </div>
          <div nz-col nzMd="12" nzSm="12" nzXs="20">
            <nz-form-control>
              <nz-date-picker [(ngModel)]="q.startDate" name="startDate" placeholder="" id="startDate"></nz-date-picker>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Status</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-select [nzPlaceHolder]="'Status'" nzId="status" [(ngModel)]="q.status" name="status"
                [nzShowSearch]="true" class="w-100">
                <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="8" nzXs="24" class="padding-0">
            <nz-form-label class="label_text_right">Pro Prize Pool</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-input-group nzAddOnAfter="USD">
                <nz-input-number [(ngModel)]="q.proPrizePool" name="proPrizePool" id="proPrizePool" [nzMin]="1"
                  [nzStep]="1"></nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="12" nzSm="12" nzXs="20">
            <nz-form-label class="label_text_right">Practice Prize Pool</nz-form-label>
          </div>
          <div nz-col nzMd="12" nzSm="12" nzXs="20">
            <nz-form-control>
              <nz-input-group nzAddOnAfter="xCoins">
                <nz-input-number [(ngModel)]="q.practicePrizePool" name="practicePrizePool" id="practicePrizePool"
                  [nzMin]="1" [nzStep]="1"></nz-input-number>
              </nz-input-group>
            </nz-form-control>
          </div>
        </div>
      </div>


      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">

        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
              Apply
            </button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">
              Reset
            </button>
            <a (click)="expandForm = !expandForm">
              {{ expandForm ? "Collapse" : "Expand" }}
              <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
            </a>
          </div>
        </div>

      </div>
      <div class="pr-5" nz-col *ngIf="expandForm" [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
          Apply
        </button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">
          Reset
        </button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? "Collapse" : "Expand" }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
</div>


<nz-page-header class="site-page-header white_box mt10">
  <!--title-->
  <nz-page-header-title>Leaderboards List</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

  <!--extra-->
  <nz-page-header-extra>
    <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
    <nz-select [nzPlaceHolder]="'Start Date'" [(ngModel)]="selectedLeaderboard" (ngModelChange)="sortBy($event)">
      <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
    </nz-select>
    <nz-page-header-subtitle>
      <i nz-icon nzType="reload" (click)="reload()"></i>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <span nz-dropdown [nzDropdownMenu]="menu1">
        <i nz-icon nzType="column-height"></i>
      </span>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="tableSize('default')">Big</li>
          <li nz-menu-item (click)="tableSize('middle')">Medium</li>
          <li nz-menu-item (click)="tableSize('small')">Compact</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
  </nz-page-header-extra>
</nz-page-header>

<div class="table_scroll white_box">
  <nz-table nzShowSizeChanger [nzData]="listOfLeaderBoards" [nzSize]="size"
    [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzFrontPagination]="false"
    [nzPageSizeOptions]="[10,25,50,100,150]" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzColumnKey="startDate">Start Date</th>
        <th nzColumnKey="endDate">End Date</th>
        <th nzColumnKey="days">Days</th>
        <th nzColumnKey="prizesUsd">Prizes, USD</th>
        <th nzColumnKey="proPlayers">Pro Players</th>
        <th nzColumnKey="prizesxCoins">Prizes, xCoins</th>
        <th nzColumnKey="practicePlayers">Practice Players</th>
        <th nzColumnKey="status">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{ 'data-selected': selectedRow === data._id }"
        *ngFor="let data of listOfLeaderBoards; let i = index" (click)="rowClick(data)">
        <td> <a>{{  data.startDate ? ( data.startDate | _date :'dd.MM.yyyy') : '-----'}}</a> </td>
        <td> {{  data.endDate ? ( data.endDate | _date :'dd.MM.yyyy') : '-----'}}</td>
        <td>{{data.days}}</td>
        <td>{{ data.prizes[0].amount ? data.prizes[0].amount : 0 }}</td>
        <td>{{ data.proPlayersCount }}</td>
        <td>{{ data.prizes[1].amount ? data.prizes[1].amount : 0 }}</td>
        <td>{{ data.practicePlayersCount }}</td>
        <td>
          <nz-tag nzColor="warning" *ngIf="data.status === 'ongoing'">{{
            data.status | titlecase }}</nz-tag>
          <nz-tag nzColor="success" *ngIf="data.status === 'finished'">{{
              data.status | titlecase }}</nz-tag>
          <nz-tag nzColor="processing" *ngIf="data.status === 'closed'">Completed</nz-tag>
          <nz-tag nzColor="default" *ngIf="data.status === 'upcoming'">{{
            data.status | titlecase }}</nz-tag>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>