<h4>{{subtitle}}</h4>
<form nz-form [formGroup]="forgotPasswordForm" (ngSubmit)="save(forgotPasswordForm.valid, forgotPasswordForm.value)">
    <nz-form-item>
        <nz-form-control  nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="descriptionErrorTpl">
            <nz-input-group nzSize="default" nzPrefixIcon="mail">
          <input nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your e-mail.
            </ng-container>
            <ng-container *ngIf="control.hasError('email')">
              Wrong email format.
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

  <div class="modal_footer text-right mt20">
    <button nz-button class="ml-sm" type="reset" (click)="closeModal()">Cancel</button>

    <button nz-button nzType="primary" 
    type="submit" [disabled]="!forgotPasswordForm.valid">Continue</button>
  </div>
  <!-- <button nz-button [nzType]="'success'" (click)="destroyModal()">success</button> -->
<!-- </p> -->
</form>