<div class="modal-container pt-4">
  <div class="modal_header">
    <h3>{{ data.title }}</h3>
  </div>
  <div class="modal-body">
<form nz-form [formGroup]="playOptionsForm" (ngSubmit)="save(playOptionsForm.valid,playOptionsForm.value)">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="21">Challenge Type</nz-form-label>
    <nz-radio-group formControlName="playOptionType" (ngModelChange)="playOptionTypeChange($event)">
      <label *ngIf="gameData.playerType === 'multiple'"  nz-radio-button nzValue="tvt">Team vs Team</label>
      <label *ngIf="gameData.playerType === 'multiple'" nz-radio-button nzValue="dm">Deathmatch</label>    
       <label *ngIf="gameData.playerType === 'single'" nz-radio-button nzValue="challenge">PvP</label>
      <label *ngIf="gameData.playerType === 'single'" nz-radio-button nzValue="brackets">Brackets</label>
    </nz-radio-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="21" >Name</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="name" placeholder="Add play option name" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your playOption name!
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Enter a name that is at least 6 letters long.
        </ng-container>
        <ng-container *ngIf="control.hasError('maxlength')">
          Enter a name that is at under 20 letters long.
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The  name is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="21" >Description</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="descriptionErrorTpl">
      <input nz-input formControlName="description" placeholder="Optional" />
      <ng-template #descriptionErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your description!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The description is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="21" >Position Index</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="positionIndexErrorTpl">
      <nz-input-number formControlName="positionIndex" [nzMin]="0" [nzStep]="1"></nz-input-number>
      <ng-template #positionIndexErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input positionIndex!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The positionIndex is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
    <nz-form-label [nzSm]="5" [nzXs]="15">Registered-only</nz-form-label>
    <nz-form-control [nzSm]="7" [nzXs]="15">
      <nz-switch  formControlName="regOnly" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
      <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
      <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
      <!-- <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template> -->
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="21" >Entry Fee</nz-form-label>
    <nz-form-control [nzSm]="13" [nzXs]="31"  nzValidatingTip="Validating..." [nzErrorTip]="feeErrorTpl">
      <nz-input-number formControlName="fee" (ngModelChange)="entryFeeChange($event)" [nzMin]="0" [nzStep]="1" style="width:220px;"></nz-input-number>
      <ng-template #feeErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input fee!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The fee is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
    <!-- <nz-form-label [nzSm]="7" [nzXs]="21"></nz-form-label> -->
    <nz-form-control [nzSm]="7" [nzXs]="21" style="padding-left:35px;">
      <nz-radio-group formControlName="playMode">
        <label nz-radio-button nzValue="m" (click)="createDataSource()">USD</label>
        <label nz-radio-button nzValue="p" (click)="createDataSource()">xCoins</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="21" >Players</nz-form-label>
    <nz-form-control *ngIf="playOptionsForm.controls['playOptionType'].value === 'challenge'"  [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="playersCountErrorTpl">
      <nz-input-number formControlName="playersCount" [nzDisabled]="true" (ngModelChange)="playerCountChanged()" [nzMin]="2" [nzMax]="2" [nzStep]="2"></nz-input-number>
      <ng-template #playersCountErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input playersCount!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The playersCount is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>

    <nz-form-control *ngIf="playOptionsForm.controls['playOptionType'].value === 'brackets'" [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="playersCountErrorTpl">
      <nz-select formControlName="playersCount" (ngModelChange)="playerCountChanged()">
        <nz-option *ngFor="let option of bracketPlayers" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
      <ng-template #playersCountErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input playersCount!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The playersCount is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>

    <nz-form-control *ngIf="playOptionsForm.controls['playOptionType'].value === 'tvt'" [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="playersCountErrorTpl">
      <nz-input-number formControlName="playersCount" (ngModelChange)="playerCountChanged()" [nzMin]="2" [nzMax]="2" [nzStep]="2"></nz-input-number>
      <ng-template #playersCountErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>

    <nz-form-control *ngIf="playOptionsForm.controls['playOptionType'].value === 'dm'" [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="playersCountErrorTpl">
      <!-- <nz-input-number formControlName="playersCount" (ngModelChange)="playerCountChanged()" [nzMin]="2" [nzMax]="2" [nzStep]="2"></nz-input-number> -->
      <nz-select formControlName="playersCount" (ngModelChange)="playerCountChanged()">
        <nz-option *ngFor="let option of deathmatchPlayers" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
      <ng-template #playersCountErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>

    <nz-form-label [nzSm]="6" [nzXs]="18">Prize Total</nz-form-label>
    <nz-form-control [nzSm]="9" [nzXs]="18"  nzValidatingTip="Validating..."  [nzErrorTip]="prizeTotalErrorTpl">
      <nz-input-number formControlName="prizeTotal" (ngModelChange)="prizeTotal($event)" (input)="total($event)" type="number" [nzMin]="0" [nzStep]="1" [nzMax]="playOptionsForm.controls['fee'].value * playOptionsForm.controls['playersCount'].value"></nz-input-number>
      <ng-template #prizeTotalErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input prize total!
        </ng-container>
        <ng-container *ngIf="control.hasError('error')">
          Please input valid prize pool!
        </ng-container>
      </ng-template>
      <span style="padding-left:1px"  *ngIf="playOptionsForm.controls['playMode'].value === 'm'">USD</span>
      <span style="padding-left:0px" *ngIf="playOptionsForm.controls['playMode'].value === 'p'">xCoins</span>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item>
     <div style="padding: 0 13px 0 42px;font-size: 1.1rem; line-height: 1.7;"><h4 nz-typography>Time Limits</h4></div>
    <nz-form-control [nzSpan]="12" >
      <label nz-checkbox formControlName="timeLimit">Use Default</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzTooltipTitle="What do you want other to call you" [nzSm]="7" [nzXs]="21" >Fill Limit</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="fillLimitErrorTpl">
      <nz-input-number formControlName="fillLimit" [nzMin]="0" [nzStep]="1"  style="width: 82px"></nz-input-number>
      <span style="padding-left:4px">hours</span>
      <ng-template #fillLimitErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
    <nz-form-label nzTooltipTitle="What do you want other to call you" [nzSm]="7" [nzXs]="21" >Round Limit</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="16"  nzValidatingTip="Validating..." [nzErrorTip]="roundCountErrorTpl">
      <nz-input-number formControlName="roundCount" [nzMin]="0" [nzStep]="1"  style="width: 82px"></nz-input-number>
      <span style="padding-left:4px">hours</span>
      <ng-template #roundCountErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <div style="padding: 0 13px 0 42px;"><h4 nz-typography>Player Table</h4></div>
 </nz-form-item>

  <nz-form-item *ngIf="playOptionsForm.controls['playOptionType'].value === 'brackets'"  >
    <nz-form-label [nzSm]="7" [nzXs]="21" >Single Winner</nz-form-label>
    <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="singleWinnerErrorTpl">
      <nz-switch [ngModel]="false" formControlName="isSingleWinner" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
      <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
      <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
      <ng-template #singleWinnerErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input your username!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          The username is redundant!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>


<div class="container" style="padding: 0 13px 0 42px;">
 
  <!-- if playOption type select is PvP (open)-->
  <nz-table [nzData]="dataSource" [nzFrontPagination]="false" [nzLoading]="loading" *ngIf="playOptionsForm.controls['playOptionType'].value === 'challenge'">
    <thead>
      <tr>
        <th><b>Position</b></th>
        <th *ngIf="playOptionsForm.controls['playMode'].value === 'm'"><b>Prize(USD)</b></th>
        <th *ngIf="playOptionsForm.controls['playMode'].value === 'p'"><b>Prize(xCoins)</b></th>
        <th *ngIf="playOptionsForm.controls['playMode'].value === 'm'"><label formControlName="isTrophies" nz-checkbox><b>Trophies</b></label></th>
        <th *ngIf="playOptionsForm.controls['playMode'].value === 'p'"><label formControlName="ribbons" nz-checkbox><b>Ribbons</b></label></th>
        <th><label formControlName="isExperience" nz-checkbox><b>Experience</b></label></th>
      </tr>
    </thead>
    <tbody formArrayName="rewardQuantity" >
      <tr *ngFor="let data of dataSource; let rowIndex = index;">
        <td [formGroupName]="rowIndex"><span *ngIf="rowIndex == 0"  >1st place</span><span *ngIf="rowIndex == 1"  >2nd place</span><span *ngIf="rowIndex == 2"  >Total</span></td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="USD" (ngModelChange)="calculateTotalPrize()" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="xCoins" (ngModelChange)="calculateTotalPrize()"  [nzMin]="0"  [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="ribbons"  (ngModelChange)="calculateTotalPrize()"  [nzDisabled]="!playOptionsForm.controls['ribbons'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="trophies" (ngModelChange)="calculateTotalPrize()" [nzDisabled]="!playOptionsForm.controls['isTrophies'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <!-- <td [formGroupName]="rowIndex"> <nz-input-number formControlName="experience"  [nzDisabled]="!playOptionsForm.controls['isExperience'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td> -->
        <td [formGroupName]="rowIndex"> <nz-input-number formControlName="experience" (ngModelChange)="calculateTotalPrize()" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
      </tr>
    </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td> <nz-input-number nzValue="0" formControlName="USDTotal" [nzMin]="0" readonly [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td  *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number nzValue="0" [nzMin]="0" readonly [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['isTrophies'].value" formControlName="trophiesTotal" nzSize="small"></nz-input-number> </td>
          <td  *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number nzValue="0" [nzMin]="0" readonly [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['ribbons'].value" formControlName="ribbonsTotal"  nzSize="small"></nz-input-number> </td>
          <td> <nz-input-number  [nzMin]="0" readonly [nzDisabled]="!playOptionsForm.controls['isExperience'].value" formControlName="experienceTotal"  nzSize="small"></nz-input-number> </td>
        </tr>
        <tr><td colspan="4" class="text-right"><a (click)="tableReset()"><i nz-icon nzType="reload" nzTheme="outline"></i>&nbsp;&nbsp;Reset Table to Default</a></td> </tr>
      </tfoot>
  </nz-table>
  <!-- if playOption type select is PvP (close)-->

    <!-- if playOption type is bracket (open)-->
    <nz-table [nzData]="dataSource" [nzFrontPagination]="false" *ngIf="playOptionsForm.controls['playOptionType'].value === 'brackets'">
      <thead>
        <tr>
          <th><b>Position</b></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'm'"><b>Prize(USD)</b></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'p'"><b>Prize(xCoins)</b></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'm'"><label formControlName="isTrophies" nz-checkbox><b>Trophies</b></label></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'p'"><label formControlName="ribbons" nz-checkbox><b>Ribbons</b></label></th>
          <th><label formControlName="isExperience" nz-checkbox><b>Experience</b></label></th>
        </tr>
      </thead>
      <tbody formArrayName="rewardQuantity" >
        <tr *ngFor="let data of dataSource; let rowIndex = index;">
          <td [formGroupName]="rowIndex">
            <span *ngIf="rowIndex == 0"  >Winner</span>
            <span *ngIf="rowIndex == 1"  >Finalist</span>
            <!-- <span *ngIf="rowIndex == 2"  >Top 4</span> -->
            <span *ngIf="round+1 == 3">
              <span *ngIf="rowIndex == 2">Last 2</span>
            </span>
            <span *ngIf="round+1 == 4">
              <span *ngIf="rowIndex == 2">Top 4</span>
              <span *ngIf="rowIndex == 3">Last 4</span>
            </span>
            <span *ngIf="round+1 == 5">
              <span *ngIf="rowIndex == 2">Top 4</span>
              <span *ngIf="rowIndex == 3">Top 8</span>
              <span *ngIf="rowIndex == 4">Last 8</span>
            </span>
          <span *ngIf="round+1 == 6">
            <span *ngIf="rowIndex == 2">Top 4</span>
            <span *ngIf="rowIndex == 3">Top 8</span>
            <span *ngIf="rowIndex == 4">Top 16</span>
            <span *ngIf="rowIndex == 5">Last 16</span>
          </span>
          </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="USD" [nzMin]="0" nzValue="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="xCoins" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="ribbons" [nzDisabled]="!playOptionsForm.controls['ribbons'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="trophies"  [nzDisabled]="!playOptionsForm.controls['isTrophies'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex"> <nz-input-number formControlName="experience" [nzDisabled]="!playOptionsForm.controls['isExperience'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        </tr>
      </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td> <nz-input-number nzValue="0" formControlName="prizeTotal" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
            <td  *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['isTrophies'].value" formControlName="trophiesTotal" nzSize="small"></nz-input-number> </td>
            <td  *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['ribbons'].value" formControlName="ribbonsTotal"  nzSize="small"></nz-input-number> </td>
            <td> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['isExperience'].value" formControlName="experienceTotal"  nzSize="small"></nz-input-number> </td>
          </tr>
          <tr><td colspan="4" class="text-right"><a (click)="rewardQuantity.reset()"><i nz-icon nzType="reload" nzTheme="outline"></i>&nbsp;&nbsp;Reset Table to Default</a></td> </tr>
        </tfoot>
    </nz-table>
    <!-- if playOption type is bracket (close)-->

  <!-- if playOption type select is team vs team (open)-->
  <nz-table [nzData]="dataSource" [nzFrontPagination]="false" *ngIf="playOptionsForm.controls['playOptionType'].value === 'tvt'">
    <thead>
      <tr>
        <th><b>Position</b></th>
        <th><b>Prize(USD)</b></th>
        <th><label formControlName="isTrophies" nz-checkbox><b>Trophies</b></label></th>
        <th><label formControlName="isExperience" nz-checkbox><b>Experience</b></label></th>
      </tr>
    </thead>
    <tbody  formArrayName="rewardQuantity">
      <tr *ngFor="let data of dataSource; let rowIndex = index;">
        <td [formGroupName]="rowIndex"><span *ngIf="rowIndex == 0"  >Winner team(each player)</span><span *ngIf="rowIndex == 1"  >Looser team(each player)</span><span *ngIf="rowIndex == 2"  >Total</span></td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="USD" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="trophies" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="xCoins" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="ribbons" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td [formGroupName]="rowIndex"> <nz-input-number formControlName="experience" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>


      </tr>
      <!-- <tr>
        <td>Total</td>
        <td> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1" [(ngModel)]="trophiesCount" nzSize="small"></nz-input-number> </td>
        <td> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
      </tr> -->
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td> <nz-input-number nzValue="0" formControlName="prizeTotal" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td> <nz-input-number nzValue="0" formControlName="trophiesTotal" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        <td> <nz-input-number nzValue="0" formControlName="experienceTotal" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
      </tr>
     <tr><td colspan="4" class="text-right"><a (click)="tableReset()"><i nz-icon nzType="reload" nzTheme="outline"></i>&nbsp;&nbsp;Reset Table to Default</a> </td></tr>
    </tfoot>
  </nz-table>
  <!-- if playOption type select is team vs team (close)-->

    <!-- if playOption type select is dm (open)-->
    <nz-table [nzData]="dataSource" [nzLoading]="loading" [nzFrontPagination]="false" *ngIf="playOptionsForm.controls['playOptionType'].value === 'dm'">
      <thead>
        <tr>
          <th><b>Position</b></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'm'"><b>Prize(USD)</b></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'p'"><b>Prize(xCoins)</b></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'm'"><label formControlName="isTrophies" nz-checkbox><b>Trophies</b></label></th>
          <th *ngIf="playOptionsForm.controls['playMode'].value === 'p'"><label formControlName="ribbons" nz-checkbox><b>Ribbons</b></label></th>
          <th><label formControlName="isExperience" nz-checkbox><b>Experience</b></label></th>
        </tr>
      </thead>
      <tbody formArrayName="rewardQuantity" >
        <tr *ngFor="let data of dataSource; let rowIndex = index;">
          <td [formGroupName]="rowIndex"><span *ngIf="rowIndex == 0"  >1st place</span><span *ngIf="rowIndex == 1"  >2nd place</span><span *ngIf="rowIndex == 2"  >3rd place</span><span *ngIf="rowIndex == 3 || rowIndex >= 3"  >{{rowIndex+1}}th place</span></td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="USD" [nzMin]="0" (ngModelChange)="calculateTotalPrize()" nzValue="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="xCoins" [nzMin]="0" (ngModelChange)="calculateTotalPrize()" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number formControlName="ribbons"  (ngModelChange)="calculateTotalPrize()" [nzDisabled]="!playOptionsForm.controls['ribbons'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex" *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number formControlName="trophies"  (ngModelChange)="calculateTotalPrize()" [nzDisabled]="!playOptionsForm.controls['isTrophies'].value" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
          <td [formGroupName]="rowIndex"> <nz-input-number formControlName="experience"   [nzDisabled]="!playOptionsForm.controls['isExperience'].value" [nzMin]="0" (ngModelChange)="calculateTotalPrize()" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
        </tr>
      </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td> <nz-input-number nzValue="0" formControlName="prizeTotal" [nzMin]="0" [nzStep]="1"  nzSize="small"></nz-input-number> </td>
            <td  *ngIf="playOptionsForm.controls['playMode'].value === 'm'"> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['isTrophies'].value" formControlName="trophiesTotal" nzSize="small"></nz-input-number> </td>
            <td  *ngIf="playOptionsForm.controls['playMode'].value === 'p'"> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['ribbons'].value" formControlName="ribbonsTotal"  nzSize="small"></nz-input-number> </td>
            <td> <nz-input-number nzValue="0" [nzMin]="0" [nzStep]="1"  [nzDisabled]="!playOptionsForm.controls['isExperience'].value" formControlName="experienceTotal"  nzSize="small"></nz-input-number> </td>
          </tr>
          <tr><td colspan="4" class="text-right"><a (click)="tableReset()"><i nz-icon nzType="reload" nzTheme="outline"></i>&nbsp;&nbsp;Reset Table to Default</a></td> </tr>
        </tfoot>
    </nz-table>
    <!-- if playOption type select is dm (close)-->


</div>


  <nz-form-item>
    <nz-form-control [nzOffset]="2" [nzSpan]="4">
    </nz-form-control>
    <nz-form-control [nzOffset]="5" [nzSpan]="13" class="text-right">
      <button nz-button type="cancel" (click)="closeModal()">Cancel</button>
      <button nz-button [disabled]="!playOptionsForm.valid" [nzLoading]="submitted" nzType="primary" >Save Play Option</button>
    </nz-form-control>
  </nz-form-item>
</form>
</div>