<div>
    <h4>{{ subtitle }}</h4>
    <form [formGroup]="confirmForm" (ngSubmit)="save(confirmForm.valid, confirmForm.value)">
        <!-- <textarea nz-input formControlName="comments" placeholder="Type message here (required)"
        [nzAutosize]="{ minRows: 3, maxRows: 8 }">
      </textarea> -->


      <nz-form-item>
        <nz-form-control   nzValidatingTip="Validating..." [nzErrorTip]="messageErrorTpl">
            <nz-input-group>
              <textarea nz-input formControlName="comments" placeholder="Type message here (required)"
              [nzAutosize]="{ minRows: 3, maxRows: 8 }">
            </textarea>
          </nz-input-group>
          <ng-template #messageErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Type message here (required)
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              Required minimum 20 characters
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div class="" *ngIf = 'statusToggle.blacklist'>
        <nz-form-label [nzNoColon]='true' nzTooltipTitle="Enter your password">
          <span>Your password</span>
        </nz-form-label>

        <nz-form-item>
          <nz-form-control  nzValidatingTip="Validating..." [nzErrorTip]="cpasswordErrorTpl">
              <nz-input-group [nzSuffix]="suffixTemplate" >
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input  formControlName="password" placeholder="Input Password" />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
            <ng-template #cpasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Please enter password
              </ng-container>
              <ng-container *ngIf="control.hasError('error')">
                Invalid password!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>


      <!-- <nz-input-group [nzSuffix]="suffixTemplate" class="">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="input password" formControlName="password" />
      </nz-input-group>
      <ng-container *ngIf="confirmForm.controls['password'].hasError('error')">
        Enter correct password.
      </ng-container>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template> -->

    </div>
      <div class="modal_footer text-right mt20">
        <button nz-button class="ml-sm" (click)="closeModal()">Cancel</button>
        <button *ngIf = 'statusToggle.warning' nz-button nzType="primary" 
        type="submit" [disabled]="!confirmForm.valid">Warn User</button>

        <!-- lock button open-->
        <button *ngIf = 'statusToggle.lock' nz-button nzType="danger" 
        type="submit" [disabled]="!confirmForm.valid">Lock User</button>
        <!-- lock button open-->

        <!-- blocklist button open-->
        <button *ngIf = 'statusToggle.blacklist' nz-button nzType="danger" 
        type="submit" [disabled]="!confirmForm.valid">Ban User</button>
        <!-- blocklist button close-->
        <button *ngIf = 'statusToggle.moveDefault' nz-button nzType="primary" 
        type="submit" [disabled]="!confirmForm.valid">Confirm Removal</button>
      </div>
      <!-- <button nz-button [nzType]="'success'" (click)="destroyModal()">success</button> -->
    <!-- </p> -->
  </form>
  </div>