<div class="white_box">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="submitFilterForm()" class="search__form d-block">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Country</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input nz-input [(ngModel)]="q.country" name="country" placeholder="" id="country" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27">
            <nz-form-label class="label_text_right">State</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
              <input nz-input [(ngModel)]="q.state" name="state" placeholder="" id="state" />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="9" nzSm="9" nzXs="27">
            <nz-form-label class="label_text_right">Restriction</nz-form-label>
          </div>
          <div nz-col nzMd="15" nzSm="15" nzXs="23">
            <nz-form-control>
              <nz-select [nzPlaceHolder]="'None'" nzId="status" [(ngModel)]="q.status" name="status"
                [nzShowSearch]="true" class="w-100">
                <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>


      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">

        <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
          <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
            <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
              Apply
            </button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">
              Reset
            </button>
            <a (click)="expandForm = !expandForm">
              {{ expandForm ? "Collapse" : "Expand" }}
              <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
            </a>
          </div>
        </div>

      </div>
      <div nz-col *ngIf="expandForm" [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
          Apply
        </button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">
          Reset
        </button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? "Collapse" : "Expand" }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
</div>
<nz-page-header class="site-page-header white_box mt10">
  <!--title-->
  <nz-page-header-title>Prohibition List</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

  <!--extra-->
  <nz-page-header-extra>
    <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
    <nz-select [nzPlaceHolder]="'Country: A to Z'" [(ngModel)]="selectedSortBy" (ngModelChange)="sortBy($event)">
      <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
    </nz-select>
    <nz-page-header-subtitle><i nz-icon nzType="reload" (click)="reload()"></i></nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <span nz-dropdown [nzDropdownMenu]="menu1">
        <i nz-icon nzType="column-height"></i>
      </span>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="tableSize('default')"><span *ngIf="size === 'default'" nz-typography><a>Big
                <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
          <li nz-menu-item (click)="tableSize('middle')">Medium</li>
          <li nz-menu-item (click)="tableSize('small')">Compact</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <!-- <i nz-icon nzType="setting"></i > -->
    </nz-page-header-subtitle>
  </nz-page-header-extra>
</nz-page-header>
<div class="table_scroll white_box">
  <nz-table [(nzSize)]="size" nzShowSizeChanger [nzData]="listOfProhibitedCountries" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
  [nzFrontPagination]="false" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzColumnKey="state">State</th>
        <th nzColumnKey="country">Country</th>
        <th nzColumnKey="gameRestriction">Restriction</th>
        <th nzColumnKey="last_updated">Last Updated</th>
        <!-- <th nzColumnKey="playerType" [nzSortFn]="true">24h Players</th> -->
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{ 'data-selected': selectedRow === data._id }"
        *ngFor="let data of listOfProhibitedCountries; let i = index" (click)="rowClick(data)">
        <td>
          <a>{{ data.state? data.state: 'All States' | titlecase}}</a>
        </td>
        <td>{{data.country | titlecase}}</td>
        <td>
          <nz-tag nzcolor="warning" class="ant-tag ant-tag-warning ng-star-inserted" ng-reflect-nz-color="warning"
            *ngIf="data.gameRestriction == 'cardGames'">Card Games</nz-tag>
          <nz-tag nzColor="error" *ngIf="data.gameRestriction == 'cashGames'">Cash Games</nz-tag>
        </td>
        <td>{{ data.updatedAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>