<div class="alain-default__content-title">
  <h1>Games Management</h1>
  <div class="col-md-8 align-items-center">
    <button nz-button nzType="primary" nzGhost (click)="addGame()">
      <i nz-icon nzType="plus"></i>Add Game
    </button>
  </div>
</div>

<div class="white_box">
  <form
    nz-form
    [nzLayout]="'inline'"
    (ngSubmit)="getData()"
    class="search__form d-block"
  >
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24" class="padding-0">
            <nz-form-label class="label_text_right">Game Name</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input
                nz-input
                [(ngModel)]="q.name"
                name="name"
                placeholder=""
                id="name"
              />
            </nz-form-control>  
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right">Game ID</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <input
              nz-input
              [(ngModel)]="q._id"
              name="_id"
              placeholder=""
              id="_id"
            />
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24" class="padding-0">
            <nz-form-label class="label_text_right">Type</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Type'"
                nzId="type"
                [(ngModel)]="q.playerType"
                name="playerType"
                [nzShowSearch]="true"
                class="w-100"
              >
                <nz-option
                  *ngFor="let i of playerType; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24" class="padding-0">
            <nz-form-label class="label_text_right">Status</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Status'"
                nzId="status"
                [(ngModel)]="q.status"
                name="status"
                [nzShowSearch]="true"
                class="w-100"
              >
                <nz-option
                  *ngFor="let i of status; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24">
            <nz-form-label class="label_text_right"
              >Genre</nz-form-label>
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Genre'"
                nzId="genre"
                [(ngModel)]="q.genre"
                name="ganre"
                [nzShowSearch]="true"
                class="w-100"
              >
                <nz-option
                  *ngFor="let i of genre; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="8" nzSm="8" nzXs="24" class="padding-0">
            <nz-form-label class="label_text_right"
              >Developer</nz-form-label
            >
          </div>
          <div nz-col nzMd="16" nzSm="16" nzXs="24">
            <nz-form-control>
              <nz-select
                [nzPlaceHolder]="'Developer'"
                nzId="developer"
                [(ngModel)]="q.developer"
                name="developer"
                [nzShowSearch]="true"
                class="w-100"
              >
                <nz-option
                  *ngFor="let i of developer; let idx = index"
                  [nzLabel]="i.text"
                  [nzValue]="i.value"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">
        
        <div
          nz-row
          [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
        >
          <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
            <button
              nz-button
              type="submit"
              [nzType]="'primary'"
              [nzLoading]="filterBtnLoader"
            >
              Apply
            </button>
            <button nz-button type="reset" (click)="reset()" class="mx-sm">
              Reset
            </button>
            <a (click)="expandForm = !expandForm">
              {{ expandForm ? "Collapse" : "Expand" }}
              <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
            </a>
          </div>
        </div>

      </div>
      <div class="pr-5"
      nz-col *ngIf="expandForm"
      [nzSpan]="expandForm ? 24 : 8"
      [class.text-right]="expandForm"
    >
      <button
        nz-button
        type="submit"
        [nzType]="'primary'"
        [nzLoading]="filterBtnLoader"
      >
        Apply
      </button>
      <button nz-button type="reset" (click)="reset()" class="mx-sm">
        Reset
      </button>
      <a (click)="expandForm = !expandForm">
        {{ expandForm ? "Collapse" : "Expand" }}
        <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
      </a>
    </div>
    </div>
  </form>
</div>


<nz-page-header class="site-page-header white_box mt10">
  <!--title-->
  <nz-page-header-title>Game List</nz-page-header-title>

  <!--subtitle-->
  <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

  <!--extra-->
  <nz-page-header-extra>
    <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
    <!-- <a nz-dropdown [nzDropdownMenu]="menu" class="select_border">
      Total Plays: High to Low
      <i nz-icon nzType="down"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>24h Matches: High to Low</li>
        <li nz-menu-item>24h Matches: Low to High</li>
        <li nz-menu-item>24h players: High to Low</li>
        <li nz-menu-item >24h players: Low to High</li>
        <li nz-menu-item >Game Name: A to Z</li>
        <li nz-menu-item >Game Name: Z to A</li>
      </ul>
    </nz-dropdown-menu> -->
    <nz-select  [nzPlaceHolder]="'24h Matches: High to Low'" [(ngModel)]="selectedUser" (ngModelChange)="sortBy($event)">
      <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
    </nz-select>
    <nz-page-header-subtitle>
      <i nz-icon nzType="reload" (click)="reload()" ></i >
      </nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <!-- <i nz-icon nzType="column-height"></i> -->
      <span nz-dropdown [nzDropdownMenu]="menu1">
        <i nz-icon nzType="column-height"></i>
      </span>
      <nz-dropdown-menu #menu1="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="tableSize('default')">Big</li>
          <li nz-menu-item (click)="tableSize('middle')">Medium</li>
          <li nz-menu-item (click)="tableSize('small')">Compact</li>
        </ul>
      </nz-dropdown-menu>
    </nz-page-header-subtitle>
    <nz-page-header-subtitle>
      <!-- <i nz-icon nzType="setting"></i> -->
    </nz-page-header-subtitle>
  </nz-page-header-extra>
</nz-page-header>
<div class="table_scroll white_box">
<nz-table
  nzShowSizeChanger
  [nzData]="listOfGames"
  [nzSize] = "size"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzShowPagination] = "paginationToggle"
  [nzPageSizeOptions] = "[10,25,50,100,150]"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="name" [nzSortFn]="true">Name</th>
      <th nzColumnKey="status">Status</th>
      <th nzColumnKey="genre">Genre</th>
      <th nzColumnKey="playerType">Type</th>
      <th nzColumnKey="total" [nzSortFn]="true">24h Matches</th>
      <th nzColumnKey="daily" [nzSortFn]="true">24h Players</th>
    </tr>
  </thead>
  <tbody>
    <tr
      [ngClass]="{ 'data-selected': selectedRow === data._id }"
      *ngFor="let data of listOfGames; let i = index"
      (click)="rowClick(data)"
    >
      <td>
        <img nz-image width="100px" height="100px" [nzSrc]="data.logo" alt=" " />
        &nbsp;&nbsp;<a>{{ data.name }}</a>
      </td>
      <td>
        <nz-tag nzColor="success" *ngIf="data.status == 'active'">{{
          data.status | titlecase
        }}</nz-tag>
        <nz-tag nzColor="error" *ngIf="data.status == 'reported'">{{
          data.status | titlecase
        }}</nz-tag>
        <nz-tag nzColor="warning" *ngIf="data.status == 'maintenance'">{{data.status | titlecase}}</nz-tag>

        <nz-tag nzColor="default" *ngIf="data.status == 'inactive'">Disabled</nz-tag>
      </td>
      <td>{{ data.genre | titlecase }}</td>
      <td>{{ data.playerType | titlecase }}</td>
      <!-- <td>{{!data.total ? '24,839' : data.total}}</td> -->

      <td><span> {{(data.total ? data.total : 'N/A')}}&nbsp;&nbsp;&nbsp; 
        <!-- <span nz-typography *ngIf="data.dailyPrev && data.daily && (data.daily > data.dailyPrev)"  nzType="success"><i nz-icon nzType="arrow-up"></i>&nbsp;{{ ((data.daily - data.dailyPrev)/data.dailyPrev*100).toFixed(2) }}%</span> -->
        <!-- <span nz-typography *ngIf=" data.dailyPrev && data.daily && (data.dailyPrev > data.daily)"  nzType="danger"><i nz-icon nzType="arrow-down"></i>&nbsp;{{  ((data.daily - data.dailyPrev)/data.dailyPrev*100).toFixed(2)*-1 }}%</span> -->
      </span></td>

      <td><span> {{(data.daily ? data.daily : 'N/A')}}&nbsp;&nbsp;&nbsp; 
        <!-- <span nz-typography *ngIf="data.players24Prev && players24 && (data.players24 > data.players24Prev)"  nzType="success"><i nz-icon nzType="arrow-up"></i>&nbsp;{{((data.players24 - data.players24Prev)/data.players24Prev*100).toFixed(2) }}%</span> -->
        <!-- <span nz-typography *ngIf="data.players24Prev && players24 && (data.players24Prev > data.players24)"  nzType="danger"><i nz-icon nzType="arrow-down"></i>&nbsp;{{ ((data.players24 - data.players24Prev)/data.players24Prev*100).toFixed(2)*-1 }}%</span> -->
      </span></td>
      </tr>
  </tbody>
</nz-table>
</div>
