.content {
    flex: 1;
  }
  .ant-page-header-heading-title{
    font-size: 17px;
   }
  .content p {
    margin-bottom: 1em;
  }

  .ant-col.ant-col-8{
    padding-left:81px;
    padding-right:0px;
  }

  .content-link a {
    margin-right: 16px;
  }

  @media (max-width: 768px) {
    .content-image {
      flex: 100%;
      margin: 24px 0 0;
    }
  }
  
  .data-selected{
    background-color: #d9e8f7;
  }
  th{
    font-size: 0.9rem;
  }
  /* nz-select{
    width:60%;
  } */