<!-- <div class="alain-default__content-title"> -->
  <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }" class="white_box padding">
    <div nz-col nzMd="4" nzSm="8" style="padding-top:0.5rem;">
    <h1>Transactions</h1>
    </div>
    <div nz-col nzMd="20" nzSm="40">
      <nz-tabset [(nzSelectedIndex)]="selectedIndex">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="selectTab(tab)">
        </nz-tab>
      </nz-tabset>
      </div>
    </div>
  <!-- </div> -->
  <!-- tab works for To Review (Open) -->
  <div *ngIf="selectedTab === 'Withdrawals'">
  <div class="white_box">
    <form
      nz-form
      [nzLayout]="'inline'"
      (ngSubmit)="getData()"
      class="search__form d-block"
    >
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
          <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Username</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <input
                  nz-input
                  [(ngModel)]="q.userId"
                  name="userId"
                  placeholder=""
                  id="userId"
                />
              </nz-form-control> 
            </div>
          </div>
        </div>
  
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
          <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">Transation ID</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <input
                  nz-input 
                  [(ngModel)]="q.transactionId"
                  name="transactionId"
                  placeholder=""
                  id="transactionId"
                />
              </nz-form-control>
            </div>
          </div>
        </div>
  
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">Status</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <nz-select
                  [nzPlaceHolder]="'None'"
                  nzId="status"
                  [(ngModel)]="q.status"
                  name="status"
                  [nzShowSearch]="true"
                  class="w-100"
                >
                  <nz-option
                    *ngFor="let i of status; let idx = index"
                    [nzLabel]="i.text"
                    [nzValue]="i.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>
  
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Currency</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <nz-select
                  [nzPlaceHolder]="'None'"
                  nzId="currency"
                  [(ngModel)]="q.currency"
                  name="currency"
                  [nzShowSearch]="true"
                  class="w-100"
                >
                  <nz-option
                    *ngFor="let i of currency; let idx = index"
                    [nzLabel]="i.text"
                    [nzValue]="i.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">&nbsp;Method</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <nz-select
                  [nzPlaceHolder]="'None'"
                  nzId="method"
                  [(ngModel)]="q.method"
                  name="method"
                  [nzShowSearch]="true"
                  class="w-100"
                >
                  <nz-option
                    *ngFor="let i of method; let idx = index"
                    [nzLabel]="i.text"
                    [nzValue]="i.value"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>
  
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">
          
          <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
              <button
                nz-button
                type="submit"
                [nzType]="'primary'"
                [nzLoading]="filterBtnLoader"
              >
                Apply
              </button>
              <button nz-button type="reset" (click)="reset()" class="mx-sm">
                Reset
              </button>
              <a (click)="expandForm = !expandForm">
                {{ expandForm ? "Collapse" : "Expand" }}
                <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
              </a>
            </div>
          </div>
  
        </div>
        <div
        nz-col *ngIf="expandForm"
        [nzSpan]="expandForm ? 24 : 8"
        [class.text-right]="expandForm"
      >
        <button
          nz-button
          type="submit"
          [nzType]="'primary'"
          [nzLoading]="filterBtnLoader"
        >
          Apply
        </button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">
          Reset
        </button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? "Collapse" : "Expand" }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
      </div>
    </form>
  </div>
  <nz-page-header class="site-page-header white_box mt10" >
    <!--title-->
    <nz-page-header-title>Transactions List</nz-page-header-title>
  
    <!--subtitle-->
    <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>
  
    <!--extra-->
    <nz-page-header-extra>
      <nz-radio-group [(ngModel)]="btnSize"  (ngModelChange)="sortByTime($event)">
        <label nz-radio-button nzValue="24 hours">24 hours</label>
        <label nz-radio-button nzValue="1 month">1 month</label>
        <label nz-radio-button nzValue="3 months">3 months</label>
      </nz-radio-group>
      <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
      <nz-select  [nzPlaceHolder]="'Most Recent'" [(ngModel)]="selectedUser" (ngModelChange)="sortBy($event)">
        <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
      <nz-page-header-subtitle
        ><i nz-icon nzType="reload" (click)="reload()"></i
      ></nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <span nz-dropdown [nzDropdownMenu]="menu1">
          <i nz-icon nzType="column-height"></i>
        </span>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="tableSize('default')"><span *ngIf="size === 'default'"  nz-typography><a>Big <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
            <li nz-menu-item  (click)="tableSize('middle')">Medium</li>
            <li nz-menu-item (click)="tableSize('small')">Compact</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <!-- <i nz-icon nzType="setting"></i > -->
        </nz-page-header-subtitle>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="table_scroll white_box" >
  <nz-table  [(nzSize)]="size"
    nzShowSizeChanger
    [nzData]="listOfTransactions"
    [nzFrontPagination]="false"
    [nzShowPagination] = "paginationToggle"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th nzColumnKey="_id">Transaction ID</th>
        <th nzColumnKey="amount" [nzSortFn]="true">Amount</th>
        <th nzColumnKey="currency">Currency</th>
        <th nzColumnKey="method">Method</th>
        <th nzColumnKey="status">Status</th>
        <th nzColumnKey="createdAt" [nzSortFn]="true">Last Updated</th>
        <!-- <th nzColumnKey="playerType" [nzSortFn]="true">24h Players</th> -->
      </tr>
    </thead>
    <tbody>
      <tr
        [ngClass]="{ 'data-selected': selectedRow === data._id }"
        *ngFor="let data of listOfTransactions; let i = index"
        (click)="rowClick(data)"
      >
      <td>
        <a>{{ data._id }}</a>
      </td>
        <td>{{data.amount | number :'.1-3'}}</td>
        <td>{{data.currency | uppercase}}</td>
        <td>{{data.method | titlecase}}</td>
        <td>
          <nz-tag nzColor="success" *ngIf="data.status == 'new' || data.status == 'complete'">{{data.status | titlecase}}</nz-tag>
          <nz-tag nzColor="error" *ngIf="data.status == 'cancelled' || data.status == 'failed'">{{
            data.status | titlecase
          }}</nz-tag>
          <nz-tag nzColor="primary" *ngIf="data.status == 'in_progress'">{{
            data.status | titlecase
          }}</nz-tag>
          <nz-tag nzColor="warning" *ngIf="data.status == 'pending'">{{
            data.status | titlecase
          }}</nz-tag>
          <nz-tag nzColor="success" *ngIf="data.status == 'success'">{{
            data.status | titlecase
          }}</nz-tag>
        </td>
        <td>{{ data.createdAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        <!-- <td>10,239,312</td> -->
        <!-- <td><span *ngIf="i%2 == 0"  >22,319&nbsp;&nbsp;&nbsp; <span nz-typography nzType="success"><i nz-icon nzType="arrow-up"></i>&nbsp;4.22%</span></span>
        <span *ngIf="i%2 != 0"  >24,839&nbsp;&nbsp;&nbsp; <span nz-typography nzType="danger"><i nz-icon nzType="arrow-down"></i>&nbsp;1.27%</span></span></td> -->
      </tr>
    </tbody>
  </nz-table>
  </div>
</div>





  <div class="" *ngIf="selectedTab === 'Pending Withdrawals'">
    <!-- <app-multiplayer-bets></app-multiplayer-bets> -->
</div>

  <!-- tab works for To Review (Close) -->
  