<nz-page-header class="site-page-header user_rightbar">
    <!--title-->
    <nz-page-header-title>{{ record.name }}</nz-page-header-title>
    <nz-page-header-extra>
        <nz-tag nzcolor="processing" class="ant-tag ant-tag-processing ng-star-inserted mouse" 
        (click)="editCountry()" ng-reflect-nz-color="processing">Edit Country</nz-tag>
  
        <nz-tag nzcolor="error" class="ant-tag ant-tag-error ng-star-inserted mouse" 
        ng-reflect-nz-color="error" (click)="deleteCountry(record._id)">Delete</nz-tag>
        <nz-page-header-subtitle
          >
        </nz-page-header-subtitle>
      </nz-page-header-extra>
  
    <!--content-->
    <nz-page-header-content class="white_bg">
      <div nz-row>
        <div class="content w-100">
                          <!-- Bets Info Tab Open -->
                          <div class="content">
                            <div
                              nz-row
                              [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                            >
                            </div>
                            <div class="border_top my-2"></div>
                            <!-- <h6 class="text-center">General</h6> -->
                            <nz-table>
                              <tbody>
                                <tr>
                                    <td class="text-right">Country ID :</td>
                                    <td>{{ record._id }}</td>
                                  </tr>
                                <tr>
                                  <td class="text-right">Country Name :</td>
                                  <td>{{ record.name }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">ISO2 :</td>
                                    <td>{{ record.iso2 }}</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right">ISO3 :</td>
                                    <td>{{ record.iso3 }}</td>
                                  </tr>
                                  <tr>
                                <tr>
                                  <td class="text-right">Creation Date :</td>
                                  <td>{{record.createdAt | _date: "dd.MM.yyyy  h:mm:ss"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">Last Updated :</td>
                                    <td>{{record.updatedAt | _date: "dd.MM.yyyy  h:mm:ss"}}</td>
                                  </tr>
                                  <tr>
                                    <td class="text-right">Updated By:</td>
                                    <td>    <div class="name_title">RM</div>
                                        <span nz-typography nzType="secondary"
                                          >Randy Middleton</span
                                        ></td>
                                  </tr>
                              </tbody>
                            </nz-table>

                            <div class="border_top my-2"></div>
                              <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"><h3>States</h3></div></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box"></div></div>
                                <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">
                                  <button nz-button nzType="primary" nzGhost (click)="addState()">
                                    <i nz-icon nzType="plus"></i>Add State
                                  </button>
                                </div></div>
                              </div>
                          </div>
                          <!-- Bets Info Tab Close -->

                          <div class="table_scroll">
                            <nz-table>
                              <thead>
                                <tr>
                                  <th class="th-font">State Name</th>
                                  <th class="th-font">ID</th>
                                  <th class="th-font">Short</th>
                                  <th class="th-font">Actions</th>
                                </tr>
                              </thead>
                              <tbody  *ngIf="statesData.length">
                                <tr *ngFor="let data of statesData; let i = index">
                                    
                                  <td class="tdPadding">{{ data.name }}</td>
                                  <td class="tdPadding">{{ data._id}}</td>
                                  <td class="tdPadding">{{ data.short}}</td>
                                  <td class="tdPadding-0">
                                    <button nz-button nzType="default"> <i nz-icon nzType="edit"  (click)="editState(data)" nzTheme="outline"></i></button>
                                    <button nz-button nzType="default"><i nz-icon nzType="delete" (click)="deleteState(data)" nzTheme="outline"></i></button>
                                  </td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="!statesData.length">
                                <tr class="text-center"><td colspan="4" class="text-center">No states added yet.</td></tr>
                              </tbody>
                            </nz-table>
                          </div>


        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
  