.name_title {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 11px;
    display: inline-block;
    background: #f1312d;
    color: #fff;
    margin-right: 10px;
  }
.th-font{
  font-weight: 800!important;
}
.tdPadding{
    padding:6px 16px!important;
    width:30%!important;
}
.tdPadding-0{
  padding:0px 0px!important;
}

  .data-selected{
    background-color: #d9e8f7;;
  }
  .td{
    width:25%!important;
  }
  .mouse{
    cursor: pointer;
  }
