<div nz-row nzGutter="24" class="py-lg white_box">
  <div nz-col nzMd="24" nzLg="24">
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="4"><div class="inner-box pt-5"><h2>My Account</h2></div></div>
      <div nz-col class="gutter-row" [nzSpan]="20"><div class="inner-box">
  <nz-tabset>
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="selectTab(tab)">
    </nz-tab>
  </nz-tabset>
      </div></div>
      <!-- <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div>
      <div nz-col class="gutter-row" [nzSpan]="6"><div class="inner-box">col-6</div></div> -->
    </div>
  <!-- <nz-tabset>
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="selectTab(tab)">
    </nz-tab>
  </nz-tabset> -->
</div>
  <div nz-col nzMd="24" nzLg="10" class="mt20" *ngIf="selectedTab === 'Profile'" >
    <nz-card [nzBordered]="false" class="mb-lg" [nzLoading]="!user">
      <ng-container *ngIf="user">
        <div class="avatarHolder">
          <img src="./assets/admin.svg" />
          <div class="name">{{userAdmin.firstName | titlecase}}&nbsp; {{userAdmin.lastName | titlecase}}</div>
          <div><i nz-icon nzType="profile" nzTheme="outline"></i>&nbsp;&nbsp;Developer</div>
          <div><i nz-icon nzType="environment" nzTheme="outline"></i>&nbsp;&nbsp;{{userAdmin.location | titlecase}}</div>
        </div>
        <!-- <div class="detail">
          <p><i class="title"></i>{{ user.title }}</p>
          <p><i class="group"></i>{{ user.group }}</p>
          <p>
            <i class="address"></i>
            {{ user.geographic.province.label }}
            {{ user.geographic.city.label }}
          </p>
        </div> -->
        <nz-divider nzDashed></nz-divider>
        <!-- <div class="tags">
          <div class="tagsTitle">标签</div>
          <nz-tag *ngFor="let t of user.tags">{{ t.label }}</nz-tag>
          <nz-tag *ngIf="!taging" (click)="tagShowIpt()" class="ant-tag__plus">
            <i nz-icon nzType="plus"></i>
          </nz-tag>
          <input
            *ngIf="taging"
            #tagInput
            nz-input
            [(ngModel)]="tagValue"
            (blur)="tagBlur()"
            (keydown)="tagEnter($event)"
            nzSize="small"
            type="text"
            style="width: 78px"
          />
        </div> -->
        <nz-divider nzDashed></nz-divider>
        <!-- <div class="team">
          <div class="teamTitle">团队</div>
          <nz-spin [nzSpinning]="!notice">
            <div nz-row nzGutter="36">
              <div nz-col *ngFor="let t of notice" nzLg="24" nzXl="12">
                <a href="#" class="text-truncate">
                  <nz-avatar [nzSrc]="t.logo" nzSize="small"></nz-avatar>
                  {{ t.member }}
                </a>
              </div>
            </div>
          </nz-spin>
        </div> -->
      </ng-container>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzLg="14" *ngIf="selectedTab === 'Profile'">
    <nz-card>
    <h3>User Activity</h3>
    <div
    class="mt20"
    nz-row
    [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
  >
    <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
    <div nz-col nzMd="18" nzXs="20" class="right">
      <nz-timeline nzMode="left">
        <!--Time line 1-->
        <nz-timeline-item>
          <div class="date_time">
            30.11.2021<br />
            15:10:22
          </div>
          <div class="name_title">RM</div>
          <span nz-typography nzType="secondary"
            >Randy Middleton</span
          >
          <p>
            Changed status to
            <span nz-typography nzType="warning">Warned</span>.
            Warning message:
          </p>
          <div nz-typography nzType="secondary" class="bg_gray p10">
            Cheating software was detected in your recent match. If
            the same software will be used after this warning we
            will ban you permanently.
          </div>
        </nz-timeline-item>
        <!-- /Time line 1-->

        <!--Time line 2-->
        <nz-timeline-item>
          <div class="date_time">
            30.11.2021<br />
            15:10:22
          </div>
          <div class="name_title">RM</div>
          <span nz-typography nzType="secondary"
            >Randy Middleton</span
          >
          <p>
            Removed user from Solitaire match<br />
            <span class="text_blue">ID 0003213991.</span>
          </p>
        </nz-timeline-item>
        <!-- /Time line 2-->

        <!--Time line 3-->
        <nz-timeline-item>
          <div class="date_time">
            30.11.2021<br />
            15:10:22
          </div>
          <nz-avatar
            nz-page-header-avatar
            nzSize="small"
            nzSrc="{{
              'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
            }}"
          >
          </nz-avatar>
          &nbsp;
          <span nz-typography nzType="secondary">Roma Gordon</span>
          <p>
            50.00 USD
            <span class="text_blue"
              >withdrawal request #3288 cancelled. Reason:</span
            >
          </p>
          <div nz-typography nzType="secondary" class="bg_gray p10">
            You don’t deserve this money. We’ll give it to charity
            anyway.
          </div>
        </nz-timeline-item>
        <!-- /Time line 3-->

        <!--Time line 4-->
        <nz-timeline-item>
          <div class="date_time">
            19.11.2021<br />
            22:11:33
          </div>
          <nz-avatar
            nz-page-header-avatar
            nzSize="small"
            nzSrc="{{
              'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
            }}"
          >
          </nz-avatar>
          &nbsp;
          <span nz-typography nzType="secondary">Roma Gordon</span>
          <p>
            Removed user from Manna Wars match<br />
            <span class="text_blue">ID 0002913919.</span>
          </p>
        </nz-timeline-item>
        <!-- /Time line 4-->
      </nz-timeline>
    </div>
  </div>
  </nz-card>
    <!-- <nz-card class="tabsCard" [nzBordered]="false" [nzTitle]="tagTitleTpl">
      <ng-template #tagTitleTpl>
        <nz-tabset nzSize="large" [nzSelectedIndex]="pos">
          <nz-tab *ngFor="let i of tabs" [nzTitle]="i.tab" (nzClick)="to(i)"></nz-tab>
        </nz-tabset>
      </ng-template>
      <router-outlet></router-outlet>
    </nz-card> -->
  </div>
  <div nz-col nzMd="24" nzLg="24" *ngIf="selectedTab === 'Account Settings'">
    <!-- <ul nz-menu nzMode="inline" style="width: 240px;" (nzOpenChange)="openHandler('sub1')">
              <li nz-menu-item (click)="menuClicked(0)">Profile Information</li>
              <li nz-menu-item (click)="menuClicked(1)">Security Settings</li>
    </ul>
  </div> -->
  <!-- <div nz-col nzMd="24" nzLg="18" *ngIf="selectedTab === 'Account Settings'">
    <h3>Profile Information</h3>
</div> -->
<div class="main">
  <div class="menu">
    <ul nz-menu [nzMode]="mode">
      <li *ngFor="let m of menus" nz-menu-item [nzSelected]="m.selected" (click)="menuChange(m)">{{ m.title }}</li>
    </ul>
</div>
<div class="content">
<nz-spin [nzSpinning]="userLoading">
  <h2  *ngIf="menu.name !== 'Security Settings'">Profile Information</h2>
  <div class="main" *ngIf="menu.name !== 'Security Settings'">
    <div class="left">
      <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
        <se label="Email" error="email is required!">
          <input nz-input type="email" [(ngModel)]="userAdmin.email" name="email" disabled = 'true' />
        <span class="text-grey">You can not edit your email</span>
        </se>
        <se label="First Name" error="First name is required!">
          <input nz-input [(ngModel)]="userAdmin.firstName" name="fname"/>
        </se>
        <se label="Last Name" error="Last name is required!">
          <input nz-input [(ngModel)]="userAdmin.lastName" name="lname"/>
        </se>
        <se label="Role" error="Role is required!">
          <input nz-input name="role"/>
        </se>
        <se label="Location" error="Location name is required!">
          <input nz-input [(ngModel)]="userAdmin.location" name="location"/>
        </se>
        <!-- <se label="国家/地区">
          <nz-select [(ngModel)]="user.country" name="country" required>
            <nz-option nzLabel="中国" nzValue="China"></nz-option>
          </nz-select>
        </se> -->
        <!-- <se label="所在省市">
          <div class="d-flex justify-content-between">
            <nz-select
              [(ngModel)]="user.geographic.province.key"
              (ngModelChange)="choProvince($event)"
              name="geographic.province.key"
              required
              class="width-50 mr-sm"
            >
              <nz-option *ngFor="let p of provinces" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
            </nz-select>
            <nz-select [(ngModel)]="user.geographic.city.key" name="geographic.city.key" required class="width-50">
              <nz-option *ngFor="let p of cities" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
            </nz-select>
          </div>
        </se>
        <se label="街道地址" error="请输入您的街道地址!">
          <input nz-input [(ngModel)]="user.address" name="address" required />
        </se>
        <se label="联系电话" error="请输入您的联系电话!">
          <input nz-input [(ngModel)]="user.phone" name="phone" required />
        </se> -->
        <se>
          <button nz-button nzType="primary" [disabled]="f.invalid">Update Information</button>
        </se>
      </form>
    </div>
    <div class="right">
      <!-- <div class="avatar_title">Avatar</div> -->
      <div *ngIf="!avatarUrl" class="avatar"><img src="./assets/admin.svg" alt="Avatar" /></div>
      <div *ngIf="avatarUrl" class="avatar"><img [src]="avatarUrl" style="width: 100%" alt="Avatar" /></div>
      <!-- <nz-upload nzAction="/user/avatar" [nzShowUploadList]="false">
        <button nz-button class="button_view">
          <i nz-icon nzType="upload"></i>
          <span>Change Avatar</span>
        </button>
      </nz-upload> -->
      <nz-upload
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      [nzShowUploadList]="false"
      [nzBeforeUpload]="beforeUpload"
      (nzChange)="handleChange($event)"
    >
    <button nz-button class="button_view">
      <i nz-icon nzType="upload"></i>
      <span>Change Avatar</span>
    </button>
      <!-- <ng-container *ngIf="!avatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container> -->
      <!-- <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" /> -->
    </nz-upload>
    </div>
  </div>
  <h2  *ngIf="menu.name === 'Security Settings'">Security Settings</h2>
  <div class="main"  *ngIf="menu.name === 'Security Settings'">
    <div class="left">
      <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
        <se label="Current Password" error="password is required!">
          <input nz-input type="text" [(ngModel)]="userAdmin.password" name="password" disabled = 'true' />
        </se>
        <se label="New Password" error="New password is required!">
          <input nz-input [(ngModel)]="userAdmin.newPassword" name="newPassword" required/>
        </se>
        <se label="Repeat New Password" error="This password is required!">
          <input nz-input [(ngModel)]="userAdmin.rNewPassword" name="rNewPassword" required/>
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="f.invalid">Update Password</button>
        </se>
      </form>
    </div>
  </div>
</nz-spin>
</div>
</div>
</div>
