@import '~@delon/theme/index';

.avatarHolder {
  margin-bottom: 24px;
  text-align: center;

  & > img {
    width: 104px;
    height: 104px;
    margin-bottom: 20px;
  }

  .name {
    margin-bottom: 4px;
    color: @heading-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.detail {
  p {
    position: relative;
    margin-bottom: 8px;
    padding-left: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  i {
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
    background: url(https://gw.alipayobjects.com/zos/rmsportal/pBjWzVAHnOOtAUvZmZfy.svg);

    &.title {
      background-position: 0 0;
    }

    &.group {
      background-position: 0 -22px;
    }

    &.address {
      background-position: 0 -44px;
    }
  }
}

.tagsTitle,
.teamTitle {
  margin-bottom: 12px;
  color: @heading-color;
  font-weight: 500;
}

.tags {
  ::ng-deep {
    .ant-tag {
      margin-bottom: 8px;
    }
  }
}

.team {
  ::ng-deep {
    .ant-avatar {
      margin-right: 12px;
    }
  }

  a {
    display: block;
    margin-bottom: 24px;
    color: @text-color;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }
}

.tabsCard {
  ::ng-deep {
    .ant-card-head-title {
      padding: 0 16px;
    }
  }
}

.nz-timeline-item {
  position: relative;
}
.date_time {
  position: absolute;
  left: -40%;
  width: 25%;
  color: #262626;
  line-height: 24px;
}
.name_title {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 11px;
  display: inline-block;
  background: #f1312d;
  color: #fff;
  margin-right: 10px;
}
.pt-5{
  padding-top:13px;
}
[nz-menu] {
  width: 240px;
}


@import '~@delon/theme/index';

:host ::ng-deep {
  .main {
    display: flex;
    padding-top: 12px;
  }
  .left {
    min-width: 310px;
    max-width: 448px;
  }
  .right {
    flex: 1;
    padding-left: 104px;
    .avatar_title {
      height: 22px;
      margin-bottom: 8px;
      color: @heading-color;
      font-size: @font-size-base;
      line-height: 22px;
    }
    .avatar {
      width: 144px;
      height: 144px;
      margin-bottom: 12px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .button_view {
      width: 144px;
      text-align: center;
    }
  }

  @media screen and (max-width: @mobile-max) {
    flex-direction: column-reverse;
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 448px;
      padding: 20px;
      .avatar_title {
        display: none;
      }
    }
  }
}

[data-theme='dark'] {
  :host ::ng-deep {
    .right .avatar_title {
      color: rgba(255, 255, 255, 0.65);
    }
  }
}



@import '~@delon/theme/index';

:host {
  display: block;
  padding-top: 24px;
  ::ng-deep {
    .main {
      display: flex;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;
      overflow: auto;
      background-color: #fff;
    }

    .menu {
      width: 224px;
      border-right: @border-width-base @border-style-base @border-color-split;
      .ant-menu-inline {
        border: none;
      }
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        font-weight: bold;
      }
    }

    .content {
      flex: 1;
      padding-top: 8px;
      padding-right: 40px;
      padding-bottom: 8px;
      padding-left: 40px;
      .title {
        margin-bottom: 12px;
        color: @heading-color;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
      }
      .ant-list-split .ant-list-item:last-child {
        border-bottom: 1px solid #e8e8e8;
      }
      .ant-list-item {
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }

    @media screen and (max-width: @mobile-max) {
      .main {
        flex-direction: column;
        .menu {
          width: 100%;
          border: none;
        }
        .content {
          padding: 40px;
        }
      }
    }
  }
}

[data-theme='dark'] {
  :host ::ng-deep {
    .main {
      background-color: #141414;
    }
    .content {
      .title {
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .menu {
      border-right-color: #303030;
    }
    .content .ant-list-split .ant-list-item:last-child {
      border-bottom-color: #303030;
    }
  }
}
