<nz-page-header class="site-page-header user_rightbar">
    <!--avatar-->
    <nz-avatar
      nz-page-header-avatar
      [nzShape]="'square'"
      nzSrc="{{
        record.logo
          ? record.logo
          : 'https://avatars0.githubusercontent.com/u/22736418?s=88&v=4'
      }}"
    >
    </nz-avatar>
  
    <!--title-->
    <nz-page-header-title>{{ record.name }}</nz-page-header-title>
  
    <nz-page-header-extra>
      <nz-tag *ngIf="record.status == 'reported'" 
        nzcolor="error"
        class="ant-tag ant-tag-error ng-star-inserted"
        ng-reflect-nz-color="error"
        >Refund Fees</nz-tag>
        <nz-tag *ngIf="record.status == 'open'" 
        nzcolor="error"
        class="ant-tag ant-tag-error ng-star-inserted"
        ng-reflect-nz-color="error"
        >Cancel Brackets</nz-tag>
    </nz-page-header-extra>
  
    <!--content-->
    <nz-page-header-content class="white_bg">
      <div nz-row>
        <div class="content w-100">
          <nz-tabset nzType="card">
            <nz-tab
              *ngFor="let tab of tabs; let i=index;"
              [nzTitle]="tab"
              (nzClick)="tabSelect(tab)"
            >
              <!-- Games Info Tab Open -->
              <div class="content" *ngIf="i == 0">
                <div
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="10" nzSm="20">
                    Status:
                    <nz-tag nzColor="success" *ngIf="record.status == 'open'">{{
                        record.status | titlecase
                      }}</nz-tag>
                      <nz-tag nzColor="error" *ngIf="record.status == 'cancelled' || record.status == 'aborted'">{{
                        record.status | titlecase
                      }}</nz-tag>
                      <nz-tag nzColor="default" *ngIf="record.status == 'finished'">{{
                        record.status | titlecase
                      }}</nz-tag>
                      <nz-tag nzColor="warning" *ngIf="record.status == 'tie' || record.status == 'close'">{{
                        record.status | titlecase
                      }}</nz-tag>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <!-- <h6 class="text-center">General</h6> -->
                <div
                nz-row
                [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
              >
                <div nz-col nzMd="10" nzSm="20">
                <nz-table>
                  <tbody>
                    <tr>
                      <td class="text-right">Brackets ID :</td>
                      <td>{{ record._id }}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Brackets Started :</td>
                        <td>{{ record.createdAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td>
                      </tr>
                      <tr>
                        <td class="text-right">Time Left to Fill :</td>
                        <td>23.45.11</td>
                        <!-- <td>{{ record.updatedAt | _date: "dd.MM.yyyy  h:mm:ss" }}</td> -->
                      </tr>
                    <tr>
                      <td class="text-right">Game :</td>
                      <td>xSolitaire</td>
                      <!-- <td>{{ record.structure | titlecase }}</td> -->
                    </tr>
                    <tr>
                      <td class="text-right">Players :</td>
                      <td>
                        10 of 16
                        <!-- <a>{{ record.primaryEmail }}</a> -->
                      </td>
                    </tr>
                    <!-- <tr>
                      <td class="text-right">Entry Fee :</td>
                      <td>6 USD</td>
                    </tr>
                    <tr>
                      <td class="text-right">Prize Pool :</td>
                      <td>10 USD </td>
                    </tr> -->
                  </tbody>
                </nz-table>
              </div>
              <!-- Challenge Info Tab Close -->
  
              </div>
              </div>
          <!-- Transactions tab open-->

          <div class="content" *ngIf="i ==3">
            <div
            nz-row
            [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
          >
            <div nz-col nzMd="24" nzSm="48">
                <nz-table>
                    <tbody>
                        <thead>
                            <th class="tdPadding">Transaction</th>
                            <th class="tdPadding">Player</th>
                            <th class="tdPadding">Hash</th>
                        </thead>
                        <tr>
                            <td class="tdPadding">Creator</td>
                            <td class="tdPadding d-flex flex-column" style="width:215px;"><span>ticklishkoala607</span><span class="text-small" nz-typography nzDisabled>608712b2785f205e5625d561</span></td>
                            <td style="width:350px; word-wrap: break-word;
                            max-width: 1px;">0xae35bf0d412b52cd122471b968da6c4e24cdff5951677c8469bc6168495f1c4c</td>
                        </tr>
                        <tr>
                            <td class="tdPadding">Joiner</td>
                            <td class="tdPadding d-flex flex-column" style="width:215px;"><span>ticklishkoala607</span><span class="text-small" nz-typography nzDisabled>608712b2785f205e5625d561</span></td>
                            <td style="width:350px;">0xae35bf0d412b52cd122471b968da6c4e24cdff5951677c8469bc6168495f1c4c</td>
                        </tr>
                        <tr>
                            <td class="tdPadding">Winner</td>
                            <td class="tdPadding d-flex flex-column" style="width:215px;"><span>ticklishkoala607</span><span class="text-small" nz-typography nzDisabled>608712b2785f205e5625d561</span></td>
                            <td style="width:350px;">0xae35bf0d412b52cd122471b968da6c4e24cdff5951677c8469bc6168495f1c4c</td>
                        </tr>
                        <tr>
                            <td class="tdPadding">Decline</td>
                            <td class="tdPadding d-flex flex-column" style="width:215px;"><span>ticklishkoala607</span><span class="text-small" nz-typography nzDisabled>608712b2785f205e5625d561</span></td>
                            <td style="width:350px;">0xae35bf0d412b52cd122471b968da6c4e24cdff5951677c8469bc6168495f1c4c</td>
                        </tr>
                    </tbody>
                </nz-table>
                </div>
            </div>
         </div>


          <!-- Transactions tab close-->
  
  
  
              <!-- Admin Actions Tab Open -->
              <div class="content" *ngIf="i == 2">
                <div
                  class="mt20"
                  nz-row
                  [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }"
                >
                  <div nz-col nzMd="6" nzXs="4" class="right">&nbsp;</div>
                  <div nz-col nzMd="18" nzXs="20" class="right">
                    <nz-timeline nzMode="left">
                      <!--Time line 1-->
                      <nz-timeline-item>
                        <div class="date_time">
                          30.11.2021<br />
                          15:10:22
                        </div>
                        <!-- <div class="name_title">RM</div> -->
                        <span nz-typography nzType="secondary"
                          >Player <a>bigbear444</a></span
                        >
                        <p>
                            Reported a game crash in challenge 608712b2785f205e5625d561.
                          <a>Show game log</a>.
                          
                        </p>
                        <div nz-typography nzType="secondary" class="bg_gray p10">
                            I was playing xSolitaire and then the game just crashed. 
                            Screenshot attached.
                        </div>
                      </nz-timeline-item>
                      <!-- /Time line 1-->
  
                    </nz-timeline>
                  </div>
                </div>
              </div>
              <!-- Admin Actions Tab Close -->
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
  