nz-select {
    width: 100%;
  }
  .th-font{
    font-weight: 800!important;
  }
  // td{
  //   width:25%;
  // }
  .ant-input-group-wrapper{
    width:78px!important;
  }
  .ant-input-number-input-wrap{
    width:50px!important;
  }
  .input_number{
    width:50px;
  }
  .input_group{
    width:50%!important;
  }
  // nz-input-group {
  //   width:75%;
  // }
  nz-date-picker {
    margin: 0 8px 0px 0;
    width:100px;
  }
//   .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
//     position: relative;
//     padding: 16px 2px!important;
//     overflow-wrap: break-word;
// }
td{
  // width:15%;
  padding: 10px 0px!important;
}