<div class="modal-container pt-4">
    <div class="modal_header">
      <h3>{{ data.title }}</h3>
    </div>
    <div class="modal-body mt20">
  <form nz-form [formGroup]="depositOptionForm" (ngSubmit)="save(depositOptionForm.valid,depositOptionForm.value)">
    <nz-form-item>
      <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Country</nz-form-label>
      <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="countryErrorTpl" (ngModelChange)="selectedCountry($event)" >
        <nz-select nzAllowClear nzPlaceHolder="Select country" formControlName="country" (ngModelChange)="selectedCountry($event)">
            <nz-option *ngFor="let country of data.record" [nzLabel]="country.name" [nzValue]="country"></nz-option>
          </nz-select>
        <ng-template #countryErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please select country name!
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            The  name is redundant!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>State</nz-form-label>
        <nz-form-control [nzSm]="17" [nzXs]="25" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="stateErrorTpl">
          <nz-select nzAllowClear nzPlaceHolder="Select State" formControlName="state">
            <nz-option *ngFor="let state of states" [nzLabel]="state.name" [nzValue]="state._id"></nz-option>
          </nz-select>
          <ng-template #stateErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please select state name!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              The  name is redundant!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>  
      <div nz-row>
        <div nz-col nzSpan="17" nzOffset="7">  <span nz-typography  *ngIf="noState" nzType="warning">* {{noState}}</span></div>
      </div>
      <div class="table_scroll">
        <nz-table [nzData]="listOfData" [nzShowPagination]="'false'">
          <thead>
            <tr>
              <th class="th-font">#</th>
              <th class="th-font">Deposit</th>
              <th class="th-font">Bonus</th>
              <th class="th-font">Start Date</th>
              <th class="th-font">Days</th>
              <th class="th-font">Actions</th>
            </tr>
          </thead>
          <tbody formArrayName="depositOptions">
            <ng-container [formGroupName]="depositOptionIndex" *ngFor="let depositOption of depositOptions().controls; let depositOptionIndex=index">
            <tr > 
              <td class="tdPadding">
                {{depositOptionIndex+1}}
              </td>
              <td class="tdPadding">
                <nz-input-group  nzAddOnAfter="USD" class="input_group">
                <nz-input-number class="input_number" formControlName="amount" [nzSize]="'small'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </nz-input-group>
              </td>
              <td class="tdPadding">
                <nz-input-number class="input_number" formControlName="bonus" [nzSize]="'small'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
              </td>
              <td class="tdPadding">&nbsp; &nbsp; Default</td>
              <td class="tdPadding">&nbsp; &nbsp; </td>
              <td class="tdPadding">
                <button nz-button nzType="default" (click)="addDepositOptionPromo(depositOptionIndex)"> <i nz-icon nzType="plus"></i>Promo</button>
              </td>
            </tr>
            <ng-container formArrayName="promo">
            <tr [formGroupName]="promoIndex"  *ngFor="let skill of depositOptionPromo(depositOptionIndex).controls; let promoIndex=index"> 
              <td class="tdPadding">
                {{depositOptionIndex+1}}+
              </td>
              <td class="tdPadding">
                <nz-input-group  nzAddOnAfter="USD" class="input_group">
                <nz-input-number class="input_number" formControlName="amount" [nzSize]="'small'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
                </nz-input-group>
              </td>
              <td class="tdPadding">
                <nz-input-number class="input_number" formControlName="bonus" [nzSize]="'small'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
              </td>
              <td class="tdPadding pt-4"><nz-date-picker [nzSize]="'small'" formControlName="startDate"></nz-date-picker></td>
              <td class="tdPadding">
                <nz-input-number class="input_number"  formControlName="days" [nzSize]="'small'" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
              </td>
              <td class="tdPadding">
                <button nz-button nzType="default" (click)="removeDepositOptionPromo(depositOptionIndex,promoIndex)">Remove</button>
              </td>
            </tr>
          </ng-container>
          </ng-container>
          </tbody>
        </nz-table>
      </div>

    <nz-form-item class="my-2">
      <nz-form-control [nzOffset]="2" [nzSpan]="4">
      </nz-form-control>

      <nz-form-control [nzOffset]="5" [nzSpan]="13" class="text-right">
        <button nz-button>Cancel</button>
        <button nz-button [disabled]="!depositOptionForm.valid" [nzLoading]="submitted" nzType="primary" >Save Deposit Option</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  </div>
  </div>

  <!-- <form [formGroup]="depositOptionForm" (ngSubmit)="onSubmit()">
    <div formArrayName="depositOptions">
      <div *ngFor="let depositOption of depositOptions().controls; let depositOptionIndex=index">
        <div
          [formGroupName]="depositOptionIndex"
          style="border: 1px solid blue; padding: 10px; width: 600px; margin: 5px;"
        >
          {{depositOptionIndex+1}} Amount :
          <input type="text" formControlName="amount" />
          Bonus:
          <input type="text" formControlName="bonus" />
   
          <button type="button" (click)="addDepositOptionPromo(depositOptionIndex)">
            Add Promo
          </button>
          <div formArrayName="promo">
            <div
              *ngFor="let skill of depositOptionPromo(depositOptionIndex).controls; let promoIndex=index"
            >
              <div [formGroupName]="promoIndex">
                +{{depositOptionIndex+1}} Promo :
                <input type="text" formControlName="amount" />
                Bonus:
                <input type="text" formControlName="bonus" />
   
                <button (click)="removeDepositOptionPromo(depositOptionIndex,promoIndex)">
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form> -->