<div class="alain-default__content-title">
  <div nz-col nzMd="4" nzSm="8">
    <h4 nz-typography>Multiplayer</h4>
  </div>
  <div nz-col nzMd="20" nzSm="40">
    <nz-tabset [(nzSelectedIndex)]="selectedIndex">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab" (nzClick)="selectTab(tab)">
      </nz-tab>
    </nz-tabset>
  </div>
</div>
<!-- tab works for To Review (Open) -->
<div *ngIf="selectedTab === 'Deathmatch'">
  <div class="white_box">
    <form nz-form [nzLayout]="'inline'" (ngSubmit)="submitFilterForm()" class="search__form d-block">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">Room ID</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <input nz-input [(ngModel)]="q._id" name="_id" placeholder="" id="_id" />
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Username</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <input nz-input [(ngModel)]="q.name" name="name" placeholder="" id="name" />
              </nz-form-control>
            </div>
          </div>
        </div>
        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Game</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <nz-select [nzPlaceHolder]="'None'" nzId="game" [(ngModel)]="q.game" name="game" [nzShowSearch]="true"
                  class="w-100">
                  <nz-option nzLabel="None"></nz-option>
                  <nz-option *ngFor="let i of gamesData; let idx = index" [nzLabel]="i.name" [nzValue]="i._id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">Status</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <nz-select [nzPlaceHolder]="'Status'" nzId="status" [(ngModel)]="q.status" name="status"
                  [nzShowSearch]="true" class="w-100">
                  <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.text" [nzValue]="i.value">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Play Option</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <nz-select [nzPlaceHolder]="'PlayOption'" nzId="playOption" [(ngModel)]="q.playOption" name="playOption"
                  [nzShowSearch]="true" class="w-100">
                  <nz-option nzLabel="None">None</nz-option>
                  <nz-option *ngFor="let i of playOptionsData; let idx = index" [nzLabel]="i.name" [nzValue]="i._id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="8" nzSm="8" nzXs="24">
              <nz-form-label class="label_text_right">Type</nz-form-label>
            </div>
            <div nz-col nzMd="16" nzSm="16" nzXs="24">
              <nz-form-control>
                <nz-select [nzPlaceHolder]="'Type'" nzId="type" [(ngModel)]="q.type" name="type" [nzShowSearch]="true"
                  class="w-100">
                  <nz-option *ngFor="let i of type; let idx = index" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="expandForm">
          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="9" nzSm="9" nzXs="27">
              <nz-form-label class="label_text_right">Warning</nz-form-label>
            </div>
            <div nz-col nzMd="15" nzSm="15" nzXs="23">
              <nz-form-control>
                <nz-select [nzPlaceHolder]="'Type'" nzId="type" [(ngModel)]="q.type" name="type" [nzShowSearch]="true"
                  class="w-100">
                  <nz-option *ngFor="let i of type; let idx = index" [nzLabel]="i.text" [nzValue]="i.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </div>
        </div>

        <div nz-col nzLg="8" nzMd="12" nzXs="24" class="mb10" *ngIf="!expandForm">

          <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
            <div nz-col nzMd="24" nzSm="24" nzXs="24" class="text-right">
              <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
                Apply
              </button>
              <button nz-button type="reset" (click)="reset()" class="mx-sm">
                Reset
              </button>
              <a (click)="expandForm = !expandForm">
                {{ expandForm ? "Collapse" : "Expand" }}
                <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
              </a>
            </div>
          </div>

        </div>
        <div nz-col *ngIf="expandForm" [nzSpan]="expandForm ? 24 : 8" [class.text-right]="expandForm">
          <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="filterBtnLoader">
            Apply
          </button>
          <button nz-button type="reset" (click)="reset()" class="mx-sm">
            Reset
          </button>
          <a (click)="expandForm = !expandForm">
            {{ expandForm ? "Collapse" : "Expand" }}
            <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <nz-page-header class="site-page-header white_box mt10">
    <!--title-->
    <nz-page-header-title>Rooms List</nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle>({{ total | number }})</nz-page-header-subtitle>

    <!--extra-->
    <nz-page-header-extra>
      <nz-radio-group [(ngModel)]="sortByPeriod" (ngModelChange)="sortByTime($event)">
        <label nz-radio-button nzValue="24 hours">24 hours</label>
        <label nz-radio-button nzValue="1 month">1 month</label>
        <label nz-radio-button nzValue="3 months">3 months</label>
      </nz-radio-group>
      <nz-page-header-subtitle>Sort by:</nz-page-header-subtitle>
      <nz-select [nzPlaceHolder]="'Last Updated'" [(ngModel)]="selectedUser" (ngModelChange)="sortBy($event)">
        <nz-option *ngFor="let i of sortByFilter" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
      </nz-select>
      <nz-page-header-subtitle><i nz-icon nzType="reload" (click)="reload()"></i></nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <span nz-dropdown [nzDropdownMenu]="menu1">
          <i nz-icon nzType="column-height"></i>
        </span>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="tableSize('default')"><span *ngIf="size === 'default'" nz-typography><a>Big
                  <Link /></a></span> <span *ngIf="size !== 'default'">Big</span></li>
            <li nz-menu-item (click)="tableSize('middle')">Medium</li>
            <li nz-menu-item (click)="tableSize('small')">Compact</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-subtitle>
      <nz-page-header-subtitle>
        <!-- <i nz-icon nzType="setting"></i > -->
      </nz-page-header-subtitle>
    </nz-page-header-extra>
  </nz-page-header>


  <div class="table_scroll white_box">
    <nz-table [(nzSize)]="size" nzShowSizeChanger [nzData]="listOfDeathmatch" [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzColumnKey="_id">Play Option</th>
          <th nzColumnKey="name">Entry Fee</th>
          <th nzColumnKey="game">Bets</th>
          <th nzColumnKey="game">Created By</th>
          <th nzColumnKey="status">Status</th>
          <th nzColumnKey="createdAt" [nzSortFn]="true">Last Updated</th>
          <!-- <th nzColumnKey="playerType" [nzSortFn]="true">24h Players</th> -->
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{ 'data-selected': selectedRow === data._id }"
          *ngFor="let data of listOfDeathmatch; let i = index" (click)="rowClick(data)">
          <td>
            <img nz-image width="100px" height="100px" [nzSrc]="data.playOptions.logo" alt=" " />
            &nbsp;&nbsp;<a>{{ data.playOptions.name }}</a>
          </td>
          <td>5 USD</td>
          <td>{{data.bets.length}}</td>
          <td>Creator Name</td>
          <td>
            <nz-tag nzColor="success" *ngIf="data.status == 'created'">Active</nz-tag>
            <nz-tag nzColor="error" *ngIf="data.status == 'cancelled'">{{
                data.status | titlecase
              }}</nz-tag>
            <nz-tag nzColor="default" *ngIf="data.status == 'finished' || data.status == 'none'">{{
                data.status | titlecase
              }}</nz-tag>
            <nz-tag nzColor="warning" *ngIf="data.status == 'reported'">{{
                data.status | titlecase
              }}</nz-tag>
            <nz-tag nzColor="warning" *ngIf="data.status == 'closed'">{{
                data.status | titlecase
              }}</nz-tag>
          </td>
          <td>{{ data.createdAt | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div *ngIf="selectedTab === 'Bets'">
  <app-multiplayer-bets></app-multiplayer-bets>
</div>

<!-- tab works for To Review (Close) -->