<nz-page-header class="site-page-header user_rightbar">
  <!--title-->
  <nz-page-header-title> Leaderboard &nbsp;{{record.startDate ? (record.startDate | _date:'dd.MM.yyyy' ) : ''}}
  </nz-page-header-title>

  <nz-page-header-extra>
    <nz-tag nzcolor="processing" *ngIf="record.status === 'ongoing'" class="ant-tag ant-tag-processing ng-star-inserted mouse"
      ng-reflect-nz-color="processing" (click)="addPrizes(record)">Add Prizes</nz-tag>
    <!-- ======= If leaderboard status is upcoming then shows edit and delete buttons ======== -->
    <nz-tag nzcolor="processing" *ngIf="record.status === 'upcoming'"
      class="ant-tag ant-tag-processing ng-star-inserted mouse" ng-reflect-nz-color="processing"
      (click)="editLeaderboard(record)">Edit</nz-tag>

    <nz-tag nzcolor="error" *ngIf="record.status === 'upcoming'" class="ant-tag ant-tag-error ng-star-inserted mouse"
      ng-reflect-nz-color="error" (click)="deleteLeaderboard(record)">Delete</nz-tag>

    <nz-page-header-subtitle>
      <i nz-icon nzType="reload" nzTheme="outline" (click)="reload()"></i>
    </nz-page-header-subtitle>
  </nz-page-header-extra>
  <!--content-->
  <nz-page-header-content class="white_bg">
    <div nz-row>
      <div class="content w-100">
        <nz-tabset nzType="card">
          <nz-tab *ngFor="let tab of tabs; let i=index;" [nzTitle]="tab.name" [nzDisabled]="tab.disabled">
            <div nz-col nzMd="10" nzSm="20">
              Status:
              <nz-tag *ngIf="record.status === 'ongoing'" nzcolor="warning"
                class="ant-tag ant-tag-warning ng-star-inserted" ng-reflect-nz-color="warning">
                {{ record.status | titlecase }}</nz-tag>
              <nz-tag nzColor="success" *ngIf="record.status === 'finished'">{{
                    record.status | titlecase }}</nz-tag>
              <nz-tag nzColor="processing" *ngIf="record.status === 'closed'">Completed</nz-tag>
              <nz-tag nzColor="default" *ngIf="record.status === 'upcoming' || record.status === 'closed'">{{
                  record.status | titlecase }}</nz-tag>
            </div>
            <div class="border_top my-2 py-2"></div>

            <!-- Leaderboard Info Tab Open -->
            <div class="content" *ngIf="i == 0">
              <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzSpan="12" nzOffset="1">
                </div>

              </div>
              <div class="border_top my-2"></div>
              <nz-table>
                <tbody>
                  <tr>
                    <td class="text-right">Start Date :</td>
                    <td>{{ record.startDate | _date :'dd.MM.yyyy' }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">End Date :</td>
                    <td>{{ record.endDate | _date :'dd.MM.yyyy'}}</td>
                  </tr>
                  <tr *ngIf="record.status === 'ongoing'">
                    <td class="text-right">Time Left :</td>
                    <!-- <td>03:23:52:41 </td> -->
                    <td>{{record.daysLeft ? record.daysLeft : '00:00:00:00'}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Pro Prize Pool :</td>
                    <td>{{ record.prizes[0].amount | number}} USD</td>
                    <!-- <td>{{ record.createdAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td> -->
                  </tr>
                  <tr>
                    <td class="text-right">Pro Players :</td>
                    <td>{{ record.proPlayersCount }}</td>
                    <!-- <td>{{ record.updatedAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td> -->
                  </tr>
                  <tr>
                    <td class="text-right">Practice Prize Pool :</td>
                    <td>{{ record.prizes[1].amount | number }} xCoins</td>
                  </tr>
                  <tr>
                    <td class="text-right">Practice Players :</td>
                    <td>{{ record.practicePlayersCount }}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Created Date :</td>
                    <td>{{ record.createdOn  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                    <!-- <td>{{ record.updatedAt  | _date :'dd.MM.yyyy  h:mm:ss'}}</td> -->
                  </tr>
                  <tr>
                    <td class="text-right">Created By:</td>
                    <td>
                      <div class="name_title">RM</div>
                      <span nz-typography nzType="secondary">Randy Middleton</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-right">Last Updated :</td>
                    <td>{{ record.updatedOn  | _date :'dd.MM.yyyy  h:mm:ss'}}</td>
                  </tr>
                  <tr>
                    <td class="text-right">Updated By :</td>
                    <td>
                      <div class="name_title">RG</div>
                      <span nz-typography nzType="secondary">Roma Gordon</span>
                    </td>
                  </tr>
                  <tr>

                </tbody>
              </nz-table>
            </div>
            <!-- Leaderboard Info Tab Close -->

            <!-- Pro League  Tab Open -->
            <div class="content" *ngIf="i == 1">
              <div class="border_top my-2"></div>
              <h3 class="text-left">Prize Pool {{record.prizes[0].amount | number}} USD</h3>
              <span *ngIf="record.status === 'upcoming'" nz-typography nzType="secondary">Leaderboard hasn’t started
                yet.</span>
              <div class="border_top my-2 py-2"></div>
              <div *ngIf="record.status === 'ongoing'">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="3">
                    <div class="inner-box th">#</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box th"><strong>Flag</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box th"><strong>Player</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box th"><strong>Trophies</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box th"><strong>Win, USD</strong></div>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  *ngFor="let proLeague of leaderBoardPrizePoolData; let index = index;">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="3">
                    <div class="inner-box">{{index+1}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box"><img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg"
                        alt="" /></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">{{proLeague.player}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box">{{proLeague.trophies}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">{{proLeague.winUSD}}</div>
                  </div>
                </div>
              </div>


              <div *ngIf="record.status === 'completed' || record.status === 'finished'">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                    <div class="inner-box th">#</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box th"><strong>Flag</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box th"><strong>Player</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box th"><strong>Trophies</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box th"><strong>Win, USD</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box th"><strong>Payment</strong></div>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  *ngFor="let proLeague of leaderBoardPrizePoolData; let index = index;">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                    <div class="inner-box">{{index+1}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box"><img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg"
                        alt="" /></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box">{{proLeague.player}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">{{proLeague.trophies}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box">{{proLeague.winUSD}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box text-center"><i class="text-success" nz-icon nzType="check-circle"
                        nzTheme="fill"></i> </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Pro League Tab Close -->


            <!-- Practice League  Tab Open -->
            <div class="content" *ngIf="i == 2">
              <div class="border_top my-2"></div>
              <h3 class="text-left">Prize Pool {{record.prizes[1].amount | number}} xCoins</h3>
              <span *ngIf="record.status === 'upcoming'" nz-typography nzType="secondary">Leaderboard hasn’t started
                yet.</span>
              <div class="border_top my-2 py-2"></div>
              <div *ngIf="record.status === 'ongoing'">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="3">
                    <div class="inner-box th">#</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box th"><strong>Flag</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box th"><strong>Player</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box th"><strong>Ribbons</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box th"><strong>Win, xCoins</strong></div>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  *ngFor="let proLeague of leaderBoardPrizePoolData; let index = index;">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="3">
                    <div class="inner-box">{{index+1}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box"><img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg"
                        alt="" /></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">{{proLeague.player}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box">{{proLeague.trophies}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="6">
                    <div class="inner-box">{{proLeague.winUSD}}</div>
                  </div>
                </div>

              </div>
              <div *ngIf="record.status === 'completed' || record.status === 'finished'">
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                    <div class="inner-box th">#</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box th"><strong>Flag</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box th"><strong>Player</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box th"><strong>Ribbons</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box th"><strong>Win, xCoins</strong></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box th"><strong>Payment</strong></div>
                  </div>
                </div>
                <div class="border_top my-2"></div>
                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }"
                  *ngFor="let proLeague of leaderBoardPrizePoolData; let index = index;">
                  <div nz-col class="gutter-row" nzOffset="1" [nzSpan]="2">
                    <div class="inner-box">{{index+1}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="3">
                    <div class="inner-box"><img nz-image width="20px" height="20px" nzSrc="./assets/united-states.svg"
                        alt="" /></div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box">{{proLeague.player}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box">{{proLeague.trophies}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="5">
                    <div class="inner-box">{{proLeague.winUSD}}</div>
                  </div>
                  <div nz-col class="gutter-row" [nzSpan]="4">
                    <div class="inner-box text-center"><i class="text-success" nz-icon nzType="check-circle"
                        nzTheme="fill"></i> </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Practice League  Tab Open -->
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>