
<div class="modal-container">
    <div class="modal_header">
    <h3>{{ data.title }}</h3>
    </div>
      <form nz-form [formGroup]="leaderBoardForm" (ngSubmit)="save(leaderBoardForm.valid, leaderBoardForm.value)">
    <div class="modal-body pt-4">
        <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Start Date</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="startDateErrorTpl">
              <nz-date-picker nzFormat="yyyy-MM-dd" [nzDisabledDate]="disabledDate" 
              formControlName="startDate"></nz-date-picker>
              <ng-template #startDateErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input start date!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>End Date</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="endDateErrorTpl">
              <nz-date-picker nzFormat="yyyy-MM-dd" [nzDisabledDate]="disabledEndDate" formControlName="endDate"></nz-date-picker>
              <ng-template #endDateErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input endDate!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Pro Prize Pool</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="proPrizePoolErrorTpl">
              <nz-input-group nzAddOnAfter="USD">
                <nz-input-number formControlName="proPrizePool" [nzMin]="1" [nzStep]="1"></nz-input-number>
              </nz-input-group>
              <ng-template #proPrizePoolErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input Pro Prize Pool!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="21" nzRequired>Practice Prize Pool</nz-form-label>
            <nz-form-control [nzSm]="17" [nzXs]="25"  nzValidatingTip="Validating..." [nzErrorTip]="practicePrizePoolErrorTpl">
              <nz-input-group nzAddOnAfter="xCoins">
                <nz-input-number formControlName="practicePrizePool" [nzMin]="1" [nzStep]="1"></nz-input-number>
              </nz-input-group>
              <ng-template #practicePrizePoolErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input Practice Prize Pool!
                </ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">
                  The  name is redundant!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
    </div>
        <div class="modal_footer text-right">
          <button nz-button type="reset" class="ml-sm" (click)="closeModal()" >Cancel</button>
          <button nz-button nzType="primary" type="submit" [disabled]="!leaderBoardForm.valid" [nzLoading]="submitting">
            <span *ngIf='!this.data.leaderboardData'>Save Leaderboard</span>
            <span *ngIf='this.data.leaderboardData'>Save Updates</span>
          </button>
        </div>
      </form>
  </div>
  