<div>
    <h3>{{ data.title }}</h3>
    <form [formGroup]="resetForm" (ngSubmit)="save(resetForm.valid, resetForm.value)">
    <!-- <p> -->
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter valid secret key">
                    <nz-input-group nzSize="default" nzPrefixIcon="key">
            <input nz-input type="password" formControlName="secretKey" placeholder="Enter secret-key" />
          </nz-input-group>
          <!-- <nz-input-group nzSize="default" nzPrefixIcon="key" [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible ? 'text' : 'password'" nz-input type="password" formControlName="secretKey" placeholder="Enter secret-key" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
          </ng-template> -->
        </nz-form-control>
      </nz-form-item>
        <!-- <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Enter secret-key" formControlName="secretKey" /> -->
    
      <!-- <span>Get Modal instance in component</span> -->
      <div class="modal_footer text-right mt20">
        <button nz-button class="ml-sm" (click)="closeModal()">Cancel</button>
        <button  nz-button nzType="primary" 
        type="submit" [disabled]="!resetForm.valid">Validate</button>
      </div>
      <!-- <button nz-button [nzType]="'success'" (click)="destroyModal()">success</button> -->
    <!-- </p> -->
  </form>
  </div>