<div class="modal-container">
  <div class="modal_header">
    <h3>{{ data.title }}</h3>
  </div>
  <form nz-form [formGroup]="addPrizesForm" (ngSubmit)="save(addPrizesForm.valid, addPrizesForm.value)">
    <div class="modal-body pt-4">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="46" nzRequired>Add amount to Pro Prize Pool</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="46" nzHasFeedback nzValidatingTip="Validating..."
          [nzErrorTip]="proPrizePoolErrorTpl">
          <nz-input-group nzAddOnAfter="USD">
            <!-- <input type="text" nz-input formControlName="proPrizePool" /> -->
            <nz-input-number formControlName="proPrizePool" [nzMin]="1" [nzStep]="1"></nz-input-number>
          </nz-input-group>
          <span nz-typography nzType="secondary">Pro prize pool will be:
            {{data.leaderBoardData.prizes[0].amount + this.addPrizesForm.controls['proPrizePool'].value | number}}
            USD</span>
          <ng-template #proPrizePoolErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input Pro Prize Pool!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              The name is redundant!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="46" nzRequired>Add amount to Practice Prize Pool</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="46" nzHasFeedback nzValidatingTip="Validating..."
          [nzErrorTip]="practicePrizePoolErrorTpl">
          <nz-input-group nzAddOnAfter="xCoins">
            <!-- <input type="text" nz-input formControlName="practicePrizePool" /> -->
            <nz-input-number formControlName="practicePrizePool" [nzMin]="1" [nzStep]="1"></nz-input-number>
          </nz-input-group>
          <span nz-typography nzType="secondary">Practice prize pool will be:
            {{data.leaderBoardData.prizes[1].amount + this.addPrizesForm.controls['practicePrizePool'].value | number}}
            xCoins</span>
          <ng-template #practicePrizePoolErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input Practice Prize Pool!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              The name is redundant!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

    </div>
    <div class="modal_footer text-right">
      <button nz-button type="reset" class="ml-sm" (click)="closeModal()">Cancel</button>
      <button nz-button nzType="primary" type="submit" [disabled]="!addPrizesForm.valid" [nzLoading]="submitted">
        <span *ngIf='!this.data.record'>Add Prizes</span>
        <span *ngIf='this.data.record'>Save Updates</span>
      </button>
    </div>
  </form>


  <!-- </nz-card> -->
</div>