.pt-4{
    padding-top: 23px;
}
nz-date-picker{
    width:100%;
}
nz-form-label.ant-form-item-label.ant-col.ant-col-xs-46.ant-col-sm-24{
    text-align:left;
}
span{
    font-size: 0.85rem;
}
nz-input-number{
    width:100%;
}