<h4>{{subtitle}}</h4>
<form [formGroup]="balanceForm" (ngSubmit)="save(balanceForm.valid, balanceForm.value)">
<div nz-row class="my-2">
    <div nz-col nzSpan="12">
        <nz-input-number formControlName="balance" [nzMin]="1" [nzMax]="10" [nzStep]="0.1" [nzPlaceHolder]="'Digital'"></nz-input-number>
    </div>
    <div *ngIf="paid"  nz-col nzSpan="12">USD</div>
    <div *ngIf="!paid"  nz-col nzSpan="12">xCoins</div>
  </div>
  <div nz-row >
    <div nz-col nzSpan="24" class="my-2">
       <span *ngIf="paid">{{statement}} 106.56 USD</span>
       <span *ngIf="!paid">{{statement}} 106.56 xCoins</span>
    </div>
    <div nz-col nzSpan="24">
        <p>Add a reason of deposit to keep it in system</p>
    </div>
  </div>

  <textarea
  nz-input formControlName="comments"
  placeholder="Type message here (required)"
  [nzAutosize]="{ minRows: 3, maxRows: 8 }"
></textarea>
<div class="modal_footer text-right mt20">
    <button nz-button class="ml-sm" type="reset" (click)="closeModal()">Close</button>
    <button  nz-button nzType="primary" 
    type="submit" [disabled]="!balanceForm.valid">Confirm</button>
  </div>
</form>